Repository 45ck/Portarium: changes, and which Codecov flags are due for each by the changed paths.
All: backend, cockpit

codecov.yml:

# Codecov configuration
# https://docs.codecov.com/docs/codecovyml-reference
#
# Bead: bead-0825

coverage:
  status:
    project:
      default:
        target: auto # compare against base commit
        threshold: 1% # allow 1% drop without failing
        informational: true # don't block PRs on coverage changes (advisory only)
    patch:
      default:
        target: 70% # new code in PRs must be â‰¥70% covered
        informational: true

comment:
  layout: 'reach,diff,flags,tree'
  behavior: default
  require_changes: false

flags:
  backend:
    paths:
      - src/
    carryforward: true
  cockpit:
    paths:
      - apps/cockpit/src/
    carryforward: true

ignore:
  - 'src/**/*.test.ts'
  - 'src/**/index.ts'
  - 'src/infrastructure/migrations/cli.ts'
  - 'src/infrastructure/observability/otel-setup.ts'
  - 'apps/cockpit/src/**/*.test.tsx'
  - 'apps/cockpit/src/**/*.stories.tsx'
  - 'apps/cockpit/src/mocks/**'

chore: close bead-0931
  .beads/issues.jsonl
Due: none

test(bead-0929): add integration test for approve→execute lifecycle
  scripts/integration/scenario-approval-execute-lifecycle.test.ts
Due: none

chore: close bead-0929
  .beads/issues.jsonl
Due: none

feat(bead-0930): add control-plane execute delegation and lint fixes
  scripts/demo/portarium-tool-proxy.mjs
Due: none

chore: close bead-0930
  .beads/issues.jsonl
Due: none

chore: start bead-0932 bead-0933
  .beads/issues.jsonl
Due: none

fix(bead-0932): wire workspaceQueryStore, runQueryStore, agentActionProposalStore in DEV_STUB_STORES path
  src/presentation/runtime/control-plane-handler.bootstrap.ts
Due: backend

chore: close bead-0932
  .beads/issues.jsonl
Due: none

chore: start bead-0935
  .beads/issues.jsonl
Due: none

feat(bead-0933): add SDK list operations and waitForApproval convenience
  src/sdk/portarium-client.test.ts
  src/sdk/portarium-client.ts
Due: backend

chore: close bead-0933
  .beads/issues.jsonl
Due: none

chore: start bead-0934
  .beads/issues.jsonl
Due: none

test(bead-0935): add integration test for overnight approval durability (ADR-0117)
  scripts/integration/scenario-overnight-approval.test.ts
Due: none

chore: close bead-0935
  .beads/issues.jsonl
Due: none

feat(bead-0934): render agentActionProposal metadata in cockpit approval cards
  apps/cockpit/src/components/cockpit/approval-gate-panel.tsx
  apps/cockpit/src/components/cockpit/approval-list-panel.test.tsx
  apps/cockpit/src/components/cockpit/approval-list-panel.tsx
  apps/cockpit/src/mocks/fixtures/demo.ts
Due: cockpit

chore: close bead-0934
  .beads/issues.jsonl
Due: none

feat(cockpit): add Tactical theme — Atlas briefing aesthetic
  apps/cockpit/.storybook/preview.ts
  apps/cockpit/public/fonts/IBMPlexSansCondensed-400.woff2
  apps/cockpit/public/fonts/IBMPlexSansCondensed-500.woff2
  apps/cockpit/public/fonts/Orbitron-500.woff2
  apps/cockpit/public/fonts/Orbitron-700.woff2
  apps/cockpit/public/fonts/Rajdhani-500.woff2
  apps/cockpit/public/fonts/Rajdhani-700.woff2
  apps/cockpit/src/components/cockpit/command-palette.tsx
  apps/cockpit/src/components/cockpit/theme-picker.tsx
  apps/cockpit/src/hooks/use-theme.ts
  apps/cockpit/src/index.css
Due: cockpit

docs(review): add Fagan inspection record for Tactical theme commit
  reports/review/INSPECTION_RECORD.md
Due: none

feat: wire infrastructure stores, CORS, live workspace, and agent display hardening
  apps/cockpit/src/mocks/fixtures/index.ts
  apps/cockpit/src/routes/config/agent-detail.tsx
  apps/cockpit/src/routes/config/agents.tsx
  apps/cockpit/src/stores/ui-store.ts
  scripts/ab.mjs
  src/infrastructure/postgresql/postgres-machine-registry-store.ts
  src/infrastructure/stores/in-memory-evidence-log.ts
  src/infrastructure/stores/in-memory-machine-registry-store.ts
  src/infrastructure/stores/in-memory-policy-store.ts
  src/presentation/runtime/control-plane-handler.bootstrap.ts
  src/presentation/runtime/control-plane-handler.ts
Due: backend, cockpit

style: format entire codebase with prettier
  apps/cockpit/src/index.css
  src/infrastructure/postgresql/postgres-machine-registry-store.ts
  src/infrastructure/stores/in-memory-evidence-log.ts
  src/infrastructure/stores/in-memory-machine-registry-store.ts
  src/presentation/runtime/control-plane-handler.bootstrap.ts
  src/presentation/runtime/control-plane-handler.ts
Due: backend, cockpit

refactor: use branded type constructors instead of `as never` casts in seedDefaultPolicy
  src/presentation/runtime/control-plane-handler.bootstrap.ts
Due: backend

test: add unit tests for InMemoryEvidenceLog and InMemoryPolicyStore
  src/infrastructure/stores/in-memory-evidence-log.test.ts
  src/infrastructure/stores/in-memory-policy-store.test.ts
Due: none

fix: resolve lint errors in bootstrap and CORS middleware
  src/presentation/runtime/control-plane-handler.bootstrap.ts
  src/presentation/runtime/control-plane-handler.ts
Due: backend

style: format remaining files caught by ci:pr
  src/infrastructure/stores/in-memory-evidence-log.test.ts
  src/infrastructure/stores/in-memory-machine-registry-store.test.ts
  src/presentation/runtime/control-plane-handler.ts
Due: backend

fix: address HIGH-severity review findings from live boot session
  src/infrastructure/stores/in-memory-evidence-log.ts
  src/infrastructure/stores/in-memory-machine-registry-store.ts
  src/presentation/runtime/control-plane-handler.bootstrap.ts
Due: backend

chore: prune platform-specific optional deps from package-lock.json
  package-lock.json
Due: none

fix: implement cursor-based pagination in approval expiry scheduler
  src/application/services/approval-expiry-scheduler.test.ts
  src/application/services/approval-expiry-scheduler.ts
Due: backend

feat: wire PolicyStore to PostgreSQL via domain_documents table
  scripts/integration/agent-action-governance-lifecycle.contract.test.ts
  scripts/integration/companion-cli-wiring.contract.test.ts
  src/application/commands/propose-agent-action.perf.test.ts
  src/application/commands/propose-agent-action.test.ts
  src/application/commands/submit-map-command-intent.test.ts
  src/application/ports/policy-store.ts
  src/application/services/approval-expiry-scheduler.test.ts
  src/infrastructure/postgresql/postgres-store-adapters.ts
  src/presentation/runtime/control-plane-handler.agent-actions.contract.test.ts
  src/presentation/runtime/control-plane-handler.agent-actions.ts
  src/presentation/runtime/control-plane-handler.bootstrap.ts
Due: backend

feat: add HTTP E2E smoke test and fix MEDIUM scrutiny issues
  apps/cockpit/src/mocks/fixtures/index.ts
  apps/cockpit/src/stores/ui-store.ts
  package.json
  scripts/smoke/http-api-e2e-smoke.ts
Due: cockpit

chore: create Pre-GA milestone beads (0936-0947)
  .beads/issues.jsonl
Due: none

chore: start bead-0936
  .beads/issues.jsonl
Due: none

feat(bead-0936): add readiness probes with dependency health checks
  src/presentation/runtime/control-plane.ts
  src/presentation/runtime/health-server.test.ts
  src/presentation/runtime/health-server.ts
Due: backend

chore: close bead-0936
  .beads/issues.jsonl
Due: none

chore: start bead-0937
  .beads/issues.jsonl
Due: none

feat(bead-0937): seed default rate limit rules in bootstrap
  src/infrastructure/rate-limiting/in-memory-rate-limit-store.ts
  src/infrastructure/rate-limiting/redis-rate-limit-store.ts
  src/presentation/runtime/control-plane-handler.bootstrap.ts
Due: backend

chore: close bead-0937
  .beads/issues.jsonl
Due: none

chore: start bead-0938
  .beads/issues.jsonl
Due: none

feat(bead-0938): add CSP and security headers per ADR-0061
  apps/cockpit/index.html
  src/presentation/runtime/control-plane-handler.security-headers.test.ts
  src/presentation/runtime/control-plane-handler.ts
Due: backend

chore: close bead-0938
  .beads/issues.jsonl
Due: none

chore: start bead-0942
  .beads/issues.jsonl
Due: none
