Repository 45ck/Portarium: changes, and which Codecov flags are due for each by the changed paths.
All: backend, cockpit

feat: add static repository contract harness adapter
  .beads/issues.jsonl
  docs/internal/engineering-layer/README.md
  docs/internal/engineering-layer/gslr-27-persistent-static-repository-adapter-contract-2026-05-13.md
  docs/internal/engineering-layer/gslr-28-persistent-static-repository-contract-harness-adapter-2026-05-13.md
  docs/internal/engineering-layer/gslr-current-progress-2026-05-13.md
  docs/internal/engineering-layer/static-evidence-review-workbench-plan-2026-05-13.md
  src/domain/evidence/gslr-persistent-static-repository-contract-harness-adapter-v1.test.ts
  src/domain/evidence/gslr-persistent-static-repository-contract-harness-adapter-v1.ts
  src/domain/evidence/index.ts
Due: backend

feat: add static repository database adapter review
  .beads/issues.jsonl
  docs/internal/engineering-layer/README.md
  docs/internal/engineering-layer/gslr-28-persistent-static-repository-contract-harness-adapter-2026-05-13.md
  docs/internal/engineering-layer/gslr-29-persistent-static-repository-database-adapter-review-2026-05-13.md
  docs/internal/engineering-layer/gslr-current-progress-2026-05-13.md
  docs/internal/engineering-layer/static-evidence-review-workbench-plan-2026-05-13.md
  src/domain/evidence/gslr-persistent-static-repository-database-adapter-review-v1.test.ts
  src/domain/evidence/gslr-persistent-static-repository-database-adapter-review-v1.ts
  src/domain/evidence/index.ts
Due: backend

feat: add draft postgres adapter scaffold
  .beads/issues.jsonl
  docs/internal/engineering-layer/README.md
  docs/internal/engineering-layer/gslr-29-persistent-static-repository-database-adapter-review-2026-05-13.md
  docs/internal/engineering-layer/gslr-30-persistent-static-repository-draft-postgres-adapter-2026-05-13.md
  docs/internal/engineering-layer/gslr-current-progress-2026-05-13.md
  docs/internal/engineering-layer/static-evidence-review-workbench-plan-2026-05-13.md
  src/domain/evidence/gslr-persistent-static-repository-draft-postgres-adapter-v1.test.ts
  src/domain/evidence/gslr-persistent-static-repository-draft-postgres-adapter-v1.ts
  src/domain/evidence/index.ts
Due: backend

feat: add draft sql review packet
  .beads/issues.jsonl
  docs/internal/engineering-layer/README.md
  docs/internal/engineering-layer/gslr-30-persistent-static-repository-draft-postgres-adapter-2026-05-13.md
  docs/internal/engineering-layer/gslr-31-persistent-static-repository-draft-sql-review-2026-05-13.md
  docs/internal/engineering-layer/gslr-current-progress-2026-05-13.md
  docs/internal/engineering-layer/static-evidence-review-workbench-plan-2026-05-13.md
  src/domain/evidence/gslr-persistent-static-repository-draft-sql-review-v1.test.ts
  src/domain/evidence/gslr-persistent-static-repository-draft-sql-review-v1.ts
  src/domain/evidence/index.ts
Due: backend

feat: add executable adapter design review
  .beads/issues.jsonl
  docs/internal/engineering-layer/README.md
  docs/internal/engineering-layer/gslr-31-persistent-static-repository-draft-sql-review-2026-05-13.md
  docs/internal/engineering-layer/gslr-32-persistent-static-repository-executable-adapter-design-review-2026-05-13.md
  docs/internal/engineering-layer/gslr-current-progress-2026-05-13.md
  docs/internal/engineering-layer/static-evidence-review-workbench-plan-2026-05-13.md
  src/domain/evidence/gslr-persistent-static-repository-executable-adapter-design-review-v1.test.ts
  src/domain/evidence/gslr-persistent-static-repository-executable-adapter-design-review-v1.ts
  src/domain/evidence/index.ts
Due: backend

feat: add executable adapter scaffold
  .beads/issues.jsonl
  docs/internal/engineering-layer/README.md
  docs/internal/engineering-layer/gslr-32-persistent-static-repository-executable-adapter-design-review-2026-05-13.md
  docs/internal/engineering-layer/gslr-33-persistent-static-repository-executable-adapter-scaffold-2026-05-13.md
  docs/internal/engineering-layer/gslr-current-progress-2026-05-13.md
  docs/internal/engineering-layer/static-evidence-review-workbench-plan-2026-05-13.md
  src/domain/evidence/gslr-persistent-static-repository-executable-adapter-scaffold-v1.test.ts
  src/domain/evidence/gslr-persistent-static-repository-executable-adapter-scaffold-v1.ts
  src/domain/evidence/index.ts
Due: backend

feat: add scaffold code review evidence
  .beads/issues.jsonl
  docs/internal/engineering-layer/README.md
  docs/internal/engineering-layer/gslr-33-persistent-static-repository-executable-adapter-scaffold-2026-05-13.md
  docs/internal/engineering-layer/gslr-34-persistent-static-repository-scaffold-code-review-2026-05-13.md
  docs/internal/engineering-layer/gslr-current-progress-2026-05-13.md
  docs/internal/engineering-layer/static-evidence-review-workbench-plan-2026-05-13.md
  src/domain/evidence/gslr-persistent-static-repository-scaffold-code-review-v1.test.ts
  src/domain/evidence/gslr-persistent-static-repository-scaffold-code-review-v1.ts
  src/domain/evidence/index.ts
Due: backend

feat: add unbound adapter shell contract
  .beads/issues.jsonl
  docs/internal/engineering-layer/README.md
  docs/internal/engineering-layer/gslr-34-persistent-static-repository-scaffold-code-review-2026-05-13.md
  docs/internal/engineering-layer/gslr-35-persistent-static-repository-unbound-adapter-shell-2026-05-13.md
  docs/internal/engineering-layer/gslr-current-progress-2026-05-13.md
  docs/internal/engineering-layer/static-evidence-review-workbench-plan-2026-05-13.md
  src/domain/evidence/gslr-persistent-static-repository-unbound-adapter-shell-v1.test.ts
  src/domain/evidence/gslr-persistent-static-repository-unbound-adapter-shell-v1.ts
  src/domain/evidence/index.ts
Due: backend

feat: add unbound adapter shell review
  .beads/issues.jsonl
  docs/internal/engineering-layer/README.md
  docs/internal/engineering-layer/gslr-35-persistent-static-repository-unbound-adapter-shell-2026-05-13.md
  docs/internal/engineering-layer/gslr-36-persistent-static-repository-unbound-adapter-shell-review-2026-05-13.md
  docs/internal/engineering-layer/gslr-current-progress-2026-05-13.md
  docs/internal/engineering-layer/static-evidence-review-workbench-plan-2026-05-13.md
  src/domain/evidence/gslr-persistent-static-repository-unbound-adapter-shell-review-v1.test.ts
  src/domain/evidence/gslr-persistent-static-repository-unbound-adapter-shell-review-v1.ts
  src/domain/evidence/index.ts
Due: backend

docs: record repository sweep
  docs/internal/engineering-layer/gslr-current-progress-2026-05-13.md
Due: none

feat: surface agent operator UI in cockpit
  apps/cockpit/src/hooks/queries/use-agents.ts
  apps/cockpit/src/mocks/fixtures/demo.ts
  apps/cockpit/src/routes/config/agent-detail.test.tsx
  apps/cockpit/src/routes/config/agent-detail.tsx
  src/presentation/ops-cockpit/types.machines.ts
Due: backend, cockpit

test: add OpenClaw operator UI to showcase fixture
  apps/cockpit/src/mocks/fixtures/platform-showcase.ts
Due: none

feat: carry operator UI through live agent seed
  scripts/seed/cockpit-live-seed-data.ts
  src/domain/machines/machine-registration-v1.test.ts
  src/domain/machines/machine-registration-v1.ts
  src/presentation/runtime/control-plane-handler.machines.ts
Due: backend

fix: validate operator UI URLs
  src/domain/machines/machine-registration-v1.test.ts
  src/domain/machines/machine-registration-v1.ts
  src/presentation/runtime/control-plane-handler.machine-agent.contract.test.ts
Due: backend

test: stabilize sidecar throughput budget
  src/infrastructure/sidecar/gateway-sidecar-perf-budget.test.ts
Due: none

Path conditions:
  backend: any of: src/, but not: src/**/*.test.ts, src/**/index.ts, src/infrastructure/migrations/cli.ts, src/infrastructure/observability/otel-setup.ts, apps/cockpit/src/**/*.test.tsx, apps/cockpit/src/**/*.stories.tsx, apps/cockpit/src/mocks/**
  cockpit: any of: apps/cockpit/src/, but not: src/**/*.test.ts, src/**/index.ts, src/infrastructure/migrations/cli.ts, src/infrastructure/observability/otel-setup.ts, apps/cockpit/src/**/*.test.tsx, apps/cockpit/src/**/*.stories.tsx, apps/cockpit/src/mocks/**
