Repository 45ck/Portarium: changes, and which Codecov flags are due for each by the changed paths.
All: backend, cockpit

codecov.yml:

# Codecov configuration
# https://docs.codecov.com/docs/codecovyml-reference
#
# Bead: bead-0825

coverage:
  status:
    project:
      default:
        target: auto # compare against base commit
        threshold: 1% # allow 1% drop without failing
        informational: true # don't block PRs on coverage changes (advisory only)
    patch:
      default:
        target: 70% # new code in PRs must be â‰¥70% covered
        informational: true

comment:
  layout: 'reach,diff,flags,tree'
  behavior: default
  require_changes: false

flags:
  backend:
    paths:
      - src/
    carryforward: true
  cockpit:
    paths:
      - apps/cockpit/src/
    carryforward: true

ignore:
  - 'src/**/*.test.ts'
  - 'src/**/index.ts'
  - 'src/infrastructure/migrations/cli.ts'
  - 'src/infrastructure/observability/otel-setup.ts'
  - 'apps/cockpit/src/**/*.test.tsx'
  - 'apps/cockpit/src/**/*.stories.tsx'
  - 'apps/cockpit/src/mocks/**'

feat: gate cockpit robotics in live mode
  .specify/specs/cockpit-demo-mock-mode-v1.md
  .specify/specs/location-map-operations-v1.md
  .specify/specs/presentation-layer-reference-cockpit-v1.md
  apps/cockpit/src/components/cockpit/command-palette.test.tsx
  apps/cockpit/src/components/cockpit/command-palette.tsx
  apps/cockpit/src/components/cockpit/robotics-runtime-state.tsx
  apps/cockpit/src/hooks/queries/use-gateways.ts
  apps/cockpit/src/hooks/queries/use-missions.ts
  apps/cockpit/src/hooks/queries/use-robot-locations.ts
  apps/cockpit/src/hooks/queries/use-robots.ts
  apps/cockpit/src/hooks/queries/use-safety.ts
  apps/cockpit/src/lib/robotics-runtime.ts
  apps/cockpit/src/routes/__root.tsx
  apps/cockpit/src/routes/robotics/$robotId.tsx
  apps/cockpit/src/routes/robotics/gateways.tsx
  apps/cockpit/src/routes/robotics/index.tsx
  apps/cockpit/src/routes/robotics/map.tsx
  apps/cockpit/src/routes/robotics/missions.tsx
  apps/cockpit/src/routes/robotics/missions/$missionId.tsx
  apps/cockpit/src/routes/robotics/robotics-runtime-gating.test.tsx
  apps/cockpit/src/routes/robotics/robots.tsx
  apps/cockpit/src/routes/robotics/safety.tsx
  docs/internal/ui/cockpit/mvp-plan.md
  scripts/ci/cockpit-consumed-endpoints.json
Due: cockpit

chore: close bead-1134
  .beads/issues.jsonl
Due: none

chore: start bead-1135
  .beads/issues.jsonl
Due: none

feat: harden cockpit live auth origins
  .env.local.example
  .specify/specs/environment-model-v1.md
  .specify/specs/presentation-layer-reference-cockpit-v1.md
  docker-compose.local.yml
  docs/getting-started/local-dev.md
  docs/how-to/first-run-local-integrations.md
  docs/integration-harness.md
  docs/integration/demo-walkthrough.md
  docs/local-scenario-matrix.md
  docs/reference/runtime-and-env.md
  docs/tutorials/evidence-trace.md
  docs/tutorials/first-work-item.md
  docs/tutorials/hello-governed-workflow.md
  infra/docker/README.md
  scripts/ci/check-cockpit-preview-smoke.mjs
  src/infrastructure/auth/dev-auth-production-guard.test.ts
  src/infrastructure/auth/dev-auth-production-guard.ts
  src/infrastructure/auth/jose-jwt-authentication.test.ts
  src/infrastructure/auth/jose-jwt-authentication.ts
  src/presentation/runtime/control-plane-handler.bootstrap.test.ts
  src/presentation/runtime/control-plane-handler.bootstrap.ts
  src/presentation/runtime/control-plane-handler.security-headers.test.ts
  src/presentation/runtime/control-plane-handler.ts
  src/presentation/runtime/control-plane-origin-policy.ts
  src/types/hono.d.ts
Due: backend

chore: close bead-1135
  .beads/issues.jsonl
Due: none

chore: start bead-1137
  .beads/issues.jsonl
Due: none

feat: seed live cockpit workspace
  .ci/gate-baseline.json
  .specify/specs/environment-model-v1.md
  README.md
  docs/getting-started/hello-portarium.md
  docs/getting-started/local-dev.md
  docs/how-to/run-cockpit-demos-locally.md
  docs/integration/demo-walkthrough.md
  eslint.config.mjs
  infra/docker/README.md
  package.json
  scripts/seed/cockpit-live-seed-data.test.ts
  scripts/seed/cockpit-live-seed-data.ts
  scripts/seed/seed-all.mjs
  scripts/seed/seed-cockpit-live.test.ts
  scripts/seed/seed-cockpit-live.ts
Due: none

chore: close bead-1137
  .beads/issues.jsonl
Due: none

chore: start bead-1138
  .beads/issues.jsonl
Due: none

feat: gate cockpit live-stack smoke
  .ci/gate-baseline.json
  .specify/specs/cockpit-live-stack-smoke-v1.md
  docs/internal/governance/cockpit-live-release-gate.md
  docs/internal/qa/README.md
  docs/internal/qa/cockpit-live-agent-browser-checklist.md
  docs/internal/review/artifacts/bead-1138/live-stack/latest/index.json
  e2e/live-stack/cockpit-live-stack.spec.ts
  e2e/live-stack/playwright.config.ts
  package.json
  scripts/qa/run-cockpit-live-stack-smoke.mjs
  scripts/qa/start-cockpit-live-e2e.mjs
Due: none

chore: close bead-1138
  .beads/issues.jsonl
Due: none

chore: start bead-1115
  .beads/issues.jsonl
Due: none

feat: mount installed cockpit extension routes
  apps/cockpit/src/components/cockpit/extensions/external-route-host.tsx
  apps/cockpit/src/lib/extensions/installed.test.ts
  apps/cockpit/src/lib/extensions/installed.ts
  apps/cockpit/src/lib/extensions/route-host.test.ts
  apps/cockpit/src/lib/extensions/route-host.ts
  apps/cockpit/src/lib/extensions/types.ts
  apps/cockpit/src/router.ts
  apps/cockpit/src/routes/external/external-route-host.test.tsx
  apps/cockpit/src/routes/external/installed-extension-routes.tsx
Due: cockpit

chore: close bead-1115
  .beads/issues.jsonl
Due: none

chore: start bead-1116
  .beads/issues.jsonl
Due: none

feat: resolve cockpit workspace extension activation
  .specify/specs/presentation-layer-reference-cockpit-v1.md
  apps/cockpit/src/components/cockpit/command-palette.test.tsx
  apps/cockpit/src/components/cockpit/extensions/external-route-adapter.test.ts
  apps/cockpit/src/components/cockpit/extensions/external-route-adapter.ts
  apps/cockpit/src/hooks/use-keyboard-shortcuts.test.tsx
  apps/cockpit/src/lib/extensions/access-context.test.ts
  apps/cockpit/src/lib/extensions/access-context.ts
  apps/cockpit/src/lib/extensions/installed.test.ts
  apps/cockpit/src/lib/extensions/installed.ts
  apps/cockpit/src/lib/extensions/registry.test.ts
  apps/cockpit/src/lib/extensions/registry.ts
  apps/cockpit/src/lib/extensions/types.ts
  apps/cockpit/src/routes/explore/extensions.test.tsx
  apps/cockpit/src/routes/explore/extensions.tsx
  apps/cockpit/src/routes/external/external-route-host.test.tsx
  docs/how-to/install-cockpit-extension-package.md
  src/infrastructure/cockpit/env-cockpit-extension-activation-source.test.ts
Due: cockpit

chore: close bead-1116
  .beads/issues.jsonl
Due: none

chore: start bead-1117
  .beads/issues.jsonl
Due: none

feat: enforce cockpit extension host guards
  .specify/specs/presentation-layer-reference-cockpit-v1.md
  apps/cockpit/src/components/cockpit/command-palette.test.tsx
  apps/cockpit/src/components/cockpit/command-palette.tsx
  apps/cockpit/src/components/cockpit/extensions/external-route-adapter.test.ts
  apps/cockpit/src/components/cockpit/extensions/external-route-adapter.ts
  apps/cockpit/src/components/cockpit/extensions/external-route-host.tsx
  apps/cockpit/src/components/cockpit/mobile-bottom-nav.tsx
  apps/cockpit/src/hooks/use-keyboard-shortcuts.test.tsx
  apps/cockpit/src/hooks/use-keyboard-shortcuts.ts
  apps/cockpit/src/lib/control-plane-client.test.ts
  apps/cockpit/src/lib/extensions/access-context.test.ts
  apps/cockpit/src/lib/extensions/access-context.ts
  apps/cockpit/src/lib/extensions/installed.test.ts
  apps/cockpit/src/lib/extensions/installed.ts
  apps/cockpit/src/lib/extensions/registry.test.ts
  apps/cockpit/src/lib/extensions/registry.ts
  apps/cockpit/src/lib/extensions/route-host.test.ts
  apps/cockpit/src/lib/extensions/types.ts
  apps/cockpit/src/routes/__root.tsx
  apps/cockpit/src/routes/explore/extensions.test.tsx
  apps/cockpit/src/routes/explore/extensions.tsx
  apps/cockpit/src/routes/external/external-route-host.test.tsx
  apps/cockpit/src/routes/robotics/robotics-runtime-gating.test.tsx
  docs/how-to/install-cockpit-extension-package.md
  docs/spec/openapi/portarium-control-plane.v1.yaml
  src/application/ports/cockpit-extension-activation-source.ts
  src/infrastructure/cockpit/env-cockpit-extension-activation-source.test.ts
  src/infrastructure/cockpit/env-cockpit-extension-activation-source.ts
  src/presentation/ops-cockpit/http-client.test.ts
  src/presentation/ops-cockpit/types.ts
  src/presentation/runtime/control-plane-handler.cockpit-extension-context.ts
  src/presentation/runtime/control-plane-handler.test.ts
Due: backend, cockpit

chore: close bead-1117
  .beads/issues.jsonl
Due: none

chore: start bead-1118
  .beads/issues.jsonl
Due: none

feat(cockpit): project shell surfaces from registry
  .specify/specs/presentation-layer-reference-cockpit-v1.md
  apps/cockpit/src/components/cockpit/command-palette.test.tsx
  apps/cockpit/src/components/cockpit/command-palette.tsx
  apps/cockpit/src/components/cockpit/mobile-bottom-nav.tsx
  apps/cockpit/src/hooks/use-cockpit-extension-registry.ts
  apps/cockpit/src/hooks/use-keyboard-shortcuts.test.tsx
  apps/cockpit/src/hooks/use-keyboard-shortcuts.ts
  apps/cockpit/src/lib/shell/navigation.test.tsx
  apps/cockpit/src/lib/shell/navigation.tsx
  apps/cockpit/src/routes/__root.tsx
  apps/cockpit/src/routes/mobile-shell.test.tsx
  docs/how-to/install-cockpit-extension-package.md
Due: cockpit

chore: close bead-1118
  .beads/issues.jsonl
Due: none

chore: start bead-1120
  .beads/issues.jsonl
Due: none

feat(cockpit): enforce extension install boundary
  .specify/specs/presentation-layer-reference-cockpit-v1.md
  .specify/specs/vertical-packs.md
  apps/cockpit/src/components/cockpit/extensions/external-route-adapter.test.ts
  apps/cockpit/src/components/cockpit/extensions/external-route-adapter.ts
  apps/cockpit/src/components/cockpit/extensions/external-route-components.test.tsx
  apps/cockpit/src/components/cockpit/extensions/external-route-components.tsx
  apps/cockpit/src/lib/extensions/installed.test.ts
  apps/cockpit/src/lib/extensions/installed.ts
  apps/cockpit/src/lib/extensions/registry.test.ts
  apps/cockpit/src/lib/extensions/registry.ts
  apps/cockpit/src/lib/extensions/route-host.ts
  apps/cockpit/src/lib/extensions/types.ts
  apps/cockpit/src/lib/shell/navigation.test.tsx
  apps/cockpit/src/routes/external/external-route-host.test.tsx
  docs/how-to/install-cockpit-extension-package.md
  docs/internal/adr/0048-vertical-pack-ui-templating.md
  docs/internal/adr/ADR-0126-cockpit-extension-host.md
Due: cockpit

chore: close bead-1120
  .beads/issues.jsonl
Due: none

chore: start bead-1122
  .beads/issues.jsonl
Due: none

test(cockpit): cover extension host regression matrix
  apps/cockpit/src/components/cockpit/command-palette.test.tsx
  apps/cockpit/src/components/cockpit/extensions/external-route-adapter.test.ts
  apps/cockpit/src/hooks/use-keyboard-shortcuts.test.tsx
  apps/cockpit/src/lib/extensions/registry.test.ts
  apps/cockpit/src/lib/extensions/route-host.test.ts
  apps/cockpit/src/lib/shell/navigation.test.tsx
  apps/cockpit/src/routes/external/external-route-host.test.tsx
  apps/cockpit/src/routes/external/installed-extension-routes.test.tsx
Due: cockpit

chore: close bead-1122
  .beads/issues.jsonl
Due: none

chore: start bead-1121
  .beads/issues.jsonl
Due: none

feat(cockpit): enforce extension browser egress
  .ci/gate-baseline.json
  .specify/specs/presentation-layer-reference-cockpit-v1.md
  apps/cockpit/src/lib/extensions/browser-egress-policy.test.ts
  apps/cockpit/src/lib/extensions/browser-egress-policy.ts
  apps/cockpit/src/lib/extensions/installed.test.ts
  docs/glossary.md
  docs/how-to/install-cockpit-extension-package.md
  docs/internal/adr/ADR-0126-cockpit-extension-host.md
  docs/internal/adr/ADR-0141-cockpit-portarium-plugin-extensibility.md
  package.json
  scripts/ci/check-cockpit-extension-egress.mjs
  scripts/ci/gate-baseline.shared.mjs
Due: cockpit

chore: close bead-1121
  .beads/issues.jsonl
Due: none

chore: start bead-1052
  .beads/issues.jsonl
Due: none

feat: add mission control observability board
  apps/cockpit/src/lib/agent-observability.test.ts
  apps/cockpit/src/lib/agent-observability.ts
  apps/cockpit/src/lib/shell/navigation.tsx
  apps/cockpit/src/router.ts
  apps/cockpit/src/routes/engineering/mission-control.test.tsx
  apps/cockpit/src/routes/engineering/mission-control.tsx
  apps/cockpit/src/routes/explore/observability.tsx
  apps/cockpit/src/routes/page-load.test.tsx
Due: cockpit

chore: close bead-1052
  .beads/issues.jsonl
Due: none

chore: start bead-1059
  .beads/issues.jsonl
Due: none

test: add governed resume recovery scenario
  .specify/specs/iteration-2-governed-experiment-suite-v1.md
  experiments/iteration-2/scenarios/governed-resume-recovery/README.md
  experiments/iteration-2/scenarios/governed-resume-recovery/run.mjs
  experiments/iteration-2/suite.manifest.json
  scripts/ci/scenario-gate.mjs
  scripts/integration/iteration-2-suite-manifest.test.ts
  scripts/integration/scenario-governed-resume-recovery.test.ts
  scripts/integration/scenario-pending-approval-recovery.test.ts
Due: none

feat(cockpit): surface recovery run state
  apps/cockpit/src/components/cockpit/run-control-state-badge.test.tsx
  apps/cockpit/src/components/cockpit/run-control-state-badge.tsx
  apps/cockpit/src/components/cockpit/run-intervention-panel.test.tsx
  apps/cockpit/src/components/cockpit/run-intervention-panel.tsx
  apps/cockpit/src/routes/runs/$runId.tsx
  apps/cockpit/src/routes/runs/index.tsx
Due: cockpit

chore: close bead-1059
  .beads/issues.jsonl
Due: none

chore: start bead-1139
  .beads/issues.jsonl
Due: none
