Repository 45ck/Portarium: changes, and which Codecov flags are due for each by the changed paths.
All: backend, cockpit

codecov.yml:

# Codecov configuration
# https://docs.codecov.com/docs/codecovyml-reference
#
# Bead: bead-0825

coverage:
  status:
    project:
      default:
        target: auto # compare against base commit
        threshold: 1% # allow 1% drop without failing
        informational: true # don't block PRs on coverage changes (advisory only)
    patch:
      default:
        target: 70% # new code in PRs must be â‰¥70% covered
        informational: true

comment:
  layout: 'reach,diff,flags,tree'
  behavior: default
  require_changes: false

flags:
  backend:
    paths:
      - src/
    carryforward: true
  cockpit:
    paths:
      - apps/cockpit/src/
    carryforward: true

ignore:
  - 'src/**/*.test.ts'
  - 'src/**/index.ts'
  - 'src/infrastructure/migrations/cli.ts'
  - 'src/infrastructure/observability/otel-setup.ts'
  - 'apps/cockpit/src/**/*.test.tsx'
  - 'apps/cockpit/src/**/*.stories.tsx'
  - 'apps/cockpit/src/mocks/**'

feat: wire OpenClaw gateway as real action runner when configured
  src/presentation/runtime/control-plane-handler.bootstrap.ts
Due: backend

feat: add policy CRUD API endpoints
  src/presentation/runtime/control-plane-handler.policies.ts
  src/presentation/runtime/control-plane-handler.ts
Due: backend

fix: add tenant isolation to InMemoryMachineRegistryStore list operations
  src/infrastructure/stores/in-memory-machine-registry-store.ts
Due: backend

fix: use canonical JSON for evidence log hash-chaining
  .ci/gate-baseline.json
  src/infrastructure/stores/in-memory-agent-action-proposal-store.ts
  src/infrastructure/stores/in-memory-evidence-log.ts
  src/infrastructure/stores/in-memory-machine-registry-store.test.ts
  src/presentation/runtime/control-plane-handler.agent-action-execute.ts
  src/presentation/runtime/control-plane-handler.agent-actions.ts
  src/presentation/runtime/control-plane-handler.agents.ts
  src/presentation/runtime/control-plane-handler.approvals.ts
  src/presentation/runtime/control-plane-handler.bootstrap.ts
  src/presentation/runtime/control-plane-handler.human-tasks.ts
  src/presentation/runtime/control-plane-handler.machines.ts
  src/presentation/runtime/control-plane-handler.policies.ts
  src/presentation/runtime/control-plane-handler.retrieval.ts
  src/presentation/runtime/control-plane-handler.shared.ts
  src/presentation/runtime/control-plane-handler.ts
  src/presentation/runtime/control-plane-handler.workforce-members.ts
  src/presentation/runtime/control-plane.ts
Due: backend

Fix readJsonBody parsing safety: distinguish empty body, malformed JSON, and Content-Type validation
  scripts/smoke/http-api-e2e-smoke.ts
  src/application/commands/propose-agent-action.perf.test.ts
  src/application/services/approval-expiry-scheduler.ts
  src/infrastructure/rate-limiting/redis-rate-limit-store.ts
  src/infrastructure/stores/in-memory-machine-registry-store.ts
  src/presentation/runtime/control-plane-handler.agent-action-execute.contract.test.ts
  src/presentation/runtime/control-plane-handler.agent-action-execute.ts
  src/presentation/runtime/control-plane-handler.agent-actions.contract.test.ts
  src/presentation/runtime/control-plane-handler.agent-actions.ts
  src/presentation/runtime/control-plane-handler.agents.ts
  src/presentation/runtime/control-plane-handler.approvals.contract.test.ts
  src/presentation/runtime/control-plane-handler.approvals.ts
  src/presentation/runtime/control-plane-handler.body-parsing.test.ts
  src/presentation/runtime/control-plane-handler.bootstrap.ts
  src/presentation/runtime/control-plane-handler.human-tasks.ts
  src/presentation/runtime/control-plane-handler.machines.ts
  src/presentation/runtime/control-plane-handler.policies.ts
  src/presentation/runtime/control-plane-handler.retrieval-security.test.ts
  src/presentation/runtime/control-plane-handler.retrieval.test.ts
  src/presentation/runtime/control-plane-handler.retrieval.ts
  src/presentation/runtime/control-plane-handler.security-headers.test.ts
  src/presentation/runtime/control-plane-handler.ts
  src/presentation/runtime/control-plane-handler.workforce-members.ts
  src/presentation/runtime/health-server.test.ts
Due: backend

fix: use relative timestamps in location event seed data
  src/presentation/runtime/control-plane-handler.location.ts
  src/presentation/runtime/control-plane-handler.test.ts
Due: backend

fix: P2 Fagan fixes — branded types, Location headers, binding types
  scripts/integration/scenario-observability-pack.test.ts
  src/application/commands/assign-workforce-member.helpers.ts
  src/application/commands/complete-human-task.ts
  src/application/commands/create-approval.ts
  src/application/commands/execute-approved-agent-action.ts
  src/application/commands/propose-agent-action.audit.ts
  src/application/commands/register-workspace.ts
  src/application/commands/start-workflow.execute-transaction.ts
  src/application/commands/submit-approval.ts
  src/application/commands/submit-map-command-intent.audit.ts
  src/application/events/cloudevent.test.ts
  src/application/services/approval-expiry-scheduler.ts
  src/domain/events/domain-events-v1.ts
  src/domain/evidence/evidence-governance-v1.ts
  src/domain/machines/openclaw-agent-binding-v1.ts
  src/domain/primitives/index.ts
  src/infrastructure/evidence/agent-action-evidence-hooks.integration.test.ts
  src/infrastructure/evidence/approval-evidence-hooks.integration.test.ts
  src/infrastructure/evidence/human-task-evidence-hooks.integration.test.ts
  src/infrastructure/evidence/robot-action-evidence-retry-chain.integration.test.ts
  src/presentation/runtime/control-plane-handler.machines.ts
  src/presentation/runtime/control-plane-handler.policies.ts
  src/presentation/runtime/control-plane-handler.shared.ts
Due: backend

fix: minor Fagan findings — CORS methods, problem types, PII truncation
  src/application/commands/submit-approval.ts
  src/presentation/runtime/control-plane-handler.shared.ts
  src/presentation/runtime/control-plane-handler.ts
Due: backend

fix: Fagan MINORs — strict smoke tests, If-None-Match/ETag, bead claims
  .beads/issues.jsonl
  scripts/smoke/http-api-e2e-smoke.ts
  src/presentation/runtime/control-plane-handler.shared.ts
  src/presentation/runtime/control-plane-handler.ts
Due: backend

chore: close bead-0941
  .beads/issues.jsonl
Due: none

feat(bead-0941): wire governance metrics into control-plane hot paths
  src/infrastructure/observability/prometheus-registry.ts
  src/presentation/runtime/control-plane-handler.agent-action-execute.ts
  src/presentation/runtime/control-plane-handler.agent-actions.ts
  src/presentation/runtime/control-plane-handler.approvals.ts
  src/presentation/runtime/control-plane-handler.machines.ts
Due: backend

feat(cockpit): OpenClaw showcase — policy editor, blast radius, mobile notification, live event bridge
  .beads/issues.jsonl
  apps/cockpit/src/components/cockpit/notification-banner.tsx
  apps/cockpit/src/components/cockpit/policy-live-preview.tsx
  apps/cockpit/src/components/cockpit/triage-card/triage-card-header.tsx
  apps/cockpit/src/components/cockpit/triage-card/triage-progress-dots.tsx
  apps/cockpit/src/lib/policy-event-bridge.ts
  apps/cockpit/src/mocks/fixtures/openclaw-demo.ts
  apps/cockpit/src/router.ts
  apps/cockpit/src/routes/__root.tsx
  apps/cockpit/src/routes/approvals/index.tsx
  apps/cockpit/src/routes/config/blast-radius.tsx
  apps/cockpit/src/routes/config/policies.tsx
  apps/cockpit/src/routes/config/policy-detail.tsx
  reports/review/INSPECTION_RECORD.md
Due: cockpit

chore: configure beads for JSONL mode (no-db)
  .beads/config.yaml
  .beads/metadata.json
Due: none

feat(engine): add @portarium/engine v0.1.0
  packages/engine/package-lock.json
  packages/engine/package.json
  packages/engine/src/engine.test.ts
  packages/engine/src/engine.ts
  packages/engine/src/index.ts
  packages/engine/src/types.ts
  packages/engine/tsconfig.build.json
  packages/engine/vitest.config.ts
Due: none

docs: reframe portarium readme around governed execution
  README.md
Due: none

chore: create beads 0936-0959 + scaffold openclaw-plugin + lab script
  package.json
  packages/openclaw-plugin/openclaw.plugin.json
  packages/openclaw-plugin/package.json
  packages/openclaw-plugin/src/client/portarium-client.ts
  packages/openclaw-plugin/src/config.ts
  packages/openclaw-plugin/src/gateway/health.ts
  packages/openclaw-plugin/src/hooks/before-tool-call.ts
  packages/openclaw-plugin/src/index.ts
  packages/openclaw-plugin/src/services/approval-poller.ts
  packages/openclaw-plugin/src/tools/capability-lookup.ts
  packages/openclaw-plugin/src/tools/get-run.ts
  packages/openclaw-plugin/src/tools/list-approvals.ts
  packages/openclaw-plugin/tsconfig.json
  scripts/lab/openclaw-plugin-lab.mjs
Due: none

fix: inject clock into location telemetry boundary to prevent retention window rot
  src/presentation/runtime/control-plane-handler.location.ts
  src/presentation/runtime/control-plane-handler.shared.ts
  src/presentation/runtime/control-plane-handler.test.ts
Due: backend

chore: start bead-0940
  .beads/issues.jsonl
Due: none

chore: start bead-0947
  .beads/issues.jsonl
Due: none

chore: start bead-0946
  .beads/issues.jsonl
Due: none

chore: start bead-0944
  .beads/issues.jsonl
Due: none

feat(a11y): add axe-core WCAG 2.1 AA automated testing (bead-0945)
  .ci/gate-baseline.json
  docs/a11y-known-issues.md
  e2e/a11y/wcag-aa.spec.ts
  package-lock.json
  package.json
  playwright.config.ts
Due: none

chore: create beads 0957-0968 (openclaw-plugin, experiments, mission-control integration)
  .beads/issues.jsonl
Due: none

chore: close bead-0943
  .beads/issues.jsonl
Due: none

feat(infra): add multi-region Terraform failover configuration (bead-0943)
  .ci/gate-baseline.json
  .cspell/project-words.txt
  docs/internal/adr/0075-multi-region-deployment-strategy.md
  infra/environments/prod-multi-region.json
  infra/terraform/environments/prod-multi-region/main.tf
  infra/terraform/environments/prod-multi-region/outputs.tf
  infra/terraform/environments/prod-multi-region/terraform.tfvars.example
  infra/terraform/environments/prod-multi-region/variables.tf
  infra/terraform/modules/multi-region/main.tf
  infra/terraform/modules/multi-region/outputs.tf
  infra/terraform/modules/multi-region/variables.tf
  infra/terraform/modules/multi-region/versions.tf
  scripts/ci/terraform-lint.mjs
Due: none

feat(infra): implement Salesforce CRM adapter for crm-sales port (bead-0944)
  .ci/gate-baseline.json
  src/infrastructure/adapters/crm-sales/salesforce/salesforce-client.ts
  src/infrastructure/adapters/crm-sales/salesforce/salesforce-crm-adapter.test.ts
  src/infrastructure/adapters/crm-sales/salesforce/salesforce-crm-adapter.ts
  src/infrastructure/adapters/crm-sales/salesforce/salesforce-error-handler.ts
  src/infrastructure/adapters/crm-sales/salesforce/salesforce-field-mapper.ts
  src/infrastructure/index.ts
Due: backend

chore: close bead-0944
  .beads/issues.jsonl
Due: none

chore: update gate baseline after bead-0944 merge
  .ci/gate-baseline.json
Due: none

fix(lint): exclude packages/ from root ESLint, remove unnecessary type assertion in approvals handler
  eslint.config.mjs
  src/presentation/runtime/control-plane-handler.approvals.ts
Due: backend

chore: close bead-0945
  .beads/issues.jsonl
Due: none

chore: add Salesforce, Postgres, and HTTP header words to cspell dictionary
  cspell.json
Due: none

chore: add soql to cspell dictionary
  cspell.json
Due: none

feat(load): add load and stress test suite (bead-0940)
  .ci/gate-baseline.json
  package.json
  scripts/load/concurrent-multi-tenant.test.ts
  scripts/load/harness.ts
  scripts/load/pool-saturation.test.ts
  scripts/load/queue-overflow.test.ts
  scripts/load/sustained-throughput.test.ts
Due: none

chore: close bead-0940
  .beads/issues.jsonl
Due: none

chore: close bead-0947
  .beads/issues.jsonl
Due: none

feat(infra): implement Tier B schema-per-tenant multi-tenancy (bead-0947)
  .ci/gate-baseline.json
  .specify/specs/tier-b-schema-per-tenant-v1.md
  src/infrastructure/migrations/default-migrations.ts
  src/infrastructure/migrations/schema-migrator.test.ts
  src/infrastructure/migrations/tenancy-tier-env.test.ts
  src/infrastructure/migrations/tenancy-tier-env.ts
  src/infrastructure/migrations/tenant-connection-router.test.ts
  src/infrastructure/migrations/tenant-connection-router.ts
  src/infrastructure/migrations/tenant-schema-manager.test.ts
  src/infrastructure/migrations/tenant-schema-manager.ts
  src/infrastructure/migrations/tier-a-to-b-migration.test.ts
  src/infrastructure/migrations/tier-a-to-b-migration.ts
Due: backend

fix(security): patch @hono/node-server and fast-xml-parser CVEs via npm overrides
  .ci/gate-baseline.json
  package-lock.json
  package.json
Due: none

chore: start bead-0958
  .beads/issues.jsonl
Due: none

chore: start bead-0965
  .beads/issues.jsonl
Due: none
