Repository 45ck/Portarium: changes, and which Codecov flags are due for each by the changed paths.
All: backend, cockpit

codecov.yml:

# Codecov configuration
# https://docs.codecov.com/docs/codecovyml-reference
#
# Bead: bead-0825

coverage:
  status:
    project:
      default:
        target: auto # compare against base commit
        threshold: 1% # allow 1% drop without failing
        informational: true # don't block PRs on coverage changes (advisory only)
    patch:
      default:
        target: 70% # new code in PRs must be â‰¥70% covered
        informational: true

comment:
  layout: 'reach,diff,flags,tree'
  behavior: default
  require_changes: false

flags:
  backend:
    paths:
      - src/
    carryforward: true
  cockpit:
    paths:
      - apps/cockpit/src/
    carryforward: true

ignore:
  - 'src/**/*.test.ts'
  - 'src/**/index.ts'
  - 'src/infrastructure/migrations/cli.ts'
  - 'src/infrastructure/observability/otel-setup.ts'
  - 'apps/cockpit/src/**/*.test.tsx'
  - 'apps/cockpit/src/**/*.stories.tsx'
  - 'apps/cockpit/src/mocks/**'

docs(cockpit): add observation-only extension ADR
  docs/explanation/adr-index.md
  docs/internal/adr/ADR-0151-observation-only-extension-mode.md
Due: none

chore: start bead-1021
  .beads/issues.jsonl
Due: none

feat(cockpit): render snapshot mock extension ports
  apps/cockpit/src/components/cockpit/extensions/external-route-components.test.tsx
  apps/cockpit/src/components/cockpit/extensions/external-route-native-surfaces.tsx
Due: cockpit

feat(cockpit): route extension proposals through approvals
  apps/cockpit/src/components/cockpit/extensions/external-route-components.test.tsx
  apps/cockpit/src/components/cockpit/extensions/external-route-native-surfaces.tsx
  apps/cockpit/src/hooks/queries/use-approvals.ts
  apps/cockpit/src/lib/control-plane-client.test.ts
  apps/cockpit/src/lib/control-plane-client.ts
  apps/cockpit/src/mocks/handlers.ts
  docs/internal/adr/ADR-0150-host-native-extension-suggestions-and-governed-proposals.md
Due: cockpit

feat(cockpit): harden governed extension control flows
  apps/cockpit/src/components/cockpit/extensions/external-route-components.test.tsx
  apps/cockpit/src/components/cockpit/extensions/external-route-native-surfaces.tsx
  apps/cockpit/src/components/cockpit/mobile-bottom-nav.tsx
  apps/cockpit/src/lib/control-plane-client.test.ts
  apps/cockpit/src/lib/shell/navigation.test.tsx
  apps/cockpit/src/lib/shell/navigation.tsx
  apps/cockpit/src/mocks/handlers.ts
  apps/cockpit/src/routes/__root.tsx
  apps/cockpit/src/routes/config/policies.test.tsx
  apps/cockpit/src/routes/config/policy-detail.tsx
  apps/cockpit/src/routes/workforce/coverage.test.tsx
  apps/cockpit/src/routes/workforce/coverage.tsx
  scripts/load/concurrent-multi-tenant.test.ts
  scripts/load/sustained-throughput.test.ts
  src/application/commands/execute-approved-agent-action.test.ts
  src/application/commands/execute-approved-agent-action.ts
  src/application/commands/propose-agent-action.perf.test.ts
  src/presentation/runtime/control-plane-handler.agent-action-execute.contract.test.ts
  src/presentation/runtime/control-plane-handler.agent-action-execute.ts
  src/presentation/runtime/control-plane-handler.agent-actions.contract.test.ts
  src/presentation/runtime/control-plane-handler.agent-actions.ts
Due: backend, cockpit

feat(cockpit): fail closed for live extension readiness
  .specify/specs/presentation-layer-reference-cockpit-v1.md
  apps/cockpit/src/components/cockpit/extensions/external-route-native-surfaces.tsx
  apps/cockpit/src/components/cockpit/mobile-bottom-nav.tsx
  apps/cockpit/src/hooks/use-cockpit-data-source-status.test.ts
  apps/cockpit/src/hooks/use-cockpit-data-source-status.ts
  apps/cockpit/src/lib/cockpit-runtime.test.ts
  apps/cockpit/src/lib/cockpit-runtime.ts
  apps/cockpit/src/lib/extensions/installed.test.ts
  apps/cockpit/src/lib/extensions/installed.ts
  apps/cockpit/src/lib/extensions/local-install.test.ts
  apps/cockpit/src/lib/extensions/local-install.ts
  apps/cockpit/src/lib/extensions/registry.test.ts
  apps/cockpit/src/lib/extensions/registry.ts
  apps/cockpit/src/lib/shell/navigation.test.tsx
  apps/cockpit/src/routes/__root.tsx
  apps/cockpit/src/routes/mobile-shell.test.tsx
  apps/cockpit/src/routes/page-load.test.tsx
  packages/cockpit-extension-sdk/src/index.ts
  packages/cockpit-extension-sdk/src/native-surfaces-v1.test.ts
  packages/cockpit-extension-sdk/src/native-surfaces-v1.ts
  src/application/commands/execute-approved-agent-action.test.ts
  src/application/commands/execute-approved-agent-action.ts
  src/presentation/runtime/control-plane-handler.bootstrap.test.ts
  src/presentation/runtime/control-plane-handler.bootstrap.ts
Due: backend, cockpit

Support cockpit extension shell integration
  .gitignore
  apps/cockpit/public/assets/local-extensions/.gitkeep
  apps/cockpit/src/components/cockpit/command-palette.tsx
  apps/cockpit/src/hooks/use-keyboard-shortcuts.ts
  apps/cockpit/src/lib/extensions/registry.test.ts
  apps/cockpit/src/lib/extensions/registry.ts
  apps/cockpit/src/lib/extensions/types.ts
  apps/cockpit/src/lib/shell/navigation.test.tsx
  apps/cockpit/src/lib/shell/navigation.tsx
  apps/cockpit/src/routes/__root.tsx
  apps/cockpit/src/vite-env.d.ts
  docs/internal/ui/cockpit/local-extension-install-bridge.md
  packages/cockpit-extension-sdk/src/conformance.ts
  packages/cockpit-extension-sdk/src/manifest-v1.ts
  scripts/ci/cockpit-consumed-endpoints.json
Due: cockpit

chore: close bead-1219
  .beads/issues.jsonl
Due: none

chore: close bead-1222
  .beads/issues.jsonl
Due: none

chore: close bead-1223
  .beads/issues.jsonl
Due: none

chore: close bead-1224
  .beads/issues.jsonl
Due: none

feat(cockpit): harden extension shell readiness
  apps/cockpit/src/components/cockpit/command-palette.test.tsx
  apps/cockpit/src/components/cockpit/command-palette.tsx
  apps/cockpit/src/components/cockpit/extensions/external-route-components.test.tsx
  apps/cockpit/src/components/cockpit/offline-sync-banner.test.tsx
  apps/cockpit/src/components/ui/command.tsx
  apps/cockpit/src/lib/cockpit-runtime.test.ts
  apps/cockpit/src/lib/cockpit-runtime.ts
  apps/cockpit/src/lib/control-plane-client.test.ts
  apps/cockpit/src/lib/extensions/example-reference/manifest.ts
  apps/cockpit/src/lib/extensions/installed.test.ts
  apps/cockpit/src/lib/extensions/installed.ts
  apps/cockpit/src/lib/extensions/registry.test.ts
  apps/cockpit/src/lib/extensions/registry.ts
  apps/cockpit/src/lib/extensions/types.ts
  apps/cockpit/src/lib/shell/active-profile.ts
  apps/cockpit/src/lib/shell/navigation.test.tsx
  apps/cockpit/src/lib/shell/navigation.tsx
  apps/cockpit/src/mocks/fixtures/index.ts
  apps/cockpit/src/mocks/fixtures/platform-showcase.test.ts
  apps/cockpit/src/mocks/fixtures/platform-showcase.ts
  apps/cockpit/src/routes/__root.tsx
  apps/cockpit/src/routes/config/settings-pack-runtime.test.tsx
  apps/cockpit/src/routes/config/settings.tsx
  apps/cockpit/src/routes/dashboard.tsx
  apps/cockpit/src/routes/index.tsx
  apps/cockpit/src/routes/mobile-shell.test.tsx
  apps/cockpit/src/routes/robotics/robotics-runtime-gating.test.tsx
  docs/internal/ui/cockpit/local-extension-readiness-plan.md
  packages/cockpit-extension-sdk/src/conformance.test.ts
  packages/cockpit-extension-sdk/src/conformance.ts
  packages/cockpit-extension-sdk/src/manifest-v1.ts
Due: cockpit

Add generic cockpit read model bridge
  apps/cockpit/src/components/cockpit/extensions/external-route-components.test.tsx
  apps/cockpit/src/components/cockpit/extensions/external-route-components.tsx
  apps/cockpit/src/components/cockpit/extensions/external-route-native-surfaces.tsx
  apps/cockpit/src/lib/extensions/installed.test.ts
  apps/cockpit/src/lib/extensions/installed.ts
  apps/cockpit/src/lib/extensions/local-install.ts
  apps/cockpit/src/lib/extensions/types.ts
  apps/cockpit/src/mocks/handlers.test.ts
  apps/cockpit/src/mocks/handlers.ts
  docs/internal/ui/cockpit/platform-showcase-readiness-plan.md
  packages/cockpit-extension-sdk/src/manifest-v1.ts
  packages/cockpit-extension-sdk/src/native-surfaces-v1.test.ts
  packages/cockpit-extension-sdk/src/native-surfaces-v1.ts
Due: cockpit

Add public repo customer boundary gate
  .ci/gate-baseline.json
  docs/explanation/adr-index.md
  docs/internal/adr/ADR-0152-public-repo-customer-boundary-gate.md
  package.json
  scripts/release/collect-changelog.mjs
  scripts/release/prepare-release.mjs
  scripts/repo/check-customer-boundary.mjs
Due: none

Type host read model context
  apps/cockpit/src/components/cockpit/extensions/external-route-components.test.tsx
  apps/cockpit/src/components/cockpit/extensions/external-route-components.tsx
  apps/cockpit/src/lib/extensions/types.ts
  packages/cockpit-extension-sdk/src/manifest-v1.ts
Due: cockpit

Proxy cockpit API routes in dev
  apps/cockpit/vite.config.ts
Due: none

Split cockpit API proxy target
  apps/cockpit/vite.config.ts
Due: none

Avoid run lookups for agent action approvals
  apps/cockpit/src/routes/approvals/approvals-triage.test.tsx
  apps/cockpit/src/routes/approvals/index.tsx
Due: cockpit

Keep auth routes available in live dev
  apps/cockpit/vite.config.ts
Due: none

Improve cockpit responsive containment
  apps/cockpit/src/components/cockpit/approval-context-panels.tsx
  apps/cockpit/src/components/cockpit/approval-triage-deck.tsx
  apps/cockpit/src/components/cockpit/evidence-timeline.tsx
  apps/cockpit/src/components/cockpit/extensions/external-route-native-surfaces.tsx
  apps/cockpit/src/components/cockpit/runtime-status-strip.tsx
  apps/cockpit/src/components/cockpit/triage-card/approval-triage-card.tsx
  apps/cockpit/src/components/cockpit/triage-card/triage-card-header.tsx
  apps/cockpit/src/routes/approvals/index.tsx
Due: cockpit

Gate cockpit live queries behind web session
  apps/cockpit/src/hooks/queries/use-offline-query.ts
  apps/cockpit/src/routes/__root.tsx
  apps/cockpit/src/routes/approvals/index.tsx
  apps/cockpit/src/routes/auth/login.tsx
Due: cockpit

Add native snapshot recommendations to cockpit surfaces
  apps/cockpit/src/components/cockpit/extensions/external-route-components.test.tsx
  apps/cockpit/src/components/cockpit/extensions/external-route-native-surfaces.tsx
  apps/cockpit/src/routes/approvals/approvals-triage.test.tsx
  apps/cockpit/src/routes/approvals/index.tsx
  packages/cockpit-extension-sdk/src/native-surfaces-v1.ts
Due: cockpit

Advertise approval detail in extension host contract
  src/application/ports/cockpit-extension-host-contract.ts
  src/presentation/ops-cockpit/types.ts
  src/presentation/runtime/control-plane-handler.cockpit-extension-context.ts
  src/presentation/runtime/control-plane-handler.test.ts
Due: backend

Render empty evidence state in action reviews
  apps/cockpit/src/components/cockpit/extensions/external-route-components.test.tsx
  apps/cockpit/src/components/cockpit/extensions/external-route-native-surfaces.tsx
Due: cockpit

Support inline SVG map rooms
  apps/cockpit/src/components/cockpit/extensions/external-route-components.test.tsx
  apps/cockpit/src/components/cockpit/extensions/external-route-native-surfaces.tsx
  packages/cockpit-extension-sdk/src/native-surfaces-v1.ts
Due: cockpit

Support richer inline SVG maps
  apps/cockpit/src/components/cockpit/extensions/external-route-components.test.tsx
  apps/cockpit/src/components/cockpit/extensions/external-route-native-surfaces.tsx
Due: cockpit

Add data explorer observability cards
  apps/cockpit/src/components/cockpit/extensions/external-route-components.test.tsx
  apps/cockpit/src/components/cockpit/extensions/external-route-native-surfaces.tsx
  packages/cockpit-extension-sdk/src/native-surfaces-v1.test.ts
  packages/cockpit-extension-sdk/src/native-surfaces-v1.ts
Due: cockpit

Add data explorer intelligence cards
  apps/cockpit/src/components/cockpit/extensions/external-route-components.test.tsx
  apps/cockpit/src/components/cockpit/extensions/external-route-native-surfaces.tsx
  packages/cockpit-extension-sdk/src/native-surfaces-v1.test.ts
  packages/cockpit-extension-sdk/src/native-surfaces-v1.ts
Due: cockpit

docs(integration): add prompt-language runtime surface mapping
  README.md
  docs/integration/prompt-language-runtime.md
Due: none

docs: record governed Symphony routing R&D
  .beads/issues.jsonl
  docs/internal/engineering-layer/README.md
  docs/internal/engineering-layer/symphony-pl-local-routing.md
Due: none

docs(engineering): record GSLR-1 routing handoff
  .beads/issues.jsonl
  docs/internal/engineering-layer/README.md
  docs/internal/engineering-layer/gslr-1-governed-hybrid-routing.md
  docs/internal/engineering-layer/symphony-pl-local-routing.md
Due: none

docs(engineering): synthesize GSLR research
  .beads/issues.jsonl
  .cspell/project-words.txt
  docs/internal/engineering-layer/README.md
  docs/internal/engineering-layer/gslr-1-governed-hybrid-routing.md
  docs/internal/engineering-layer/gslr-research-synthesis-2026-05-12.md
Due: none

docs(engineering): record GSLR-1 live result
  .beads/issues.jsonl
  docs/internal/engineering-layer/README.md
  docs/internal/engineering-layer/gslr-1-governed-hybrid-routing.md
  docs/internal/engineering-layer/gslr-1-live-result-2026-05-12.md
  docs/internal/engineering-layer/gslr-research-synthesis-2026-05-12.md
Due: none

docs(engineering): record GSLR manifest hardening
  .beads/issues.jsonl
  docs/internal/engineering-layer/README.md
  docs/internal/engineering-layer/gslr-1-live-result-2026-05-12.md
Due: none

docs(engineering): record post-symphony GSLR decision
  .beads/issues.jsonl
  docs/internal/engineering-layer/README.md
  docs/internal/engineering-layer/gslr-post-symphony-decision-2026-05-12.md
  docs/internal/engineering-layer/gslr-research-synthesis-2026-05-12.md
Due: none

docs(engineering): record GSLR-2 scaffold
  .beads/issues.jsonl
  docs/internal/engineering-layer/README.md
  docs/internal/engineering-layer/gslr-2-fixture-scaffold-2026-05-12.md
  docs/internal/engineering-layer/gslr-post-symphony-decision-2026-05-12.md
Due: none

docs(engineering): record GSLR-2 live result
  .beads/issues.jsonl
  docs/internal/engineering-layer/README.md
  docs/internal/engineering-layer/gslr-2-fixture-scaffold-2026-05-12.md
  docs/internal/engineering-layer/gslr-2-live-result-2026-05-12.md
Due: none

docs(engineering): record GSLR route policy
  .beads/issues.jsonl
  docs/internal/engineering-layer/README.md
  docs/internal/engineering-layer/gslr-2-live-result-2026-05-12.md
  docs/internal/engineering-layer/gslr-route-policy-after-live-2026-05-12.md
Due: none

docs(engineering): record next GSLR conclusions
  .beads/issues.jsonl
  docs/internal/engineering-layer/README.md
  docs/internal/engineering-layer/gslr-next-research-conclusions-2026-05-12.md
Due: none
