Repository 45ck/Portarium: changes, and which Codecov flags are due for each by the changed paths.
All: backend, cockpit

codecov.yml:

# Codecov configuration
# https://docs.codecov.com/docs/codecovyml-reference
#
# Bead: bead-0825

coverage:
  status:
    project:
      default:
        target: auto # compare against base commit
        threshold: 1% # allow 1% drop without failing
        informational: true # don't block PRs on coverage changes (advisory only)
    patch:
      default:
        target: 70% # new code in PRs must be â‰¥70% covered
        informational: true

comment:
  layout: 'reach,diff,flags,tree'
  behavior: default
  require_changes: false

flags:
  backend:
    paths:
      - src/
    carryforward: true
  cockpit:
    paths:
      - apps/cockpit/src/
    carryforward: true

ignore:
  - 'src/**/*.test.ts'
  - 'src/**/index.ts'
  - 'src/infrastructure/migrations/cli.ts'
  - 'src/infrastructure/observability/otel-setup.ts'
  - 'apps/cockpit/src/**/*.test.tsx'
  - 'apps/cockpit/src/**/*.stories.tsx'
  - 'apps/cockpit/src/mocks/**'

docs: close growth studio showcase epic
  docs/internal/adr/ADR-0148-cockpit-derives-from-vibe-kanban.md
  docs/internal/engineering-layer/agent-driven-backlog-vision.md
  docs/internal/engineering-layer/cockpit-vendor-architecture.md
  docs/internal/engineering-layer/integration-build-plan.md
  docs/internal/review/bead-0999-growth-studio-epic-closure.md
  experiments/iteration-2/README.md
Due: none

chore: close bead-0999
  .beads/issues.jsonl
Due: none

chore: start bead-1001
  .beads/issues.jsonl
Due: none

docs: specify growth studio experiment
  .specify/specs/growth-studio-experiment.md
Due: none

chore: close bead-1001
  .beads/issues.jsonl
Due: none

feat(cockpit): group extension navigation by identity
  .beads/issues.jsonl
  .specify/specs/presentation-layer-reference-cockpit-v1.md
  apps/cockpit/src/components/cockpit/extensions/external-route-host.tsx
  apps/cockpit/src/components/cockpit/mobile-bottom-nav.tsx
  apps/cockpit/src/lib/shell/navigation.test.tsx
  apps/cockpit/src/lib/shell/navigation.tsx
  apps/cockpit/src/routes/__root.tsx
  apps/cockpit/src/routes/explore/extensions.test.tsx
  apps/cockpit/src/routes/explore/extensions.tsx
  apps/cockpit/src/routes/external/external-route-host.test.tsx
  apps/cockpit/src/routes/mobile-shell.test.tsx
  docs/how-to/install-cockpit-extension-package.md
  docs/internal/adr/ADR-0126-cockpit-extension-host.md
  docs/internal/adr/ADR-0148-cockpit-derives-from-vibe-kanban.md
Due: cockpit

chore: start bead-1003
  .beads/issues.jsonl
Due: none

feat: register growth studio tool tiers
  packages/portarium/openclaw.plugin.json
  packages/portarium/src/index.ts
  packages/portarium/src/tools/growth-studio-registry.ts
  packages/portarium/src/tools/tools.test.ts
  src/domain/machines/openclaw-tool-blast-radius-v1.test.ts
  src/domain/machines/openclaw-tool-blast-radius-v1.ts
Due: backend

chore: close bead-1003
  .beads/issues.jsonl
Due: none

chore: start bead-1005
  .beads/issues.jsonl
Due: none

feat: add growth studio approval policy
  .specify/specs/growth-studio-experiment.md
  src/application/integration/growth-studio-approval-policy.integration.test.ts
  src/domain/policy/growth-studio-approval-policy-v1.ts
  src/domain/policy/index.ts
Due: backend

chore: close bead-1005
  .beads/issues.jsonl
Due: none

chore: start bead-1170
  .beads/issues.jsonl
Due: none

chore: unclaim bead-1170, flag Rust prereq on bead-1168, bundle parallel cockpit-extension work
  .beads/issues.jsonl
  apps/cockpit/src/components/cockpit/extensions/external-route-components.test.tsx
  apps/cockpit/src/components/cockpit/extensions/external-route-components.tsx
  apps/cockpit/src/components/cockpit/extensions/external-route-data-renderer.tsx
  apps/cockpit/src/components/cockpit/extensions/external-route-native-surfaces.tsx
  apps/cockpit/src/lib/extensions/types.ts
  packages/cockpit-extension-sdk/src/manifest-v1.ts
Due: cockpit

docs(cockpit): document host-native extension surfaces
  docs/explanation/adr-index.md
  docs/internal/adr/ADR-0147-cockpit-map-workbench-extension-slots.md
  docs/internal/adr/ADR-0149-host-native-extension-surfaces.md
  docs/sdk/cockpit-extension-sdk.md
Due: none

chore: start bead-1008
  .beads/issues.jsonl
Due: none

feat(cockpit): add host-native data explorer surface
  apps/cockpit/src/components/cockpit/extensions/external-route-components.test.tsx
  apps/cockpit/src/components/cockpit/extensions/external-route-native-surfaces.tsx
  docs/internal/adr/ADR-0149-host-native-extension-surfaces.md
  docs/sdk/cockpit-extension-sdk.md
Due: cockpit

feat: add growth studio researcher loop
  apps/cockpit/src/components/cockpit/extensions/external-route-components.test.tsx
  apps/cockpit/src/components/cockpit/extensions/external-route-native-surfaces.tsx
  docs/internal/adr/ADR-0149-host-native-extension-surfaces.md
  scripts/integration/growth-studio/researcher-agent-loop.test.ts
  scripts/integration/growth-studio/researcher-agent-loop.ts
  scripts/integration/lab-agent-adapter.ts
  scripts/integration/scenario-live-approval-lifecycle.test.ts
Due: cockpit

chore: close bead-1008
  .beads/issues.jsonl
Due: none

feat(cockpit): show data explorer evidence refs
  apps/cockpit/src/components/cockpit/extensions/external-route-components.test.tsx
  apps/cockpit/src/components/cockpit/extensions/external-route-native-surfaces.tsx
  docs/internal/adr/ADR-0149-host-native-extension-surfaces.md
  docs/sdk/cockpit-extension-sdk.md
Due: cockpit

chore: start bead-1010
  .beads/issues.jsonl
Due: none

feat: add growth studio content creator loop
  apps/cockpit/src/components/cockpit/extensions/external-route-native-surfaces.tsx
  scripts/integration/growth-studio/content-creator-agent-loop.test.ts
  scripts/integration/growth-studio/content-creator-agent-loop.ts
  scripts/integration/lab-agent-adapter.ts
Due: cockpit

chore: close bead-1010
  .beads/issues.jsonl
Due: none

chore: start bead-1014
  .beads/issues.jsonl
Due: none

fix(cockpit): apply local extension access to shell
  apps/cockpit/src/components/cockpit/extensions/external-route-components.test.tsx
  apps/cockpit/src/components/cockpit/extensions/external-route-native-surfaces.tsx
  apps/cockpit/src/hooks/use-cockpit-extension-registry.ts
  apps/cockpit/src/lib/extensions/installed.test.ts
  apps/cockpit/src/lib/extensions/installed.ts
Due: cockpit

feat: add growth studio outreach executor loop
  scripts/integration/growth-studio/outreach-executor-agent-loop.test.ts
  scripts/integration/growth-studio/outreach-executor-agent-loop.ts
  scripts/integration/lab-agent-adapter.ts
Due: none

chore: close bead-1014
  .beads/issues.jsonl
Due: none

fix(cockpit): refine native extension surfaces
  apps/cockpit/src/components/cockpit/extensions/external-route-components.test.tsx
  apps/cockpit/src/components/cockpit/extensions/external-route-native-surfaces.tsx
Due: cockpit

chore: start bead-1161
  .beads/issues.jsonl
Due: none

docs: record reference product reuse boundaries
  docs/internal/engineering-layer/inspiration/README.md
  docs/internal/engineering-layer/inspiration/opencode.md
  docs/internal/engineering-layer/inspiration/t3-code.md
  docs/internal/engineering-layer/inspiration/vibe-kanban.md
Due: none

chore: close bead-1161
  .beads/issues.jsonl
Due: none

chore: start bead-1018
  .beads/issues.jsonl
Due: none

Improve native extension ticket workbench layout
  apps/cockpit/src/components/cockpit/extensions/external-route-native-surfaces.tsx
Due: cockpit

Make native ticket reader full page
  apps/cockpit/src/components/cockpit/extensions/external-route-native-surfaces.tsx
Due: cockpit

chore: close bead-1018
  .beads/issues.jsonl
Due: none

feat: add growth studio mock dataset
  apps/cockpit/src/lib/cockpit-runtime.test.ts
  apps/cockpit/src/lib/cockpit-runtime.ts
  apps/cockpit/src/mocks/fixtures/growth-studio-demo.test.ts
  apps/cockpit/src/mocks/fixtures/growth-studio-demo.ts
  apps/cockpit/src/mocks/fixtures/index.ts
  apps/cockpit/src/routes/config/settings.tsx
Due: cockpit

chore: start bead-1020
  .beads/issues.jsonl
Due: none

Document extension suggestion governance
  docs/explanation/adr-index.md
  docs/internal/adr/ADR-0150-host-native-extension-suggestions-and-governed-proposals.md
Due: none

feat: add growth studio dashboard panel
  apps/cockpit/src/lib/growth-studio-dashboard.test.ts
  apps/cockpit/src/lib/growth-studio-dashboard.ts
  apps/cockpit/src/routes/dashboard.tsx
Due: cockpit

chore: close bead-1020
  .beads/issues.jsonl
Due: none
