Repository 45ck/Portarium: changes, and which Codecov flags are due for each by the changed paths.
All: backend, cockpit

chore: close bead-1056
  .beads/issues.jsonl
Due: none

chore: start bead-1074
  .beads/issues.jsonl
Due: none

docs: define oversight authority model
  .specify/specs/approval-v1.md
  .specify/specs/cockpit-policy-authoring-and-simulation-v1.md
  .specify/specs/evidence-v1.md
  .specify/specs/operator-interaction-model-v1.md
  .specify/specs/presentation-layer-reference-cockpit-v1.md
  apps/cockpit/src/lib/extensions/registry.test.ts
  apps/cockpit/src/lib/extensions/registry.ts
  docs/internal/governance/pilot-readiness-sequence.md
  docs/internal/qa/rbac-checklist.md
  docs/internal/ui/cockpit/README.md
Due: cockpit

chore: close bead-1074
  .beads/issues.jsonl
Due: none

chore: start bead-1058
  .beads/issues.jsonl
Due: none

test: add operator trust calibration eval
  docs/how-to/run-operator-trust-calibration.md
  docs/internal/governance/pilot-readiness-sequence.md
  scripts/integration/scenario-operator-trust-calibration.test.ts
  src/domain/approvals/approval-trust-calibration-v1.test.ts
  src/domain/approvals/approval-trust-calibration-v1.ts
  src/domain/approvals/index.ts
Due: backend

chore: close bead-1058
  .beads/issues.jsonl
Due: none

chore: start bead-1075
  .beads/issues.jsonl
Due: none

feat: add decision context packet contract
  .specify/specs/decision-context-packet-v1.md
  .specify/specs/operator-interaction-model-v1.md
  docs/internal/governance/pilot-readiness-sequence.md
  src/domain/approvals/decision-context-packet-v1.test.ts
  src/domain/approvals/decision-context-packet-v1.ts
  src/domain/approvals/index.ts
Due: backend

chore: close bead-1075
  .beads/issues.jsonl
Due: none

chore: start bead-1076
  .beads/issues.jsonl
Due: none

docs(cockpit): record external extension host boundary
  docs/explanation/adr-index.md
  docs/internal/adr/ADR-0126-cockpit-extension-host.md
Due: none

feat(cockpit): add compile-time extension route host
  apps/cockpit/src/components/cockpit/command-palette.tsx
  apps/cockpit/src/components/cockpit/extensions/external-route-adapter.test.ts
  apps/cockpit/src/components/cockpit/extensions/external-route-adapter.ts
  apps/cockpit/src/components/cockpit/extensions/external-route-components.tsx
  apps/cockpit/src/components/cockpit/extensions/external-route-host.tsx
  apps/cockpit/src/components/cockpit/mobile-bottom-nav.tsx
  apps/cockpit/src/hooks/use-keyboard-shortcuts.ts
  apps/cockpit/src/lib/extensions/example-ops-demo/manifest.ts
  apps/cockpit/src/lib/extensions/example-ops-demo/route-loaders.ts
  apps/cockpit/src/lib/extensions/example-ops-demo/routes/action-review.tsx
  apps/cockpit/src/lib/extensions/example-ops-demo/routes/overview.tsx
  apps/cockpit/src/lib/extensions/fixtures.ts
  apps/cockpit/src/lib/extensions/installed.ts
  apps/cockpit/src/lib/extensions/registry.test.ts
  apps/cockpit/src/lib/extensions/registry.ts
  apps/cockpit/src/lib/extensions/types.ts
  apps/cockpit/src/router.ts
  apps/cockpit/src/routes/__root.tsx
  apps/cockpit/src/routes/external/$.tsx
  apps/cockpit/src/routes/external/external-route-host.test.tsx
Due: cockpit

feat: harden cockpit run interventions
  .beads/issues.jsonl
  .specify/specs/decision-context-packet-v1.md
  .specify/specs/operator-interaction-model-v1.md
  .specify/specs/presentation-layer-reference-cockpit-v1.md
  apps/cockpit/src/components/cockpit/run-intervention-panel.test.tsx
  apps/cockpit/src/components/cockpit/run-intervention-panel.tsx
  apps/cockpit/src/mocks/handlers.ts
  apps/cockpit/src/test-setup.ts
  docs/internal/governance/pilot-readiness-sequence.md
  src/presentation/ops-cockpit/types.ts
Due: backend, cockpit

test: stabilize cockpit intervention coverage
  apps/cockpit/src/components/cockpit/run-intervention-panel.test.tsx
  apps/cockpit/src/test-setup.ts
Due: cockpit

chore: close bead-1076
  .beads/issues.jsonl
Due: none

chore: start bead-1124
  .beads/issues.jsonl
Due: none

docs(cockpit): document extension package installs
  docs/how-to/install-cockpit-extension-package.md
  docs/index.md
  docs/internal/adr/ADR-0126-cockpit-extension-host.md
Due: none

feat(cockpit): harden extension access guards
  apps/cockpit/src/components/cockpit/command-palette.tsx
  apps/cockpit/src/components/cockpit/extensions/external-route-adapter.test.ts
  apps/cockpit/src/components/cockpit/extensions/external-route-adapter.ts
  apps/cockpit/src/components/cockpit/extensions/external-route-host.tsx
  apps/cockpit/src/components/cockpit/mobile-bottom-nav.tsx
  apps/cockpit/src/hooks/use-keyboard-shortcuts.ts
  apps/cockpit/src/lib/extensions/installed.ts
  apps/cockpit/src/lib/extensions/registry.test.ts
  apps/cockpit/src/lib/extensions/registry.ts
  apps/cockpit/src/lib/extensions/types.ts
  apps/cockpit/src/routes/__root.tsx
Due: cockpit

feat: add run intervention command route
  .specify/specs/application-command-query-contract-v1.md
  src/application/commands/index.ts
  src/application/commands/submit-run-intervention.test.ts
  src/application/commands/submit-run-intervention.ts
  src/application/common/actions.test.ts
  src/application/common/actions.ts
  src/application/contracts/application-command-query-contract.fixture.ts
  src/application/contracts/application-command-query-schema.golden.json
  src/application/iam/rbac/workspace-rbac.ts
  src/domain/runs/run-v1.ts
  src/presentation/runtime/control-plane-handler.ts
Due: backend

feat(cockpit): derive extension access from auth claims
  apps/cockpit/src/components/cockpit/command-palette.tsx
  apps/cockpit/src/components/cockpit/extensions/external-route-adapter.ts
  apps/cockpit/src/components/cockpit/extensions/external-route-host.tsx
  apps/cockpit/src/components/cockpit/mobile-bottom-nav.tsx
  apps/cockpit/src/hooks/use-keyboard-shortcuts.ts
  apps/cockpit/src/lib/extensions/access-context.test.ts
  apps/cockpit/src/lib/extensions/access-context.ts
  apps/cockpit/src/lib/extensions/registry.test.ts
  apps/cockpit/src/lib/extensions/registry.ts
  apps/cockpit/src/lib/extensions/types.ts
  apps/cockpit/src/routes/__root.tsx
  apps/cockpit/src/routes/external/external-route-host.test.tsx
  apps/cockpit/src/stores/auth-store.ts
Due: cockpit

test: cover run intervention HTTP contract
  docs/spec/openapi/portarium-control-plane.v1.yaml
  src/infrastructure/openapi/openapi-operation-ids.golden.json
  src/presentation/runtime/control-plane-handler.runs.contract.test.ts
Due: backend

fix: satisfy run intervention route lint
  src/presentation/runtime/control-plane-handler.ts
Due: backend

style: format run intervention code
  src/application/commands/submit-run-intervention.ts
  src/presentation/runtime/control-plane-handler.ts
Due: backend

feat(cockpit): add workspace extension context endpoint
  apps/cockpit/src/hooks/queries/use-cockpit-extension-context.ts
  apps/cockpit/src/lib/control-plane-client.test.ts
  apps/cockpit/src/lib/control-plane-client.ts
  apps/cockpit/src/lib/extensions/access-context.test.ts
  apps/cockpit/src/lib/extensions/access-context.ts
  docs/spec/openapi/portarium-control-plane.v1.yaml
  src/presentation/ops-cockpit/http-client.test.ts
  src/presentation/ops-cockpit/http-client.ts
  src/presentation/ops-cockpit/types.ts
  src/presentation/runtime/control-plane-handler.cockpit-extension-context.ts
  src/presentation/runtime/control-plane-handler.test.ts
  src/presentation/runtime/control-plane-handler.ts
Due: backend, cockpit

chore: add cockpit live-data readiness beads
  .beads/issues.jsonl
Due: none

test(openapi): update operation id golden
  src/infrastructure/openapi/openapi-operation-ids.golden.json
Due: backend

chore: start bead-1132
  .beads/issues.jsonl
Due: none

feat: gate cockpit live preview build
  .ci/gate-baseline.json
  .prettierignore
  apps/cockpit/.gitignore
  apps/cockpit/.storybook/preview.ts
  apps/cockpit/index.html
  apps/cockpit/src/components/cockpit/approval-status-badge.tsx
  apps/cockpit/src/components/cockpit/effects-list.test.tsx
  apps/cockpit/src/components/cockpit/engineering-beads.ts
  apps/cockpit/src/components/cockpit/evidence-timeline.test.tsx
  apps/cockpit/src/components/cockpit/human-task-drawer.test.tsx
  apps/cockpit/src/components/cockpit/operations-map/mobile-bottom-sheet.test.tsx
  apps/cockpit/src/components/cockpit/operations-map/mobile-bottom-sheet.tsx
  apps/cockpit/src/components/cockpit/operations-map/mobile-map-layout.test.tsx
  apps/cockpit/src/components/cockpit/workflow-builder/workflow-builder-nodes.test.tsx
  apps/cockpit/src/lib/native-bridge.test.ts
  apps/cockpit/src/lib/push-notifications.ts
  apps/cockpit/src/main.tsx
  apps/cockpit/src/mocks/fixtures/index.ts
  apps/cockpit/src/routes/approvals/approvals-triage.test.tsx
  apps/cockpit/src/routes/approvals/index.tsx
  apps/cockpit/src/routes/config/agents.tsx
  apps/cockpit/src/routes/config/users.test.tsx
  apps/cockpit/src/routes/engineering/beads/$beadId/approval.tsx
  apps/cockpit/src/routes/engineering/engineering-shell.tsx
  apps/cockpit/src/routes/runs/$runId.tsx
  apps/cockpit/src/routes/workflows/workflow-builder-page.tsx
  docs/explanation/adr-index.md
  docs/internal/adr/ADR-0127-cockpit-live-preview-ci-gate.md
  package.json
  scripts/ci/build-cockpit-live-preview.mjs
  scripts/ci/check-cockpit-preview-smoke.mjs
Due: cockpit

chore: close bead-1132
  .beads/issues.jsonl
Due: none

chore: start bead-1133
  .beads/issues.jsonl
Due: none

fix: harden run intervention governance
  apps/cockpit/src/components/cockpit/run-intervention-panel.test.tsx
  apps/cockpit/src/components/cockpit/run-intervention-panel.tsx
  docs/spec/openapi/portarium-control-plane.v1.yaml
  src/application/commands/submit-run-intervention.test.ts
  src/application/commands/submit-run-intervention.ts
  src/application/iam/rbac/workspace-rbac.test.ts
  src/application/iam/rbac/workspace-rbac.ts
  src/presentation/ops-cockpit/types.ts
  src/presentation/runtime/control-plane-handler.runs.contract.test.ts
  src/presentation/runtime/control-plane-handler.ts
Due: backend, cockpit

chore: close bead-1124
  .beads/issues.jsonl
Due: none

Path conditions:
  backend: any of: src/, but not: src/**/*.test.ts, src/**/index.ts, src/infrastructure/migrations/cli.ts, src/infrastructure/observability/otel-setup.ts, apps/cockpit/src/**/*.test.tsx, apps/cockpit/src/**/*.stories.tsx, apps/cockpit/src/mocks/**
  cockpit: any of: apps/cockpit/src/, but not: src/**/*.test.ts, src/**/index.ts, src/infrastructure/migrations/cli.ts, src/infrastructure/observability/otel-setup.ts, apps/cockpit/src/**/*.test.tsx, apps/cockpit/src/**/*.stories.tsx, apps/cockpit/src/mocks/**
