Repository 45ck/Portarium: changes, and which Codecov flags are due for each by the changed paths.
All: backend, cockpit

codecov.yml:

# Codecov configuration
# https://docs.codecov.com/docs/codecovyml-reference
#
# Bead: bead-0825

coverage:
  status:
    project:
      default:
        target: auto # compare against base commit
        threshold: 1% # allow 1% drop without failing
        informational: true # don't block PRs on coverage changes (advisory only)
    patch:
      default:
        target: 70% # new code in PRs must be â‰¥70% covered
        informational: true

comment:
  layout: 'reach,diff,flags,tree'
  behavior: default
  require_changes: false

flags:
  backend:
    paths:
      - src/
    carryforward: true
  cockpit:
    paths:
      - apps/cockpit/src/
    carryforward: true

ignore:
  - 'src/**/*.test.ts'
  - 'src/**/index.ts'
  - 'src/infrastructure/migrations/cli.ts'
  - 'src/infrastructure/observability/otel-setup.ts'
  - 'apps/cockpit/src/**/*.test.tsx'
  - 'apps/cockpit/src/**/*.stories.tsx'
  - 'apps/cockpit/src/mocks/**'

feat: add agent observability lifecycle policy
  .specify/specs/agent-observability-data-lifecycle-v1.md
  .specify/specs/evidence-retention-policy-v1.md
  .specify/specs/tenant-aware-observability-v1.md
  src/domain/evidence/agent-observability-lifecycle-policy-v1.contract.test.ts
  src/domain/evidence/agent-observability-lifecycle-policy-v1.ts
  src/domain/evidence/index.ts
Due: backend

feat: add weekly autonomy digest artifact
  .specify/specs/weekly-autonomy-digest-artifact-v1.md
  src/application/commands/weekly-autonomy-digest.test.ts
  src/application/commands/weekly-autonomy-digest.ts
  src/application/common/actions.test.ts
  src/application/common/actions.ts
  src/application/iam/rbac/workspace-rbac.ts
  src/application/ports/index.ts
  src/application/ports/weekly-autonomy-digest-activity-store.ts
  src/domain/runs/index.ts
  src/domain/runs/weekly-autonomy-digest-v1.test.ts
  src/domain/runs/weekly-autonomy-digest-v1.ts
Due: backend

chore: close bead-0971
  .beads/issues.jsonl
Due: none

chore: close bead-0968
  .beads/issues.jsonl
Due: none

chore: close bead-1063
  .beads/issues.jsonl
Due: none

feat: add governed policy change workflow
  .specify/specs/application-command-query-contract-v1.md
  .specify/specs/policy-change-workflow-v1.md
  src/application/commands/index.ts
  src/application/commands/policy-change-workflow.test.ts
  src/application/commands/policy-change-workflow.ts
  src/application/common/actions.test.ts
  src/application/common/actions.ts
  src/application/contracts/application-command-query-contract.fixture.ts
  src/application/contracts/application-command-query-contract.test.ts
  src/application/contracts/application-command-query-schema.golden.json
  src/application/iam/rbac/workspace-rbac.ts
  src/application/ports/policy-store.ts
  src/domain/events/domain-events-v1.ts
  src/domain/policy/index.ts
  src/domain/policy/policy-change-workflow-v1.test.ts
  src/domain/policy/policy-change-workflow-v1.ts
  src/domain/primitives/index.ts
  src/infrastructure/stores/in-memory-policy-store.test.ts
  src/infrastructure/stores/in-memory-policy-store.ts
Due: backend

chore: close bead-1061
  .beads/issues.jsonl
Due: none

feat: add governed operator surface contracts
  .specify/specs/operator-surface-generated-ui-v1.md
  apps/cockpit/src/components/cockpit/badge-components.test.tsx
  apps/cockpit/src/components/cockpit/evidence-category-badge.tsx
  apps/cockpit/src/components/cockpit/operator-surface-renderer.test.tsx
  apps/cockpit/src/components/cockpit/operator-surface-renderer.tsx
  apps/cockpit/src/mocks/fixtures/meridian-seed.ts
  docs/spec/openapi/portarium-control-plane.v1.yaml
  src/application/queries/list-evidence-entries.ts
  src/application/services/operator-surface-evidence.test.ts
  src/application/services/operator-surface-evidence.ts
  src/domain/evidence/evidence-entry-v1.ts
  src/domain/index.ts
  src/domain/operator-surfaces/index.ts
  src/domain/operator-surfaces/operator-surface-v1.test.ts
  src/domain/operator-surfaces/operator-surface-v1.ts
  src/domain/primitives/index.test.ts
  src/domain/primitives/index.ts
  src/infrastructure/openapi/openapi-contract.test.ts
  src/presentation/ops-cockpit/types.ts
  src/presentation/vv/cockpit-contract-behavior.test.ts
  src/vv/cross-layer-alignment.test.ts
Due: backend, cockpit

chore: close bead-1055
  .beads/issues.jsonl
Due: none

security: add operator plugin governance controls
  .specify/specs/operator-plugin-governance-controls-v1.md
  apps/cockpit/src/components/cockpit/extensions/external-route-adapter.test.ts
  apps/cockpit/src/components/cockpit/extensions/external-route-adapter.ts
  apps/cockpit/src/components/cockpit/extensions/external-route-host.tsx
  apps/cockpit/src/hooks/use-cockpit-extension-registry.ts
  apps/cockpit/src/lib/extensions/access-context.test.ts
  apps/cockpit/src/lib/extensions/access-context.ts
  apps/cockpit/src/lib/extensions/example-reference/manifest.ts
  apps/cockpit/src/lib/extensions/installed.test.ts
  apps/cockpit/src/lib/extensions/installed.ts
  apps/cockpit/src/lib/extensions/registry.test.ts
  apps/cockpit/src/lib/extensions/registry.ts
  apps/cockpit/src/lib/extensions/types.ts
  apps/cockpit/src/routes/explore/extensions.test.tsx
  apps/cockpit/src/routes/explore/extensions.tsx
  docs/how-to/install-cockpit-extension-package.md
  src/application/ports/cockpit-extension-activation-source.ts
  src/infrastructure/cockpit/env-cockpit-extension-activation-source.test.ts
  src/infrastructure/cockpit/env-cockpit-extension-activation-source.ts
  src/presentation/ops-cockpit/types.ts
  src/presentation/runtime/control-plane-handler.cockpit-extension-context.ts
  src/presentation/runtime/control-plane-handler.test.ts
Due: backend, cockpit

chore: close bead-1062
  .beads/issues.jsonl
Due: none

chore: start parallel beads batch 3
  .beads/issues.jsonl
Due: none

test: harden operator surface schema
  .specify/specs/operator-surface-generated-ui-v1.md
  apps/cockpit/src/components/cockpit/operator-surface-renderer.test.tsx
  src/domain/operator-surfaces/operator-surface-v1.test.ts
  src/domain/operator-surfaces/operator-surface-v1.ts
Due: backend

chore: close bead-1064
  .beads/issues.jsonl
Due: none

feat: govern outbound communication actions
  .specify/specs/outbound-communication-compliance-v1.md
  src/application/commands/propose-agent-action.audit.ts
  src/application/commands/propose-agent-action.helpers.ts
  src/application/commands/propose-agent-action.test.ts
  src/application/commands/propose-agent-action.ts
  src/domain/policy/index.ts
  src/domain/policy/outbound-communication-compliance-v1.test.ts
  src/domain/policy/outbound-communication-compliance-v1.ts
Due: backend

chore: close bead-1071
  .beads/issues.jsonl
Due: none

feat: add delegated autonomy hierarchy
  .specify/specs/delegated-autonomy-hierarchy-v1.md
  .specify/specs/operator-interaction-model-v1.md
  src/domain/policy/delegated-autonomy-hierarchy-v1.test.ts
  src/domain/policy/delegated-autonomy-hierarchy-v1.ts
  src/domain/policy/index.ts
Due: backend

chore: close bead-1073
  .beads/issues.jsonl
Due: none

feat: add policy shadow replay reports
  .specify/specs/application-command-query-contract-v1.md
  .specify/specs/policy-change-workflow-v1.md
  src/application/commands/index.ts
  src/application/commands/policy-change-workflow.ts
  src/application/commands/record-policy-change-replay-report.test.ts
  src/application/commands/record-policy-change-replay-report.ts
  src/application/common/actions.test.ts
  src/application/common/actions.ts
  src/application/contracts/application-command-query-contract.fixture.ts
  src/application/contracts/application-command-query-schema.golden.json
  src/application/iam/rbac/workspace-rbac.test.ts
  src/application/iam/rbac/workspace-rbac.ts
  src/application/queries/index.ts
  src/application/queries/preview-policy-change-replay.ts
  src/domain/policy/index.ts
  src/domain/policy/policy-change-workflow-v1.test.ts
  src/domain/policy/policy-change-workflow-v1.ts
  src/domain/policy/policy-shadow-replay-v1.test.ts
  src/domain/policy/policy-shadow-replay-v1.ts
Due: backend

chore: close bead-1068
  .beads/issues.jsonl
Due: none

test: add shift-aware approval coverage experiment
  .specify/specs/approval-evaluation-scenarios-v1.md
  .specify/specs/iteration-2-governed-experiment-suite-v1.md
  experiments/iteration-2/README.md
  experiments/iteration-2/scenarios/shift-aware-approval-coverage/README.md
  experiments/iteration-2/scenarios/shift-aware-approval-coverage/results/.gitkeep
  experiments/iteration-2/scenarios/shift-aware-approval-coverage/run.mjs
  experiments/iteration-2/suite.manifest.json
  experiments/shared/iteration2-telemetry.js
  experiments/shared/iteration2-telemetry.ts
  scripts/integration/iteration-2-suite-manifest.test.ts
  scripts/integration/iteration-2-telemetry.test.ts
  scripts/integration/scenario-shift-aware-approval-coverage.test.ts
Due: none

chore: close bead-1069
  .beads/issues.jsonl
Due: none

feat: add cockpit approval coverage roster
  apps/cockpit/src/hooks/queries/use-workforce.ts
  apps/cockpit/src/lib/role-gate.ts
  apps/cockpit/src/lib/shell/navigation.tsx
  apps/cockpit/src/mocks/fixtures/demo.ts
  apps/cockpit/src/mocks/fixtures/meridian-seed.ts
  apps/cockpit/src/mocks/handlers.ts
  apps/cockpit/src/router.ts
  apps/cockpit/src/routes/cockpit-roles-tenants.test.tsx
  apps/cockpit/src/routes/page-load.test.tsx
  apps/cockpit/src/routes/workforce/coverage.test.tsx
  apps/cockpit/src/routes/workforce/coverage.tsx
  scripts/ci/cockpit-consumed-endpoints.json
  src/presentation/ops-cockpit/types.ts
Due: backend, cockpit

chore: close bead-1072
  .beads/issues.jsonl
Due: none

chore: start parallel beads batch 4
  .beads/issues.jsonl
Due: none

feat: model delegated autonomy exception routing
  .specify/specs/delegated-autonomy-hierarchy-v1.md
  src/domain/policy/delegated-autonomy-exceptions-v1.test.ts
  src/domain/policy/delegated-autonomy-exceptions-v1.ts
  src/domain/policy/index.ts
Due: backend

chore: close bead-1092
  .beads/issues.jsonl
Due: none

feat: add capability posture matrix
  .specify/specs/cockpit-policy-authoring-and-simulation-v1.md
  apps/cockpit/src/components/cockpit/capability-posture-matrix.tsx
  apps/cockpit/src/lib/capability-posture.test.ts
  apps/cockpit/src/lib/capability-posture.ts
  apps/cockpit/src/lib/shell/navigation.tsx
  apps/cockpit/src/router.ts
  apps/cockpit/src/routes/config/capability-posture.test.tsx
  apps/cockpit/src/routes/config/capability-posture.tsx
  apps/cockpit/src/routes/page-load.test.tsx
Due: cockpit

chore: close bead-1081
  .beads/issues.jsonl
Due: none

docs: define policy operator language
  .specify/specs/cockpit-policy-authoring-and-simulation-v1.md
  .specify/specs/cockpit-policy-clarity-pass-v1.md
  .specify/specs/cockpit-policy-operator-language-v1.md
  docs/internal/ui/cockpit/README.md
Due: none

chore: close bead-1086
  .beads/issues.jsonl
Due: none

feat: add policy overview dashboard
  apps/cockpit/src/components/cockpit/policy-overview.tsx
  apps/cockpit/src/mocks/components/demo-policy-studio.tsx
  apps/cockpit/src/router.ts
  apps/cockpit/src/routes/approvals/approvals-triage.test.tsx
  apps/cockpit/src/routes/approvals/index.tsx
  apps/cockpit/src/routes/config/policies-studio.tsx
  apps/cockpit/src/routes/config/policies.test.tsx
  apps/cockpit/src/routes/config/policies.tsx
  apps/cockpit/src/routes/page-load.test.tsx
Due: cockpit

chore: close bead-1080
  .beads/issues.jsonl
Due: none

feat(cockpit): add approval policy precedent workflow
  .specify/specs/presentation-layer-reference-cockpit-v1.md
  apps/cockpit/src/components/cockpit/approval-review-panel.test.tsx
  apps/cockpit/src/components/cockpit/approval-review-panel.tsx
  apps/cockpit/src/components/cockpit/triage-card/mode-error-boundary.tsx
  apps/cockpit/src/components/cockpit/triage-modes/index.ts
  apps/cockpit/src/components/cockpit/triage-modes/lib/approval-context.test.ts
  apps/cockpit/src/components/cockpit/triage-modes/policy-precedent-mode.test.tsx
  apps/cockpit/src/components/cockpit/triage-modes/policy-precedent-mode.tsx
  apps/cockpit/src/lib/approval-policy-conversion.test.ts
  apps/cockpit/src/lib/approval-policy-conversion.ts
  apps/cockpit/src/stores/ui-store.ts
  src/presentation/ops-cockpit/types.machines.ts
Due: backend, cockpit

chore: close bead-1082
  .beads/issues.jsonl
Due: none

chore: align OpenClaw plugin identity path
  .ci/gate-baseline.json
  docs/internal/engineering-layer/README.md
  docs/internal/engineering-layer/build-plan.md
  docs/internal/engineering-layer/system-architecture.md
  docs/internal/research/t3code-architecture.md
  examples/openclaw/experiments.md
  examples/openclaw/results/exp1-approval-lifecycle.json
  examples/openclaw/setup.md
  examples/openclaw/workspace-config.json
  experiments/exp-A-transparency/run.mjs
  experiments/exp-A-transparency/setup.md
  experiments/exp-B-fail-closed/run.mjs
  experiments/openclaw-governance/hypothesis.md
  experiments/openclaw-governance/run.mjs
  package-lock.json
  packages/portarium/README.md
  packages/portarium/openclaw.plugin.json
  packages/portarium/package.json
  packages/portarium/src/client/portarium-client.test.ts
  packages/portarium/src/client/portarium-client.ts
  packages/portarium/src/config.test.ts
  packages/portarium/src/config.ts
  packages/portarium/src/gateway/health.test.ts
  packages/portarium/src/gateway/health.ts
  packages/portarium/src/hooks/before-tool-call.test.ts
  packages/portarium/src/hooks/before-tool-call.ts
  packages/portarium/src/index.ts
  packages/portarium/src/package-identity.test.ts
  packages/portarium/src/services/approval-poller.test.ts
  packages/portarium/src/services/approval-poller.ts
  packages/portarium/src/tools/capability-lookup.ts
  packages/portarium/src/tools/get-run.ts
  packages/portarium/src/tools/list-approvals.ts
  packages/portarium/src/tools/tools.test.ts
  packages/portarium/tsconfig.json
  vitest.config.ts
Due: none

chore: close bead-1036
  .beads/issues.jsonl
Due: none

chore: start batch 5 beads
  .beads/issues.jsonl
Due: none

docs: define software-first proving program
  .specify/specs/software-first-autonomous-venture-proving-ground-v1.md
  docs/internal/governance/software-first-proving-program.md
  docs/project-overview.md
  docs/project-scope.md
  docs/roadmap.md
Due: none

chore: close bead-1097
  .beads/issues.jsonl
Due: none
