Repository 45ck/Portarium: changes, and which Codecov flags are due for each by the changed paths.
All: backend, cockpit

codecov.yml:

# Codecov configuration
# https://docs.codecov.com/docs/codecovyml-reference
#
# Bead: bead-0825

coverage:
  status:
    project:
      default:
        target: auto # compare against base commit
        threshold: 1% # allow 1% drop without failing
        informational: true # don't block PRs on coverage changes (advisory only)
    patch:
      default:
        target: 70% # new code in PRs must be â‰¥70% covered
        informational: true

comment:
  layout: 'reach,diff,flags,tree'
  behavior: default
  require_changes: false

flags:
  backend:
    paths:
      - src/
    carryforward: true
  cockpit:
    paths:
      - apps/cockpit/src/
    carryforward: true

ignore:
  - 'src/**/*.test.ts'
  - 'src/**/index.ts'
  - 'src/infrastructure/migrations/cli.ts'
  - 'src/infrastructure/observability/otel-setup.ts'
  - 'apps/cockpit/src/**/*.test.tsx'
  - 'apps/cockpit/src/**/*.stories.tsx'
  - 'apps/cockpit/src/mocks/**'

chore: audit bead-0897 carryover
  docs/internal/runbooks/legacy-stash-audit.md
Due: none

chore: start bead-0898
  .beads/issues.jsonl
Due: none

chore: close bead-0898
  .beads/issues.jsonl
Due: none

chore: audit bead-0898 carryover
  docs/internal/runbooks/legacy-stash-audit.md
Due: none

chore: start bead-0901
  .beads/issues.jsonl
Due: none

chore: close bead-0901
  .beads/issues.jsonl
Due: none

chore: audit bead-0901 carryover
  docs/internal/runbooks/legacy-stash-audit.md
Due: none

chore: start bead-0902
  .beads/issues.jsonl
Due: none

chore: close bead-0902
  .beads/issues.jsonl
Due: none

feat: restore canonical parity tooling
  .ci/gate-baseline.json
  .specify/specs/canonical-objects-v1.md
  docs/domain/README.md
  docs/domain/canonical-objects.md
  docs/internal/runbooks/legacy-stash-audit.md
  package.json
  scripts/ci/canonical-parity-utils.mjs
  scripts/ci/check-canonical-docs-parity.mjs
  scripts/ci/check-canonical-parity.mjs
  scripts/ci/check-canonical-spec-parity.mjs
  src/domain/canonical/index.test.ts
  src/domain/canonical/index.ts
  src/domain/canonical/objects-v1.test.ts
  src/domain/canonical/objects-v1.ts
  src/infrastructure/ci/check-canonical-parity.test.ts
Due: backend

chore: start bead-0903
  .beads/issues.jsonl
Due: none

chore: close bead-0903
  .beads/issues.jsonl
Due: none

feat: restore evidence governance contracts
  .specify/specs/evidence-retention-policy-v1.md
  docs/internal/runbooks/legacy-stash-audit.md
  docs/spec/openapi/portarium-control-plane.v1.yaml
  src/domain/evidence/evidence-governance-v1.test.ts
  src/domain/evidence/evidence-governance-v1.ts
  src/domain/evidence/index.ts
  src/infrastructure/openapi/openapi-contract.test.ts
  src/infrastructure/openapi/openapi-operation-ids.golden.json
Due: backend

chore: start bead-0904
  .beads/issues.jsonl
Due: none

feat: restore machine invocation contracts
  .specify/specs/machine-interface-v1.md
  docs/internal/runbooks/legacy-stash-audit.md
  docs/spec/openapi/portarium-control-plane.v1.yaml
  src/domain/index.ts
  src/domain/machine-invocations/index.ts
  src/domain/machine-invocations/machine-invocation-v1.test.ts
  src/domain/machine-invocations/machine-invocation-v1.ts
  src/infrastructure/openapi/openapi-contract.test.ts
  src/infrastructure/openapi/openapi-operation-ids.golden.json
  src/infrastructure/sidecar/gateway-sidecar-perf-budget.test.ts
Due: backend

chore: close bead-0904
  .beads/issues.jsonl
Due: none

feat: add live-agent approval lifecycle lab
  .ci/gate-baseline.json
  eslint.config.mjs
  package.json
  scripts/integration/lab-agent-adapter.ts
  scripts/integration/lab-auto-approver.ts
  scripts/integration/scenario-live-approval-lifecycle.test.ts
  scripts/lab/approval-lifecycle-lab.mjs
Due: none

feat: add Gemini demo, multi-agent routing demo, and approval lifecycle scenario tests
  scripts/demo/google-gemini-agent-demo.mjs
  scripts/demo/multi-agent-routing-demo.mjs
  scripts/demo/portarium-tool-proxy.mjs
  scripts/integration/scenario-approval-lifecycle.test.ts
  scripts/integration/scenario-gemini-routing.test.ts
Due: none

chore: seed approval-pipeline-production-readiness campaign + tech-debt beads
  .beads/issues.jsonl
Due: none

chore: remove dead code, fix ADR numbering collisions, update gate baseline
  .ci/gate-baseline.json
  apps/cockpit/package.json
  apps/cockpit/src/components/ui/accordion.tsx
  apps/cockpit/src/components/ui/aspect-ratio.tsx
  apps/cockpit/src/components/ui/calendar.tsx
  apps/cockpit/src/components/ui/carousel.tsx
  apps/cockpit/src/components/ui/chart.tsx
  apps/cockpit/src/components/ui/collapsible.tsx
  apps/cockpit/src/components/ui/context-menu.tsx
  apps/cockpit/src/components/ui/form.tsx
  apps/cockpit/src/components/ui/hover-card.tsx
  apps/cockpit/src/components/ui/input-otp.tsx
  apps/cockpit/src/components/ui/menubar.tsx
  apps/cockpit/src/components/ui/navigation-menu.tsx
  apps/cockpit/src/components/ui/scroll-area.tsx
  apps/cockpit/src/components/ui/sidebar.tsx
  apps/cockpit/src/components/ui/slider.tsx
  apps/cockpit/src/components/ui/sonner.tsx
  apps/cockpit/src/components/ui/toggle-group.tsx
  apps/cockpit/src/components/ui/toggle.tsx
  docs/internal/adr/0121-knip-monorepo-scope-adjustment.md
  docs/internal/adr/0122-untrusted-tool-sandbox-boundaries.md
  docs/internal/adr/0123-multi-region-readiness.md
  docs/internal/adr/ADR-0124-credential-boundary-model.md
  src/cli/commands/agent.ts
  src/cli/commands/approve.ts
  src/cli/commands/events.ts
  src/cli/commands/login.ts
  src/cli/commands/run.ts
  src/cli/commands/workspace.ts
  src/domain/agents/index.ts
  src/domain/ai/index.ts
  src/domain/supply-chain/index.ts
  src/domain/validation/index.ts
  src/infrastructure/janusgraph/fetch-gremlin-http-client.ts
  src/infrastructure/mcp/tool-allowlist-filter.ts
  src/infrastructure/sidecar/portarium-sidecar.ts
  src/infrastructure/weaviate/fetch-weaviate-http-client.ts
Due: backend, cockpit

chore: start bead-0906
  .beads/issues.jsonl
Due: none

feat: add InMemoryApprovalStore implementing ApprovalStore + ApprovalQueryStore
  src/infrastructure/stores/in-memory-approval-store.test.ts
  src/infrastructure/stores/in-memory-approval-store.ts
Due: backend

chore: close bead-0906
  .beads/issues.jsonl
Due: none

chore: start bead-0905
  .beads/issues.jsonl
Due: none

feat: add CreateApproval command for domain-level approval creation
  .specify/specs/application-command-query-contract-v1.md
  src/application/commands/create-approval.test.ts
  src/application/commands/create-approval.ts
  src/application/commands/index.ts
  src/application/common/actions.test.ts
  src/application/common/actions.ts
  src/application/contracts/application-command-query-contract.fixture.ts
  src/application/contracts/application-command-query-schema.golden.json
  src/application/iam/rbac/workspace-rbac.ts
Due: backend

chore: close bead-0905
  .beads/issues.jsonl
Due: none

fix: validate dueAtIso as ISO 8601 date in createApproval
  src/application/commands/create-approval.test.ts
  src/application/commands/create-approval.ts
Due: backend

chore: start bead-0907
  .beads/issues.jsonl
Due: none

chore: close bead-0907
  .beads/issues.jsonl
Due: none

feat: bridge proxy approval lifecycle to domain commands (ADR-0117 H9)
  scripts/demo/portarium-tool-proxy.mjs
Due: none

chore: start bead-0915
  .beads/issues.jsonl
Due: none

feat: release infrastructure — changelog collection, version bumping, tagging strategy
  .ci/gate-baseline.json
  docs/internal/adr/ADR-0125-release-versioning-strategy.md
  package.json
  scripts/release/collect-changelog.mjs
  scripts/release/collect-changelog.test.ts
  scripts/release/prepare-release.mjs
  scripts/release/prepare-release.test.ts
Due: none

chore: close bead-0915
  .beads/issues.jsonl
Due: none

chore: start bead-0908
  .beads/issues.jsonl
Due: none

feat: SSE approval event stream for cockpit real-time push
  .ci/gate-baseline.json
  apps/cockpit/src/hooks/queries/use-approval-event-stream.test.ts
  apps/cockpit/src/hooks/queries/use-approval-event-stream.ts
  src/presentation/runtime/control-plane-handler.approvals.contract.test.ts
  src/presentation/runtime/control-plane-handler.approvals.ts
Due: backend, cockpit

chore: close bead-0908
  .beads/issues.jsonl
Due: none

chore: start bead-0909, bead-0913, bead-0914
  .beads/issues.jsonl
Due: none

chore: claim bead-0909, bead-0910, bead-0913, bead-0914
  .beads/issues.jsonl
Due: none

chore: start bead-0909, bead-0910, bead-0912; close bead-0913, bead-0914
  .beads/issues.jsonl
Due: none

feat: add approval expiry and escalation scheduler (bead-0910)
  src/application/services/approval-expiry-scheduler.test.ts
  src/application/services/approval-expiry-scheduler.ts
  src/application/services/approval-scheduler-runner.test.ts
  src/application/services/approval-scheduler-runner.ts
  src/domain/approvals/approval-escalation-events-v1.ts
  src/domain/approvals/index.ts
  src/domain/events/domain-events-v1.ts
Due: backend
