Repository 45ck/Portarium: changes, and which Codecov flags are due for each by the changed paths.
All: backend, cockpit

codecov.yml:

# Codecov configuration
# https://docs.codecov.com/docs/codecovyml-reference
#
# Bead: bead-0825

coverage:
  status:
    project:
      default:
        target: auto # compare against base commit
        threshold: 1% # allow 1% drop without failing
        informational: true # don't block PRs on coverage changes (advisory only)
    patch:
      default:
        target: 70% # new code in PRs must be â‰¥70% covered
        informational: true

comment:
  layout: 'reach,diff,flags,tree'
  behavior: default
  require_changes: false

flags:
  backend:
    paths:
      - src/
    carryforward: true
  cockpit:
    paths:
      - apps/cockpit/src/
    carryforward: true

ignore:
  - 'src/**/*.test.ts'
  - 'src/**/index.ts'
  - 'src/infrastructure/migrations/cli.ts'
  - 'src/infrastructure/observability/otel-setup.ts'
  - 'apps/cockpit/src/**/*.test.tsx'
  - 'apps/cockpit/src/**/*.stories.tsx'
  - 'apps/cockpit/src/mocks/**'

fix: harden approval idempotency
  .specify/specs/agent-action-governance-lifecycle-v1.md
  .specify/specs/application-layer-v1.md
  .specify/specs/workflow-action-execution-semantics-v1.md
  docs/spec/openapi/portarium-control-plane.v1.yaml
  src/application/commands/execute-approved-agent-action.test.ts
  src/application/commands/execute-approved-agent-action.ts
  src/application/commands/submit-approval.test.ts
  src/application/commands/submit-approval.ts
  src/application/ports/action-runner.ts
  src/application/ports/machine-invoker.ts
  src/infrastructure/machines/machine-invoker-action-runner.ts
  src/infrastructure/openapi/openapi-operation-ids.golden.json
  src/infrastructure/openclaw/machine-invoker-action-runner.ts
  src/infrastructure/openclaw/openclaw-gateway-machine-invoker.ts
  src/presentation/runtime/control-plane-handler.agent-action-execute.contract.test.ts
  src/presentation/runtime/control-plane-handler.agent-action-execute.ts
  src/presentation/runtime/control-plane-handler.approvals.contract.test.ts
  src/presentation/runtime/control-plane-handler.approvals.ts
Due: backend

fix: stabilize approved action execution identity
  .specify/specs/agent-action-governance-lifecycle-v1.md
  .specify/specs/workflow-action-execution-semantics-v1.md
  src/application/commands/execute-approved-agent-action.test.ts
  src/application/commands/execute-approved-agent-action.ts
Due: backend

test: cover stable execution retry identity
  src/application/commands/execute-approved-agent-action.test.ts
Due: none

test: update approval command contract golden
  src/application/contracts/application-command-query-schema.golden.json
Due: backend

test: disambiguate approvals smoke heading
  e2e/smoke/run-flows.spec.ts
Due: none

chore: close bead-1139
  .beads/issues.jsonl
Due: none

chore: start bead-1140
  .beads/issues.jsonl
Due: none

chore: update bead-1140 scope
  .beads/issues.jsonl
Due: none

fix: add atomic approval execution claims
  .specify/specs/agent-action-governance-lifecycle-v1.md
  .specify/specs/approval-v1.md
  .specify/specs/workflow-action-execution-semantics-v1.md
  apps/cockpit/src/components/cockpit/approval-status-badge.tsx
  apps/cockpit/src/mocks/fixtures/meridian-seed.ts
  docs/explanation/adr-index.md
  docs/internal/adr/ADR-0142-approval-execution-atomic-claim-cas.md
  docs/spec/openapi/portarium-control-plane.v1.yaml
  src/application/commands/execute-approved-agent-action.test.ts
  src/application/commands/execute-approved-agent-action.ts
  src/application/commands/submit-approval.test.ts
  src/application/commands/submit-approval.ts
  src/application/contracts/application-command-query-schema.golden.json
  src/application/ports/approval-store.ts
  src/application/queries/list-approvals.ts
  src/domain/approvals/approval-v1.ts
  src/domain/services/approval-status-transitions.test.ts
  src/domain/services/approval-status-transitions.ts
  src/domain/services/state-machine-invariants-v1.test.ts
  src/infrastructure/postgresql/in-memory-sql-client.test-helpers.ts
  src/infrastructure/postgresql/postgres-json-document-store.ts
  src/infrastructure/postgresql/postgres-store-adapters.integration.test.ts
  src/infrastructure/postgresql/postgres-store-adapters.ts
  src/presentation/ops-cockpit/types.ts
  src/presentation/runtime/control-plane-handler.agent-action-execute.contract.test.ts
  src/presentation/runtime/control-plane-handler.bootstrap.ts
  src/presentation/vv/cockpit-contract-behavior.test.ts
  src/vv/cross-layer-alignment.test.ts
Due: backend, cockpit

chore: close bead-1140
  .beads/issues.jsonl
Due: none

chore: start bead-1141
  .beads/issues.jsonl
Due: none

fix: add durable execution reservations
  .specify/specs/agent-action-governance-lifecycle-v1.md
  .specify/specs/approval-v1.md
  .specify/specs/workflow-action-execution-semantics-v1.md
  docs/internal/adr/ADR-0142-approval-execution-atomic-claim-cas.md
  docs/spec/openapi/portarium-control-plane.v1.yaml
  src/application/commands/execute-approved-agent-action.test.ts
  src/application/commands/execute-approved-agent-action.ts
  src/application/ports/idempotency.ts
  src/infrastructure/postgresql/in-memory-sql-client.test-helpers.ts
  src/infrastructure/postgresql/postgres-json-document-store.ts
  src/infrastructure/postgresql/postgres-store-adapters.integration.test.ts
  src/infrastructure/postgresql/postgres-store-adapters.ts
  src/presentation/runtime/control-plane-handler.agent-action-execute.contract.test.ts
  src/presentation/runtime/control-plane-handler.approvals.ts
  src/sdk/portarium-client.test.ts
  src/sdk/portarium-client.ts
Due: backend

chore: close bead-1141
  .beads/issues.jsonl
Due: none

chore: add live approval eval follow-up
  .beads/issues.jsonl
Due: none

chore: start bead-1142
  .beads/issues.jsonl
Due: none

docs: add approval evaluation runbook
  .specify/specs/approval-evaluation-scenarios-v1.md
  .specify/specs/iteration-2-governed-experiment-suite-v1.md
  .specify/specs/live-model-experiment-preflight-v1.md
  docs/how-to/run-approval-evaluations.md
  docs/how-to/run-core-governance-eval.md
  docs/index.md
Due: none

test: add approval evaluation scenarios
  .ci/gate-baseline.json
  .specify/specs/approval-evaluation-scenarios-v1.md
  .specify/specs/live-model-experiment-preflight-v1.md
  docs/how-to/run-approval-evaluations.md
  docs/how-to/run-live-model-experiments.md
  docs/internal/adr/ADR-0143-scenario-test-command-baseline-update.md
  experiments/iteration-2/scenarios/execution-reservation-recovery/README.md
  experiments/iteration-2/scenarios/execution-reservation-recovery/run.mjs
  experiments/iteration-2/suite.manifest.json
  experiments/shared/live-model-preflight.js
  experiments/shared/live-model-preflight.ts
  package.json
  scripts/integration/iteration-2-suite-manifest.test.ts
  scripts/integration/live-model-preflight.test.ts
  scripts/integration/scenario-execution-reservation-recovery.test.ts
  scripts/integration/scenario-live-approval-lifecycle.test.ts
  scripts/integration/scenario-policy-approval-routing-eval.test.ts
Due: none

chore: close bead-1142
  .beads/issues.jsonl
Due: none

chore: file live preflight follow-up
  .beads/issues.jsonl
Due: none

chore: start bead-1143
  .beads/issues.jsonl
Due: none

chore: close bead-1143
  .beads/issues.jsonl
Due: none

test: extend live model preflight providers
  .specify/specs/live-model-experiment-preflight-v1.md
  docs/how-to/run-live-model-experiments.md
  experiments/shared/live-model-preflight.js
  experiments/shared/live-model-preflight.ts
  scripts/integration/live-model-preflight.test.ts
  scripts/integration/scenario-live-approval-lifecycle.test.ts
  src/infrastructure/sidecar/gateway-sidecar-perf-budget.test.ts
Due: none

chore: start parallel beads
  .beads/issues.jsonl
Due: none

test: harden operator plugin host contract
  .specify/specs/presentation-layer-reference-cockpit-v1.md
  docs/internal/adr/ADR-0141-cockpit-portarium-plugin-extensibility.md
  docs/spec/openapi/portarium-control-plane.v1.yaml
  src/application/ports/cockpit-extension-host-contract.ts
  src/application/ports/index.ts
  src/presentation/runtime/control-plane-handler.cockpit-extension-context.ts
  src/presentation/runtime/control-plane-handler.test.ts
Due: backend

test: define approval feedback routing contract
  .specify/specs/application-layer-v1.md
  .specify/specs/approval-v1.md
  .specify/specs/operator-interaction-model-v1.md
  src/application/commands/submit-approval.test.ts
  src/application/commands/submit-approval.ts
  src/application/contracts/application-command-query-schema.golden.json
  src/domain/approvals/approval-decision-record-v1.test.ts
  src/domain/approvals/approval-decision-record-v1.ts
  src/domain/approvals/approval-feedback-v1.test.ts
  src/domain/approvals/approval-feedback-v1.ts
  src/domain/approvals/approval-v1.test.ts
  src/domain/approvals/approval-v1.ts
  src/domain/approvals/index.ts
Due: backend

test: harden cockpit extensions explorer
  apps/cockpit/src/components/cockpit/command-palette.test.tsx
  apps/cockpit/src/hooks/use-keyboard-shortcuts.test.tsx
  apps/cockpit/src/lib/extensions/example-reference/manifest.ts
  apps/cockpit/src/lib/extensions/example-reference/route-loaders.ts
  apps/cockpit/src/lib/extensions/example-reference/routes/detail.tsx
  apps/cockpit/src/lib/extensions/installed.test.ts
  apps/cockpit/src/lib/extensions/installed.ts
  apps/cockpit/src/lib/extensions/registry.test.ts
  apps/cockpit/src/lib/extensions/route-host.test.ts
  apps/cockpit/src/lib/shell/navigation.test.tsx
  apps/cockpit/src/routes/explore/extensions.test.tsx
  apps/cockpit/src/routes/explore/extensions.tsx
  apps/cockpit/src/routes/external/external-route-host.test.tsx
  apps/cockpit/src/routes/mobile-shell.test.tsx
Due: cockpit

chore: close bead-1054
  .beads/issues.jsonl
Due: none

chore: close bead-1119
  .beads/issues.jsonl
Due: none

chore: close bead-1078
  .beads/issues.jsonl
Due: none

test: add risk tier approval card contract
  .specify/specs/cockpit-approval-card-review-depth-v1.md
  apps/cockpit/src/components/cockpit/triage-card/approval-card-contract-panel.tsx
  apps/cockpit/src/components/cockpit/triage-card/approval-card-contract.test.ts
  apps/cockpit/src/components/cockpit/triage-card/approval-card-contract.ts
  apps/cockpit/src/components/cockpit/triage-card/approval-triage-card.tsx
  apps/cockpit/src/components/cockpit/triage-card/index.tsx
  apps/cockpit/src/components/cockpit/triage-card/triage-card-body.tsx
  apps/cockpit/src/components/cockpit/triage-card/triage-decision-area.test.tsx
  apps/cockpit/src/components/cockpit/triage-card/triage-decision-area.tsx
  apps/cockpit/src/components/cockpit/triage-card/triage-default-content.tsx
  apps/cockpit/src/components/cockpit/triage-card/use-triage-card.ts
  e2e/smoke/approval-flow.spec.ts
Due: cockpit

chore: close bead-1079
  .beads/issues.jsonl
Due: none

test: add policy authoring simulation surface
  .specify/specs/cockpit-policy-clarity-pass-v1.md
  apps/cockpit/src/components/cockpit/policy-live-preview.tsx
  apps/cockpit/src/components/cockpit/policy-studio.tsx
  apps/cockpit/src/hooks/queries/use-policies.ts
  apps/cockpit/src/routes/config/policies.test.tsx
  apps/cockpit/src/routes/config/policy-detail.tsx
Due: cockpit

chore: close bead-1060
  .beads/issues.jsonl
Due: none

chore: start parallel beads batch 2
  .beads/issues.jsonl
Due: none

feat(cockpit): add mission control theme tokens
  apps/cockpit/src/components/cockpit/mission-card.test.tsx
  apps/cockpit/src/components/cockpit/mission-card.tsx
  apps/cockpit/src/components/cockpit/theme-picker.test.tsx
  apps/cockpit/src/components/cockpit/theme-picker.tsx
  apps/cockpit/src/hooks/use-theme.ts
  apps/cockpit/src/index.css
  apps/cockpit/src/routes/explore/observability.tsx
Due: cockpit
