Repository 45ck/Portarium: changes, and which Codecov flags are due for each by the changed paths.
All: backend, cockpit

codecov.yml:

# Codecov configuration
# https://docs.codecov.com/docs/codecovyml-reference
#
# Bead: bead-0825

coverage:
  status:
    project:
      default:
        target: auto # compare against base commit
        threshold: 1% # allow 1% drop without failing
        informational: true # don't block PRs on coverage changes (advisory only)
    patch:
      default:
        target: 70% # new code in PRs must be â‰¥70% covered
        informational: true

comment:
  layout: 'reach,diff,flags,tree'
  behavior: default
  require_changes: false

flags:
  backend:
    paths:
      - src/
    carryforward: true
  cockpit:
    paths:
      - apps/cockpit/src/
    carryforward: true

ignore:
  - 'src/**/*.test.ts'
  - 'src/**/index.ts'
  - 'src/infrastructure/migrations/cli.ts'
  - 'src/infrastructure/observability/otel-setup.ts'
  - 'apps/cockpit/src/**/*.test.tsx'
  - 'apps/cockpit/src/**/*.stories.tsx'
  - 'apps/cockpit/src/mocks/**'

docs(engineering): record GSLR-3 scaffold
  .beads/issues.jsonl
  docs/internal/engineering-layer/README.md
  docs/internal/engineering-layer/gslr-3-fixture-scaffold-2026-05-12.md
  docs/internal/engineering-layer/gslr-next-research-conclusions-2026-05-12.md
Due: none

docs(engineering): record post-GSLR-3 decision
  .beads/issues.jsonl
  docs/internal/engineering-layer/README.md
  docs/internal/engineering-layer/gslr-post-gslr3-research-decision-2026-05-12.md
Due: none

docs(engineering): record GSLR-3 live result
  .beads/issues.jsonl
  docs/internal/engineering-layer/README.md
  docs/internal/engineering-layer/gslr-3-live-result-2026-05-12.md
  docs/internal/engineering-layer/gslr-post-gslr3-research-decision-2026-05-12.md
Due: none

feat(evidence): add static engineering card contract
  .beads/issues.jsonl
  docs/internal/engineering-layer/README.md
  docs/internal/engineering-layer/gslr-3-live-result-2026-05-12.md
  docs/internal/engineering-layer/static-evidence-card-schema-2026-05-12.md
  docs/reference/schemas.md
  src/domain/evidence/engineering-evidence-card-v1.test.ts
  src/domain/evidence/engineering-evidence-card-v1.ts
  src/domain/evidence/index.ts
Due: backend

docs(engineering): record GSLR-4 scaffold
  .beads/issues.jsonl
  docs/internal/engineering-layer/README.md
  docs/internal/engineering-layer/gslr-4-fixture-scaffold-2026-05-12.md
  docs/internal/engineering-layer/static-evidence-card-schema-2026-05-12.md
Due: none

docs(engineering): record GSLR-4 live result
  .beads/issues.jsonl
  docs/internal/engineering-layer/README.md
  docs/internal/engineering-layer/gslr-4-fixture-scaffold-2026-05-12.md
  docs/internal/engineering-layer/gslr-4-live-result-2026-05-12.md
  docs/internal/engineering-layer/static-evidence-card-schema-2026-05-12.md
Due: none

docs(engineering): record GSLR-5 live boundary
  .beads/issues.jsonl
  docs/internal/engineering-layer/README.md
  docs/internal/engineering-layer/gslr-5-live-result-2026-05-12.md
Due: none

docs(engineering): record GSLR-5 local repair
  .beads/issues.jsonl
  docs/internal/engineering-layer/README.md
  docs/internal/engineering-layer/gslr-5-local-repair-2026-05-12.md
Due: none

docs(engineering): record GSLR-5R repeat boundary
  .beads/issues.jsonl
  docs/internal/engineering-layer/README.md
  docs/internal/engineering-layer/gslr-5r-local-repeat-2026-05-12.md
Due: none

docs(engineering): record GSLR-6 scaffolded sanitizer boundary
  .beads/issues.jsonl
  docs/internal/engineering-layer/README.md
  docs/internal/engineering-layer/gslr-5r-local-repeat-2026-05-12.md
  docs/internal/engineering-layer/gslr-6-scaffolded-sanitizer-decision-2026-05-12.md
Due: none

docs(engineering): record GSLR-6 scaffold proof
  .beads/issues.jsonl
  docs/internal/engineering-layer/gslr-6-scaffolded-sanitizer-decision-2026-05-12.md
Due: none

docs(engineering): record GSLR-6 local repeats
  .beads/issues.jsonl
  docs/internal/engineering-layer/README.md
  docs/internal/engineering-layer/gslr-6-scaffolded-sanitizer-decision-2026-05-12.md
Due: none

docs(engineering): record GSLR-7 route-record boundary
  .beads/issues.jsonl
  docs/internal/engineering-layer/README.md
  docs/internal/engineering-layer/gslr-7-route-record-result-2026-05-13.md
Due: none

docs(engineering): record GSLR-8 compiler boundary
  .beads/issues.jsonl
  docs/internal/engineering-layer/README.md
  docs/internal/engineering-layer/gslr-8-route-record-compiler-result-2026-05-13.md
Due: none

feat(evidence): add GSLR static card projection
  .beads/issues.jsonl
  docs/internal/engineering-layer/README.md
  docs/internal/engineering-layer/gslr-8-route-record-compiler-result-2026-05-13.md
  docs/internal/engineering-layer/gslr-9-static-card-projection-2026-05-13.md
  docs/internal/engineering-layer/static-evidence-card-schema-2026-05-12.md
  src/domain/evidence/gslr-engineering-evidence-card-projection-v1.test.ts
  src/domain/evidence/gslr-engineering-evidence-card-projection-v1.ts
  src/domain/evidence/index.ts
Due: backend

feat(evidence): add GSLR Cockpit static export
  .beads/issues.jsonl
  docs/internal/engineering-layer/README.md
  docs/internal/engineering-layer/gslr-10-static-cockpit-card-export-2026-05-13.md
  docs/internal/engineering-layer/static-evidence-card-schema-2026-05-12.md
  docs/reference/schemas.md
  src/domain/evidence/engineering-evidence-card-cockpit-export-v1.test.ts
  src/domain/evidence/engineering-evidence-card-cockpit-export-v1.ts
  src/domain/evidence/index.ts
Due: backend

docs(engineering): record GSLR progress checkpoint
  .beads/issues.jsonl
  docs/internal/engineering-layer/README.md
  docs/internal/engineering-layer/gslr-10-static-cockpit-card-export-2026-05-13.md
  docs/internal/engineering-layer/gslr-progress-checkpoint-2026-05-13.md
Due: none

feat(cockpit): add GSLR static evidence view
  .beads/issues.jsonl
  apps/cockpit/src/components/cockpit/gslr-static-evidence-card-fixtures.ts
  apps/cockpit/src/components/cockpit/gslr-static-evidence-card-view.test.tsx
  apps/cockpit/src/components/cockpit/gslr-static-evidence-card-view.tsx
  apps/cockpit/src/router.ts
  apps/cockpit/src/routes/engineering/evidence-cards/static.tsx
  apps/cockpit/src/routes/engineering/static-evidence-cards.test.tsx
  docs/internal/engineering-layer/README.md
  docs/internal/engineering-layer/gslr-11-static-cockpit-fixture-view-2026-05-13.md
  docs/internal/engineering-layer/gslr-progress-checkpoint-2026-05-13.md
Due: cockpit

docs(engineering): add GSLR current progress update
  .beads/issues.jsonl
  docs/internal/engineering-layer/README.md
  docs/internal/engineering-layer/gslr-current-progress-2026-05-13.md
  docs/internal/engineering-layer/gslr-progress-checkpoint-2026-05-13.md
Due: none

feat(evidence): add GSLR signed bundle verifier
  .beads/issues.jsonl
  docs/internal/engineering-layer/README.md
  docs/internal/engineering-layer/gslr-12-signed-evidence-bundle-proof-2026-05-13.md
  docs/internal/engineering-layer/gslr-current-progress-2026-05-13.md
  docs/internal/engineering-layer/gslr-progress-checkpoint-2026-05-13.md
  src/domain/evidence/gslr-evidence-bundle-v1.test.ts
  src/domain/evidence/gslr-evidence-bundle-v1.ts
  src/domain/evidence/index.ts
Due: backend

test(evidence): verify prompt-language GSLR bundle fixtures
  .beads/issues.jsonl
  docs/internal/engineering-layer/gslr-12-5-prompt-language-bundle-fixture-handoff-2026-05-13.md
  docs/internal/engineering-layer/gslr-12-signed-evidence-bundle-proof-2026-05-13.md
  docs/internal/engineering-layer/gslr-current-progress-2026-05-13.md
  docs/reference/schemas.md
  src/domain/evidence/gslr-evidence-bundle-prompt-language-fixtures.test.ts
  src/domain/evidence/gslr-evidence-bundle-v1.test.ts
  src/domain/evidence/gslr-evidence-bundle-v1.ts
Due: backend

feat(cockpit): add GSLR bundle preview
  .beads/issues.jsonl
  apps/cockpit/src/components/cockpit/gslr-manual-bundle-preview-fixtures.ts
  apps/cockpit/src/components/cockpit/gslr-manual-bundle-preview.test.tsx
  apps/cockpit/src/components/cockpit/gslr-manual-bundle-preview.tsx
  apps/cockpit/src/components/cockpit/gslr-static-evidence-card-view.tsx
  apps/cockpit/src/lib/shell/navigation.tsx
  apps/cockpit/src/router.ts
  apps/cockpit/src/routes/engineering/evidence-cards/bundle-preview.tsx
  apps/cockpit/src/routes/engineering/gslr-bundle-preview-route.test.tsx
  apps/cockpit/tsconfig.app.json
  apps/cockpit/vite.config.ts
  docs/internal/engineering-layer/README.md
  docs/internal/engineering-layer/gslr-13-manual-cockpit-bundle-preview-2026-05-13.md
  docs/internal/engineering-layer/gslr-current-progress-2026-05-13.md
Due: cockpit

test(cockpit): add GSLR adversarial bundle corpus
  .beads/issues.jsonl
  apps/cockpit/src/components/cockpit/gslr-manual-bundle-adversarial-fixtures.ts
  apps/cockpit/src/components/cockpit/gslr-manual-bundle-preview.test.tsx
  apps/cockpit/src/components/cockpit/gslr-manual-bundle-preview.tsx
  apps/cockpit/src/routes/engineering/gslr-bundle-preview-route.test.tsx
  docs/internal/engineering-layer/README.md
  docs/internal/engineering-layer/gslr-14-adversarial-static-bundle-corpus-2026-05-13.md
  docs/internal/engineering-layer/gslr-current-progress-2026-05-13.md
  docs/internal/engineering-layer/gslr-progress-checkpoint-2026-05-13.md
Due: cockpit

docs(evidence): add GSLR static import readiness gate
  .beads/issues.jsonl
  docs/internal/engineering-layer/README.md
  docs/internal/engineering-layer/gslr-15-static-import-readiness-design-2026-05-13.md
  docs/internal/engineering-layer/gslr-current-progress-2026-05-13.md
  docs/internal/engineering-layer/gslr-progress-checkpoint-2026-05-13.md
  src/domain/evidence/gslr-static-import-readiness-v1.test.ts
  src/domain/evidence/gslr-static-import-readiness-v1.ts
  src/domain/evidence/index.ts
Due: backend

test(evidence): add GSLR structured rejection corpus
  .beads/issues.jsonl
  apps/cockpit/src/components/cockpit/gslr-14-adversarial-corpus/action-controls-claim.bundle.json
  apps/cockpit/src/components/cockpit/gslr-14-adversarial-corpus/expired-window.bundle.json
  apps/cockpit/src/components/cockpit/gslr-14-adversarial-corpus/invalid-signature.bundle.json
  apps/cockpit/src/components/cockpit/gslr-14-adversarial-corpus/manifest.json
  apps/cockpit/src/components/cockpit/gslr-14-adversarial-corpus/missing-artifact-hash.bundle.json
  apps/cockpit/src/components/cockpit/gslr-14-adversarial-corpus/not-yet-valid-window.bundle.json
  apps/cockpit/src/components/cockpit/gslr-14-adversarial-corpus/payload-hash-tamper.bundle.json
  apps/cockpit/src/components/cockpit/gslr-14-adversarial-corpus/provenance-mismatch.bundle.json
  apps/cockpit/src/components/cockpit/gslr-14-adversarial-corpus/raw-payload-key.bundle.json
  apps/cockpit/src/components/cockpit/gslr-14-adversarial-corpus/runtime-authority-claim.bundle.json
  apps/cockpit/src/components/cockpit/gslr-manual-bundle-adversarial-fixtures.test.ts
  apps/cockpit/src/components/cockpit/gslr-manual-bundle-adversarial-fixtures.ts
  apps/cockpit/src/components/cockpit/gslr-manual-bundle-preview.tsx
  docs/internal/engineering-layer/README.md
  docs/internal/engineering-layer/gslr-16-structured-rejection-codes-portable-corpus-2026-05-13.md
  docs/internal/engineering-layer/gslr-current-progress-2026-05-13.md
  docs/internal/engineering-layer/gslr-progress-checkpoint-2026-05-13.md
  src/domain/evidence/gslr-evidence-bundle-v1.test.ts
  src/domain/evidence/gslr-evidence-bundle-v1.ts
Due: backend, cockpit

test(evidence): add GSLR static imported record contract
  .beads/issues.jsonl
  docs/internal/engineering-layer/README.md
  docs/internal/engineering-layer/gslr-17-persistent-static-imported-record-design-2026-05-13.md
  docs/internal/engineering-layer/gslr-current-progress-2026-05-13.md
  docs/internal/engineering-layer/gslr-progress-checkpoint-2026-05-13.md
  src/domain/evidence/gslr-static-imported-record-v1.test.ts
  src/domain/evidence/gslr-static-imported-record-v1.ts
  src/domain/evidence/index.ts
Due: backend

test(evidence): add GSLR static import repository contract
  .beads/issues.jsonl
  docs/internal/engineering-layer/README.md
  docs/internal/engineering-layer/gslr-18-static-imported-record-repository-design-2026-05-13.md
  docs/internal/engineering-layer/gslr-current-progress-2026-05-13.md
  docs/internal/engineering-layer/gslr-progress-checkpoint-2026-05-13.md
  src/domain/evidence/gslr-static-imported-record-repository-v1.test.ts
  src/domain/evidence/gslr-static-imported-record-repository-v1.ts
  src/domain/evidence/index.ts
Due: backend

test(evidence): add GSLR static import planner
  .beads/issues.jsonl
  docs/internal/engineering-layer/README.md
  docs/internal/engineering-layer/gslr-19-static-imported-record-importer-planning-2026-05-13.md
  docs/internal/engineering-layer/gslr-current-progress-2026-05-13.md
  docs/internal/engineering-layer/gslr-progress-checkpoint-2026-05-13.md
  src/domain/evidence/gslr-static-imported-record-importer-plan-v1.test.ts
  src/domain/evidence/gslr-static-imported-record-importer-plan-v1.ts
  src/domain/evidence/index.ts
Due: backend

docs: plan static evidence review workbench
  .beads/issues.jsonl
  docs/internal/engineering-layer/README.md
  docs/internal/engineering-layer/gslr-current-progress-2026-05-13.md
  docs/internal/engineering-layer/static-evidence-review-workbench-plan-2026-05-13.md
Due: none

feat: add gslr static importer dry run
  .beads/issues.jsonl
  docs/internal/engineering-layer/README.md
  docs/internal/engineering-layer/gslr-20-static-importer-dry-run-fixture-2026-05-13.md
  docs/internal/engineering-layer/gslr-current-progress-2026-05-13.md
  docs/internal/engineering-layer/static-evidence-review-workbench-plan-2026-05-13.md
  src/domain/evidence/gslr-static-importer-dry-run-v1.test.ts
  src/domain/evidence/gslr-static-importer-dry-run-v1.ts
  src/domain/evidence/index.ts
Due: backend

feat: add static evidence workbench route
  .beads/issues.jsonl
  apps/cockpit/src/components/cockpit/gslr-static-evidence-workbench.test.tsx
  apps/cockpit/src/components/cockpit/gslr-static-evidence-workbench.tsx
  apps/cockpit/src/lib/shell/navigation.tsx
  apps/cockpit/src/router.ts
  apps/cockpit/src/routes/engineering/evidence-cards/workbench.tsx
  apps/cockpit/src/routes/engineering/gslr-evidence-workbench-route.test.tsx
  docs/internal/engineering-layer/README.md
  docs/internal/engineering-layer/gslr-current-progress-2026-05-13.md
  docs/internal/engineering-layer/static-evidence-review-workbench-plan-2026-05-13.md
  docs/internal/engineering-layer/static-evidence-review-workbench-route-2026-05-13.md
Due: cockpit

feat: export static evidence operator report
  .beads/issues.jsonl
  apps/cockpit/src/components/cockpit/gslr-static-evidence-workbench.test.tsx
  apps/cockpit/src/components/cockpit/gslr-static-evidence-workbench.tsx
  docs/internal/engineering-layer/README.md
  docs/internal/engineering-layer/gslr-current-progress-2026-05-13.md
  docs/internal/engineering-layer/static-evidence-operator-report-export-2026-05-13.md
  docs/internal/engineering-layer/static-evidence-review-workbench-route-2026-05-13.md
Due: cockpit

feat: add static evidence review notes
  .beads/issues.jsonl
  apps/cockpit/src/components/cockpit/gslr-static-evidence-workbench.test.tsx
  apps/cockpit/src/components/cockpit/gslr-static-evidence-workbench.tsx
  docs/internal/engineering-layer/README.md
  docs/internal/engineering-layer/gslr-current-progress-2026-05-13.md
  docs/internal/engineering-layer/static-evidence-operator-report-export-2026-05-13.md
  docs/internal/engineering-layer/static-evidence-review-note-workflow-2026-05-13.md
Due: cockpit

feat: split static verification design gates
  .beads/issues.jsonl
  docs/internal/engineering-layer/README.md
  docs/internal/engineering-layer/gslr-21-static-verification-design-split-2026-05-13.md
  docs/internal/engineering-layer/gslr-current-progress-2026-05-13.md
  docs/internal/engineering-layer/static-evidence-review-note-workflow-2026-05-13.md
  docs/internal/engineering-layer/static-evidence-review-workbench-plan-2026-05-13.md
  src/domain/evidence/gslr-static-import-verification-design-v1.test.ts
  src/domain/evidence/gslr-static-import-verification-design-v1.ts
  src/domain/evidence/index.ts
Due: backend

feat: add persistent static storage design gate
  .beads/issues.jsonl
  docs/internal/engineering-layer/README.md
  docs/internal/engineering-layer/gslr-21-static-verification-design-split-2026-05-13.md
  docs/internal/engineering-layer/gslr-22-persistent-static-storage-design-2026-05-13.md
  docs/internal/engineering-layer/gslr-current-progress-2026-05-13.md
  docs/internal/engineering-layer/static-evidence-review-workbench-plan-2026-05-13.md
  src/domain/evidence/gslr-persistent-static-imported-record-storage-design-v1.test.ts
  src/domain/evidence/gslr-persistent-static-imported-record-storage-design-v1.ts
  src/domain/evidence/index.ts
Due: backend

feat: add static repository implementation checklist
  .beads/issues.jsonl
  docs/internal/engineering-layer/README.md
  docs/internal/engineering-layer/gslr-22-persistent-static-storage-design-2026-05-13.md
  docs/internal/engineering-layer/gslr-23-persistent-static-repository-implementation-readiness-2026-05-13.md
  docs/internal/engineering-layer/gslr-current-progress-2026-05-13.md
  docs/internal/engineering-layer/static-evidence-review-workbench-plan-2026-05-13.md
  src/domain/evidence/gslr-persistent-static-repository-implementation-readiness-v1.test.ts
  src/domain/evidence/gslr-persistent-static-repository-implementation-readiness-v1.ts
  src/domain/evidence/index.ts
Due: backend

feat: add static repository stop review checkpoint
  .beads/issues.jsonl
  docs/internal/engineering-layer/README.md
  docs/internal/engineering-layer/gslr-23-persistent-static-repository-implementation-readiness-2026-05-13.md
  docs/internal/engineering-layer/gslr-24-persistent-static-repository-stop-review-checkpoint-2026-05-13.md
  docs/internal/engineering-layer/gslr-current-progress-2026-05-13.md
  docs/internal/engineering-layer/static-evidence-review-workbench-plan-2026-05-13.md
  src/domain/evidence/gslr-persistent-static-repository-stop-review-checkpoint-v1.test.ts
  src/domain/evidence/gslr-persistent-static-repository-stop-review-checkpoint-v1.ts
  src/domain/evidence/index.ts
Due: backend

feat: add static repository review packet
  .beads/issues.jsonl
  docs/internal/engineering-layer/README.md
  docs/internal/engineering-layer/gslr-24-persistent-static-repository-stop-review-checkpoint-2026-05-13.md
  docs/internal/engineering-layer/gslr-25-persistent-static-repository-review-packet-2026-05-13.md
  docs/internal/engineering-layer/gslr-current-progress-2026-05-13.md
  docs/internal/engineering-layer/static-evidence-review-workbench-plan-2026-05-13.md
  src/domain/evidence/gslr-persistent-static-repository-review-packet-v1.test.ts
  src/domain/evidence/gslr-persistent-static-repository-review-packet-v1.ts
  src/domain/evidence/index.ts
Due: backend

feat: add static repository implementation contract
  .beads/issues.jsonl
  docs/internal/engineering-layer/README.md
  docs/internal/engineering-layer/gslr-25-persistent-static-repository-review-packet-2026-05-13.md
  docs/internal/engineering-layer/gslr-26-persistent-static-repository-port-draft-migration-2026-05-13.md
  docs/internal/engineering-layer/gslr-current-progress-2026-05-13.md
  docs/internal/engineering-layer/static-evidence-review-workbench-plan-2026-05-13.md
  src/domain/evidence/gslr-persistent-static-repository-implementation-v1.test.ts
  src/domain/evidence/gslr-persistent-static-repository-implementation-v1.ts
  src/domain/evidence/index.ts
Due: backend

feat: add static repository adapter contract
  .beads/issues.jsonl
  docs/internal/engineering-layer/README.md
  docs/internal/engineering-layer/gslr-26-persistent-static-repository-port-draft-migration-2026-05-13.md
  docs/internal/engineering-layer/gslr-27-persistent-static-repository-adapter-contract-2026-05-13.md
  docs/internal/engineering-layer/gslr-current-progress-2026-05-13.md
  docs/internal/engineering-layer/static-evidence-review-workbench-plan-2026-05-13.md
  src/domain/evidence/gslr-persistent-static-repository-adapter-contract-v1.test.ts
  src/domain/evidence/gslr-persistent-static-repository-adapter-contract-v1.ts
  src/domain/evidence/index.ts
Due: backend
