Repository 45ck/Portarium: changes, and which Codecov flags are due for each by the changed paths.
All: backend, cockpit

feat(cockpit): scope extension activation context
  apps/cockpit/src/components/cockpit/command-palette.test.tsx
  apps/cockpit/src/components/cockpit/command-palette.tsx
  apps/cockpit/src/components/cockpit/extensions/external-route-host.tsx
  apps/cockpit/src/components/cockpit/mobile-bottom-nav.tsx
  apps/cockpit/src/hooks/queries/use-cockpit-extension-context.ts
  apps/cockpit/src/hooks/use-keyboard-shortcuts.test.tsx
  apps/cockpit/src/hooks/use-keyboard-shortcuts.ts
  apps/cockpit/src/lib/extensions/access-context.test.ts
  apps/cockpit/src/lib/extensions/access-context.ts
  apps/cockpit/src/lib/extensions/registry.test.ts
  apps/cockpit/src/lib/extensions/registry.ts
  apps/cockpit/src/lib/query-client.test.ts
  apps/cockpit/src/lib/query-client.ts
  apps/cockpit/src/routes/__root.tsx
  apps/cockpit/src/routes/explore/extensions.test.tsx
  apps/cockpit/src/routes/explore/extensions.tsx
  apps/cockpit/src/routes/external/external-route-host.test.tsx
  apps/cockpit/src/routes/mobile-shell.test.tsx
  apps/cockpit/src/stores/auth-store.test.ts
  apps/cockpit/src/stores/auth-store.ts
  docs/how-to/install-cockpit-extension-package.md
  docs/internal/adr/ADR-0126-cockpit-extension-host.md
  src/application/common/context.ts
  src/application/iam/claims-to-context.ts
  src/application/ports/cockpit-extension-activation-source.ts
  src/application/ports/index.ts
  src/infrastructure/auth/jose-jwt-authentication.test.ts
  src/infrastructure/auth/jose-jwt-authentication.ts
  src/infrastructure/cockpit/env-cockpit-extension-activation-source.test.ts
  src/infrastructure/cockpit/env-cockpit-extension-activation-source.ts
  src/infrastructure/openapi/openapi-contract.test.ts
  src/infrastructure/openapi/openapi-operation-ids.golden.json
  src/presentation/runtime/control-plane-handler.bootstrap.ts
  src/presentation/runtime/control-plane-handler.cockpit-extension-context.ts
  src/presentation/runtime/control-plane-handler.shared.ts
  src/presentation/runtime/control-plane-handler.test.ts
Due: backend, cockpit

feat: gate cockpit endpoint fixture drift
  apps/cockpit/src/mocks/fixtures/fixture-parity.test.ts
  apps/cockpit/src/mocks/handlers.ts
  apps/cockpit/vitest.coverage.config.ts
  docs/integration/cockpit-api-contract-alignment.md
  scripts/ci/check-cockpit-api-drift.mjs
  scripts/ci/cockpit-consumed-endpoints.json
Due: none

chore: close bead-1133
  .beads/issues.jsonl
Due: none

chore: start bead-1125
  .beads/issues.jsonl
Due: none

fix(cockpit): fail closed during extension context refresh
  apps/cockpit/src/components/cockpit/command-palette.tsx
  apps/cockpit/src/components/cockpit/extensions/external-route-host.tsx
  apps/cockpit/src/components/cockpit/mobile-bottom-nav.tsx
  apps/cockpit/src/hooks/use-keyboard-shortcuts.ts
  apps/cockpit/src/routes/__root.tsx
  apps/cockpit/src/routes/explore/extensions.tsx
Due: cockpit

feat(cockpit): add live web session auth
  .prettierignore
  .specify/specs/cockpit-mobile-delivery-campaign-v1.md
  .specify/specs/cockpit-mobile-foundation-openapi-client-v1.md
  .specify/specs/presentation-layer-reference-cockpit-v1.md
  apps/cockpit/src/hooks/queries/use-approval-event-stream.ts
  apps/cockpit/src/lib/auth-token-provider.ts
  apps/cockpit/src/lib/auth-token.test.ts
  apps/cockpit/src/lib/auth-token.ts
  apps/cockpit/src/lib/control-plane-client.test.ts
  apps/cockpit/src/lib/control-plane-client.ts
  apps/cockpit/src/lib/oidc-client.ts
  apps/cockpit/src/lib/web-session-auth.ts
  apps/cockpit/src/main.tsx
  apps/cockpit/src/routes/__root.tsx
  apps/cockpit/src/routes/auth/login.tsx
  apps/cockpit/src/stores/auth-store.test.ts
  apps/cockpit/src/stores/auth-store.ts
  apps/cockpit/src/vite-env.d.ts
  apps/cockpit/vite.config.ts
  docs/getting-started/local-dev.md
  docs/internal/review/bead-0715-cockpit-mobile-foundation-openapi-client-review.md
  src/infrastructure/adapters/local-dev-docs.test.ts
  src/presentation/runtime/cockpit-web-session.test.ts
  src/presentation/runtime/cockpit-web-session.ts
  src/presentation/runtime/control-plane-handler.bootstrap.ts
  src/presentation/runtime/control-plane-handler.cockpit-web-session.test.ts
  src/presentation/runtime/control-plane-handler.shared.ts
  src/presentation/runtime/control-plane-handler.test.ts
  src/presentation/runtime/control-plane-handler.ts
Due: backend, cockpit

test(cockpit): stub web session auth in preview smoke
  scripts/ci/check-cockpit-preview-smoke.mjs
Due: none

chore: close bead-1125
  .beads/issues.jsonl
Due: none

chore: start bead-1127
  .beads/issues.jsonl
Due: none

feat: add live run approval command parity
  .specify/specs/application-command-query-contract-v1.md
  .specify/specs/control-plane-agent-routing-enforcement-v1.md
  .specify/specs/developer-portal-v1.md
  apps/cockpit/src/components/cockpit/start-run-dialog.tsx
  apps/cockpit/src/hooks/queries/use-approvals.ts
  apps/cockpit/src/hooks/queries/use-runs.ts
  apps/cockpit/src/lib/control-plane-client.test.ts
  apps/cockpit/src/lib/control-plane-client.ts
  apps/cockpit/src/mocks/handlers.ts
  apps/cockpit/src/routes/runs/$runId.tsx
  docker-compose.local.yml
  docs/internal/review/bead-1127-command-endpoint-security-review.md
  scripts/ci/cockpit-consumed-endpoints.json
  src/application/commands/cancel-run.test.ts
  src/application/commands/cancel-run.ts
  src/application/commands/create-approval.test.ts
  src/application/commands/create-approval.ts
  src/application/commands/create-run.test.ts
  src/application/commands/create-run.ts
  src/application/commands/index.ts
  src/application/contracts/application-command-query-contract.fixture.ts
  src/application/contracts/application-command-query-schema.golden.json
  src/domain/services/run-status-transitions.test.ts
  src/domain/services/run-status-transitions.ts
  src/domain/services/state-machine-invariants-v1.test.ts
  src/infrastructure/openapi/openapi-command-endpoints.contract.test.ts
  src/infrastructure/openapi/openapi-contract.test.ts
  src/presentation/ops-cockpit/types.ts
  src/presentation/runtime/control-plane-handler.approvals-create.parity.contract.test.ts
  src/presentation/runtime/control-plane-handler.approvals.contract.test.ts
  src/presentation/runtime/control-plane-handler.approvals.ts
  src/presentation/runtime/control-plane-handler.bootstrap.ts
  src/presentation/runtime/control-plane-handler.runs.contract.test.ts
  src/presentation/runtime/control-plane-handler.runs.parity.contract.test.ts
  src/presentation/runtime/control-plane-handler.runtime-parity.test-support.ts
  src/presentation/runtime/control-plane-handler.shared.ts
  src/presentation/runtime/control-plane-handler.ts
Due: backend, cockpit

chore: close bead-1127
  .beads/issues.jsonl
Due: none

chore: start bead-1128
  .beads/issues.jsonl
Due: none

chore: start bead-1126
  .beads/issues.jsonl
Due: none

feat: add cockpit work item plan evidence parity
  .specify/specs/application-command-query-contract-v1.md
  .specify/specs/control-plane-api-v1.md
  .specify/specs/evidence-v1.md
  .specify/specs/work-item-v1.md
  apps/cockpit/src/hooks/queries/use-evidence.ts
  apps/cockpit/src/hooks/queries/use-plan.ts
  apps/cockpit/src/lib/control-plane-client.test.ts
  apps/cockpit/src/lib/control-plane-client.ts
  docs/spec/openapi/portarium-control-plane.v1.yaml
  scripts/ci/check-cockpit-api-drift.mjs
  scripts/ci/cockpit-consumed-endpoints.json
  src/application/common/actions.test.ts
  src/application/common/actions.ts
  src/application/contracts/application-command-query-contract.fixture.ts
  src/application/contracts/application-command-query-schema.golden.json
  src/application/iam/rbac/workspace-rbac.ts
  src/application/ports/evidence-log.ts
  src/application/ports/index.ts
  src/application/ports/plan-query-store.ts
  src/application/queries/get-plan.test.ts
  src/application/queries/get-plan.ts
  src/application/queries/index.ts
  src/application/queries/list-evidence-entries.test.ts
  src/application/queries/list-evidence-entries.ts
  src/application/queries/list-run-evidence.test.ts
  src/application/queries/list-run-evidence.ts
  src/infrastructure/openapi/openapi-contract.test.ts
  src/infrastructure/postgresql/postgres-eventing.ts
  src/infrastructure/postgresql/postgres-plan-query-store.ts
  src/infrastructure/stores/in-memory-evidence-log.ts
  src/presentation/runtime/control-plane-handler.bootstrap.ts
  src/presentation/runtime/control-plane-handler.cockpit-parity.test.ts
  src/presentation/runtime/control-plane-handler.human-tasks.ts
  src/presentation/runtime/control-plane-handler.runs.parity.contract.test.ts
  src/presentation/runtime/control-plane-handler.runtime-parity.test-support.ts
  src/presentation/runtime/control-plane-handler.shared.ts
  src/presentation/runtime/control-plane-handler.ts
  src/presentation/runtime/control-plane-handler.work-items.contract.test.ts
  src/presentation/runtime/control-plane-handler.work-items.ts
  src/presentation/runtime/control-plane-handler.workforce-validation.ts
Due: backend, cockpit

chore: close bead-1128
  .beads/issues.jsonl
Due: none

chore: close bead-0965
  .beads/issues.jsonl
Due: none

chore: start bead-0967
  .beads/issues.jsonl
Due: none

docs: add mission control integration ADR
  docs/explanation/adr-index.md
  docs/internal/adr/ADR-0140-mission-control-integration.md
  docs/internal/ui/cockpit/mission-control-convergence.md
Due: none

chore: close bead-0967
  .beads/issues.jsonl
Due: none

chore: start bead-1049
  .beads/issues.jsonl
Due: none

feat: harden cockpit tenant data retention
  .specify/specs/cockpit-demo-mock-mode-v1.md
  .specify/specs/cockpit-mobile-offline-baseline-v1.md
  .specify/specs/presentation-layer-reference-cockpit-v1.md
  apps/cockpit/public/sw.js
  apps/cockpit/src/hooks/queries/use-approval-decision-outbox.ts
  apps/cockpit/src/hooks/queries/use-offline-query.ts
  apps/cockpit/src/lib/approval-decision-outbox.test.ts
  apps/cockpit/src/lib/approval-decision-outbox.ts
  apps/cockpit/src/lib/cockpit-data-retention.test.ts
  apps/cockpit/src/lib/cockpit-data-retention.ts
  apps/cockpit/src/lib/cockpit-tenant-data.test.ts
  apps/cockpit/src/lib/cockpit-tenant-data.ts
  apps/cockpit/src/lib/control-plane-client.test.ts
  apps/cockpit/src/lib/control-plane-client.ts
  apps/cockpit/src/lib/offline-cache.test.ts
  apps/cockpit/src/lib/offline-cache.ts
  apps/cockpit/src/lib/pwa-registration.test.ts
  apps/cockpit/src/lib/pwa-registration.ts
  apps/cockpit/src/lib/pwa-service-worker.test.ts
  apps/cockpit/src/lib/query-client.test.ts
  apps/cockpit/src/lib/query-client.ts
  apps/cockpit/src/main.tsx
  apps/cockpit/src/stores/auth-store.test.ts
  apps/cockpit/src/stores/auth-store.ts
  apps/cockpit/src/stores/ui-store.test.ts
  apps/cockpit/src/stores/ui-store.ts
  apps/cockpit/src/vite-env.d.ts
  docs/getting-started/local-dev.md
  docs/how-to/cockpit-pwa-packaging.md
  e2e/smoke/run-flows.spec.ts
Due: cockpit

chore: close bead-1126
  .beads/issues.jsonl
Due: none

chore: start bead-1129
  .beads/issues.jsonl
Due: none

docs: add plugin extensibility ADR
  docs/explanation/adr-index.md
  docs/internal/ADRs-v0.md
  docs/internal/adr/ADR-0126-cockpit-extension-host.md
  docs/internal/adr/ADR-0141-cockpit-portarium-plugin-extensibility.md
Due: none

chore: close bead-1049
  .beads/issues.jsonl
Due: none

chore: start bead-1114
  .beads/issues.jsonl
Due: none

feat: harden cockpit extension registry contract
  apps/cockpit/src/components/cockpit/command-palette.test.tsx
  apps/cockpit/src/components/cockpit/command-palette.tsx
  apps/cockpit/src/components/cockpit/extensions/external-route-adapter.test.ts
  apps/cockpit/src/components/cockpit/extensions/external-route-adapter.ts
  apps/cockpit/src/components/cockpit/extensions/external-route-host.tsx
  apps/cockpit/src/components/cockpit/mobile-bottom-nav.tsx
  apps/cockpit/src/hooks/use-keyboard-shortcuts.test.tsx
  apps/cockpit/src/hooks/use-keyboard-shortcuts.ts
  apps/cockpit/src/lib/extensions/example-ops-demo/manifest.ts
  apps/cockpit/src/lib/extensions/example-ops-demo/route-loaders.ts
  apps/cockpit/src/lib/extensions/example-reference/manifest.ts
  apps/cockpit/src/lib/extensions/example-reference/route-loaders.ts
  apps/cockpit/src/lib/extensions/example-reference/routes/action-review.tsx
  apps/cockpit/src/lib/extensions/example-reference/routes/overview.tsx
  apps/cockpit/src/lib/extensions/fixtures.ts
  apps/cockpit/src/lib/extensions/installed.test.ts
  apps/cockpit/src/lib/extensions/installed.ts
  apps/cockpit/src/lib/extensions/registry.test.ts
  apps/cockpit/src/lib/extensions/registry.ts
  apps/cockpit/src/lib/extensions/types.ts
  apps/cockpit/src/routes/__root.tsx
  apps/cockpit/src/routes/explore/extensions.test.tsx
  apps/cockpit/src/routes/explore/extensions.tsx
  apps/cockpit/src/routes/external/external-route-host.test.tsx
Due: cockpit

chore: close bead-1114
  .beads/issues.jsonl
Due: none

feat: add cockpit config live api parity
  apps/cockpit/src/components/cockpit/register-agent-dialog.tsx
  apps/cockpit/src/hooks/queries/use-adapters.ts
  apps/cockpit/src/hooks/queries/use-agents.ts
  apps/cockpit/src/hooks/queries/use-machines.ts
  apps/cockpit/src/hooks/queries/use-policies.ts
  apps/cockpit/src/hooks/queries/use-users.ts
  apps/cockpit/src/mocks/handlers.ts
  apps/cockpit/src/routes/cockpit-roles-tenants.test.tsx
  apps/cockpit/src/routes/config/users.test.tsx
  apps/cockpit/src/routes/page-load.test.tsx
  apps/cockpit/src/routes/robotics/map-sidebar-layout.test.tsx
  docs/spec/openapi/portarium-control-plane.v1.yaml
  scripts/ci/cockpit-consumed-endpoints.json
  src/application/ports/index.ts
  src/application/ports/policy-store.ts
  src/application/ports/workspace-user-store.ts
  src/infrastructure/openapi/openapi-operation-ids.golden.json
  src/infrastructure/postgresql/postgres-machine-registry-store.ts
  src/infrastructure/postgresql/postgres-store-adapters.ts
  src/infrastructure/stores/in-memory-adapter-registration-store.ts
  src/infrastructure/stores/in-memory-machine-registry-store.test.ts
  src/infrastructure/stores/in-memory-machine-registry-store.ts
  src/infrastructure/stores/in-memory-policy-store.test.ts
  src/infrastructure/stores/in-memory-policy-store.ts
  src/infrastructure/stores/in-memory-workspace-user-store.test.ts
  src/infrastructure/stores/in-memory-workspace-user-store.ts
  src/presentation/runtime/control-plane-handler.adapter-registrations.ts
  src/presentation/runtime/control-plane-handler.bootstrap.ts
  src/presentation/runtime/control-plane-handler.config-contract.test.ts
  src/presentation/runtime/control-plane-handler.machine-agent.contract.test.ts
  src/presentation/runtime/control-plane-handler.machines.ts
  src/presentation/runtime/control-plane-handler.policies.ts
  src/presentation/runtime/control-plane-handler.shared.ts
  src/presentation/runtime/control-plane-handler.ts
  src/presentation/runtime/control-plane-handler.users.ts
Due: backend, cockpit

chore: close bead-1129
  .beads/issues.jsonl
Due: none

chore: start bead-1130
  .beads/issues.jsonl
Due: none

feat: back cockpit workforce with stores
  apps/cockpit/src/hooks/queries/use-workforce.ts
  apps/cockpit/src/mocks/handlers.ts
  apps/cockpit/src/routes/cockpit-roles-tenants.test.tsx
  apps/cockpit/src/routes/page-load.test.tsx
  apps/cockpit/src/routes/robotics/map-sidebar-layout.test.tsx
  scripts/ci/cockpit-consumed-endpoints.json
  src/application/ports/human-task-store.ts
  src/application/ports/workforce-member-store.ts
  src/application/ports/workforce-queue-store.ts
  src/infrastructure/postgresql/postgres-json-document-store.ts
  src/infrastructure/postgresql/postgres-workforce-store-adapters.ts
  src/infrastructure/stores/in-memory-workforce-store.test.ts
  src/infrastructure/stores/in-memory-workforce-store.ts
  src/presentation/runtime/control-plane-handler.bootstrap.test.ts
  src/presentation/runtime/control-plane-handler.bootstrap.ts
  src/presentation/runtime/control-plane-handler.cockpit-parity.test.ts
  src/presentation/runtime/control-plane-handler.human-tasks.ts
  src/presentation/runtime/control-plane-handler.rate-limit.test.ts
  src/presentation/runtime/control-plane-handler.shared.ts
  src/presentation/runtime/control-plane-handler.test.ts
  src/presentation/runtime/control-plane-handler.workforce-members.ts
  src/presentation/runtime/control-plane-handler.workforce-state.ts
  src/presentation/runtime/control-plane-handler.workforce.contract.test.ts
Due: backend, cockpit

chore: close bead-1130
  .beads/issues.jsonl
Due: none

chore: start bead-1131
  .beads/issues.jsonl
Due: none

chore: close bead-1131
  .beads/issues.jsonl
Due: none

chore: start bead-1136
  .beads/issues.jsonl
Due: none

chore: close bead-1136
  .beads/issues.jsonl
Due: none

chore: start bead-1134
  .beads/issues.jsonl
Due: none

Path conditions:
  backend: any of: src/, but not: src/**/*.test.ts, src/**/index.ts, src/infrastructure/migrations/cli.ts, src/infrastructure/observability/otel-setup.ts, apps/cockpit/src/**/*.test.tsx, apps/cockpit/src/**/*.stories.tsx, apps/cockpit/src/mocks/**
  cockpit: any of: apps/cockpit/src/, but not: src/**/*.test.ts, src/**/index.ts, src/infrastructure/migrations/cli.ts, src/infrastructure/observability/otel-setup.ts, apps/cockpit/src/**/*.test.tsx, apps/cockpit/src/**/*.stories.tsx, apps/cockpit/src/mocks/**
