Repository 45ck/Portarium: changes, and which Codecov flags are due for each by the changed paths.
All: backend, cockpit

feat: wire approval scheduler into control plane lifecycle (bead-0910)
  .specify/specs/approval-v1.md
  src/presentation/runtime/control-plane.ts
Due: backend

feat: cockpit agent-action approval context panel (bead-0912)
  apps/cockpit/src/components/cockpit/agent-action-context-panel.stories.tsx
  apps/cockpit/src/components/cockpit/agent-action-context-panel.test.tsx
  apps/cockpit/src/components/cockpit/agent-action-context-panel.tsx
  apps/cockpit/src/components/cockpit/approval-context-panels.tsx
  apps/cockpit/src/components/cockpit/lib/approval-context-panels-summary.ts
  apps/cockpit/src/mocks/fixtures/meridian-seed.ts
Due: cockpit

feat: proposal idempotency deduplication (bead-0909)
  .specify/specs/agent-action-governance-lifecycle-v1.md
  docs/internal/adr/ADR-0118-agent-action-governance.md
  src/application/commands/propose-agent-action.helpers.test.ts
  src/application/commands/propose-agent-action.helpers.ts
  src/application/commands/propose-agent-action.test.ts
  src/application/commands/propose-agent-action.ts
  src/infrastructure/migrations/default-migrations.ts
  src/infrastructure/migrations/schema-migrator.test.ts
  src/infrastructure/postgresql/postgres-agent-action-proposal-store.ts
  src/infrastructure/stores/in-memory-agent-action-proposal-store.test.ts
  src/infrastructure/stores/in-memory-agent-action-proposal-store.ts
Due: backend

fix: address Fagan review defects for bead-0909
  .specify/specs/agent-action-governance-lifecycle-v1.md
  src/application/commands/propose-agent-action.helpers.test.ts
  src/application/commands/propose-agent-action.helpers.ts
  src/application/commands/propose-agent-action.ts
  src/infrastructure/migrations/default-migrations.ts
Due: backend

fix: address Fagan review defects for bead-0912
  apps/cockpit/src/components/cockpit/agent-action-context-panel.test.tsx
  apps/cockpit/src/components/cockpit/lib/approval-context-panels-summary.test.ts
Due: cockpit

fix: address Fagan review defects for bead-0910
  src/application/commands/sweep-escalation-approvals.test.ts
  src/application/commands/sweep-escalation-approvals.ts
  src/application/commands/sweep-expired-approvals.test.ts
  src/application/commands/sweep-expired-approvals.ts
  src/application/ports/approval-scheduler.ts
  src/application/ports/index.ts
  src/application/services/approval-expiry-scheduler.test.ts
  src/application/services/approval-expiry-scheduler.ts
  src/application/services/approval-scheduler-runner.test.ts
  src/application/services/approval-scheduler-runner.ts
  src/infrastructure/scheduler/approval-expiry-scheduler.test.ts
  src/infrastructure/scheduler/approval-expiry-scheduler.ts
  src/presentation/runtime/control-plane.ts
Due: backend

chore: close bead-0909
  .beads/issues.jsonl
Due: none

chore: close bead-0910
  .beads/issues.jsonl
Due: none

chore: close bead-0912
  .beads/issues.jsonl
Due: none

chore: update CI gate baseline after bead-0909, bead-0910, bead-0912
  .ci/gate-baseline.json
Due: none

fix: address Fagan Major defects in bead-0909 idempotency
  src/application/commands/propose-agent-action.helpers.test.ts
  src/application/commands/propose-agent-action.helpers.ts
  src/application/commands/propose-agent-action.ts
  src/domain/machines/agent-action-proposal-v1.ts
  src/infrastructure/stores/in-memory-agent-action-proposal-store.test.ts
  src/infrastructure/stores/in-memory-agent-action-proposal-store.ts
Due: backend

fix: address Fagan inspection MAJOR defects in bead-0910/0912 (Group B+C)
  apps/cockpit/src/components/cockpit/approval-context-panels.tsx
  src/application/commands/sweep-escalation-approvals.test.ts
  src/application/commands/sweep-escalation-approvals.ts
  src/application/commands/sweep-expired-approvals.test.ts
  src/application/commands/sweep-expired-approvals.ts
  src/application/queries/list-approvals.ts
  src/application/services/approval-expiry-scheduler.test.ts
  src/application/services/approval-expiry-scheduler.ts
  src/domain/approvals/approval-v1.ts
  src/domain/approvals/off-platform-approval-v1.ts
  src/domain/primitives/index.ts
  src/domain/services/approval-status-transitions.test.ts
  src/domain/services/approval-status-transitions.ts
  src/presentation/ops-cockpit/types.ts
  src/presentation/runtime/control-plane.ts
  src/vv/cross-layer-alignment.test.ts
Due: backend, cockpit

chore: update gate baseline
  .ci/gate-baseline.json
Due: none

fix: address Fagan review defects in bead-0914 dead code removal
  scripts/demo/portarium-tool-proxy.mjs
  src/application/ports/evidence-chain-adversarial-retry.test.ts
  src/application/ports/preemption-stop-path-latency.test.ts
  src/domain/derived-artifacts/retrieval-ports.ts
  src/infrastructure/adapters/retrieval-release-readiness.test.ts
Due: backend

chore: close bead-0914
  .beads/issues.jsonl
Due: none

chore: update CI gate baseline after sprint + Fagan fixes
  .ci/gate-baseline.json
Due: none

chore: start bead-0911 bead-0913 bead-0916
  .beads/issues.jsonl
Due: none

feat(bead-0913): remove 16 unused individual @radix-ui/* deps from cockpit
  apps/cockpit/package.json
Due: none

feat(bead-0916): upgrade eslint to v10, vite to v7, storybook to v10
  apps/cockpit/package.json
  package.json
Due: none

chore: close bead-0911
  .beads/issues.jsonl
Due: none

chore: close bead-0913
  .beads/issues.jsonl
Due: none

chore: close bead-0916
  .beads/issues.jsonl
  apps/cockpit/package.json
  package.json
Due: none

feat(bead-0911): approval pipeline SLO measurement script and tests
  .specify/specs/approval-pipeline-slo-v1.md
  scripts/qa/approval-pipeline-slo.mjs
  src/application/commands/approval-pipeline-slo.test.ts
  src/application/commands/propose-agent-action.perf.test.ts
Due: none

fix(cockpit): declare sonner and recharts as explicit deps
  apps/cockpit/package.json
Due: none

fix: address Fagan inspection MAJOR defects (bead-0911/0913/0916)
  .github/workflows/ci.yml
  apps/cockpit/package.json
  package.json
  src/application/commands/approval-pipeline-slo.test.ts
  src/application/commands/propose-agent-action.perf.test.ts
Due: none

chore: sync package.json linter updates (eslint-plugin-import-x, typescript-eslint patch)
  package.json
Due: none

fix(fagan-0916): complete eslint-plugin-import-x migration in eslint.config.mjs
  eslint.config.mjs
  package-lock.json
Due: none

fix(fagan-0911): correct SLO script pipeline, concurrency, and bench isolation
  scripts/qa/approval-pipeline-slo.mjs
Due: none

fix(fagan-domain): 5 domain model Major defects (escalation validation, event kinds, EvidenceId brand, status transitions)
  src/domain/approvals/approval-lifecycle-v1.ts
  src/domain/approvals/approval-v1.ts
  src/domain/machines/agent-action-proposal-v1.ts
  src/domain/services/approval-status-transitions.test.ts
  src/domain/services/approval-status-transitions.ts
  src/domain/services/state-machine-invariants-v1.test.ts
Due: backend

fix(fagan-app): sweep tenantId bug (M1) and re-execution guard via Executed status (M2)
  src/application/commands/execute-approved-agent-action.ts
  src/application/commands/sweep-expired-approvals.ts
  src/application/queries/list-approvals.ts
  src/domain/approvals/approval-v1.ts
  src/domain/approvals/off-platform-approval-v1.ts
  src/domain/primitives/index.ts
  src/domain/services/approval-status-transitions.ts
  src/presentation/ops-cockpit/types.ts
Due: backend

fix(fagan-infra): eslint import-x namespace, in-memory store tenantId isolation, prettier format
  docs/internal/ui/cockpit/mock-api.js
  eslint.config.mjs
  scripts/beads/generate-execution-dag.mjs
  scripts/ci/audit-licenses.mjs
  scripts/demo/approval-experiments/h9-portarium-domain/plugin.mjs
  scripts/qa/render-demo-gallery.mjs
  scripts/qa/render-openclaw-demo-clips.mjs
  scripts/qa/render-openclaw-iphone-showcase.mjs
  src/infrastructure/stores/in-memory-agent-action-proposal-store.ts
  src/presentation/runtime/control-plane-handler.events.test.ts
  src/sdk/portarium-client.ts
Due: backend

fix(fagan-cockpit): add rationale input to ApprovalReviewPanel decisions (M1) and fix ARIA tab wiring (M2)
  apps/cockpit/src/components/cockpit/approval-review-panel.test.tsx
  apps/cockpit/src/components/cockpit/approval-review-panel.tsx
Due: cockpit

chore: update CI gate baseline after Fagan fix round 2
  .ci/gate-baseline.json
Due: none

style: prettier format fixes after Fagan rework
  scripts/qa/approval-pipeline-slo.mjs
  src/application/queries/list-approvals.ts
  src/domain/approvals/approval-v1.ts
  src/presentation/ops-cockpit/types.ts
Due: backend

fix: correct Executed/Approved terminal state model and update tests
  src/domain/services/approval-status-transitions.test.ts
  src/domain/services/approval-status-transitions.ts
  src/domain/services/state-machine-invariants-v1.test.ts
Due: backend

style: prettier format approval-status-transitions.test.ts
  src/domain/services/approval-status-transitions.test.ts
Due: none

chore: update CI gate baseline after Fagan round 2 rework
  .ci/gate-baseline.json
Due: none

chore: gitignore qa-evidence/ directory
  .gitignore
Due: none

chore: create beads 0917-0922 from Fagan Minor defects
  .beads/issues.jsonl
Due: none

Path conditions:
  backend: any of: src/, but not: src/**/*.test.ts, src/**/index.ts, src/infrastructure/migrations/cli.ts, src/infrastructure/observability/otel-setup.ts, apps/cockpit/src/**/*.test.tsx, apps/cockpit/src/**/*.stories.tsx, apps/cockpit/src/mocks/**
  cockpit: any of: apps/cockpit/src/, but not: src/**/*.test.ts, src/**/index.ts, src/infrastructure/migrations/cli.ts, src/infrastructure/observability/otel-setup.ts, apps/cockpit/src/**/*.test.tsx, apps/cockpit/src/**/*.stories.tsx, apps/cockpit/src/mocks/**
