Repository 45ck/Portarium: changes, and which Codecov flags are due for each by the changed paths.
All: backend, cockpit

chore: close bead-1146
  .beads/issues.jsonl
Due: none

docs: add governed pilot usefulness scorecard
  .specify/specs/governed-pilot-usefulness-scorecard-v1.md
  .specify/specs/iteration-2-governed-experiment-suite-v1.md
  docs/internal/governance/operator-readiness-calibration.md
  docs/internal/governance/pilot-readiness-sequence.md
  experiments/iteration-2/suite.manifest.json
  scripts/integration/iteration-2-suite-manifest.test.ts
Due: none

chore: close bead-1057
  .beads/issues.jsonl
Due: none

chore: start batch 9 beads
  .beads/issues.jsonl
Due: none

feat: add autonomy budget policy controls
  .specify/specs/autonomy-budget-policy-v1.md
  .specify/specs/policy-v1.md
  src/domain/policy/autonomy-budget-policy-v1.test.ts
  src/domain/policy/autonomy-budget-policy-v1.ts
  src/domain/policy/index.ts
  src/domain/policy/policy-v1.test.ts
  src/domain/policy/policy-v1.ts
  src/domain/services/policy-evaluation-pipeline-v1.test.ts
  src/domain/services/policy-evaluation-pipeline-v1.ts
  src/domain/services/policy-evaluation.test.ts
  src/domain/services/policy-evaluation.ts
Due: backend

chore: close bead-1070
  .beads/issues.jsonl
Due: none

feat: add delegated autonomy scorecard telemetry
  .specify/specs/governed-pilot-usefulness-scorecard-v1.md
  src/domain/policy/delegated-autonomy-scorecard-v1.test.ts
  src/domain/policy/delegated-autonomy-scorecard-v1.ts
  src/domain/policy/index.ts
Due: backend

chore: close bead-1093
  .beads/issues.jsonl
Due: none

chore: start bead-1091
  .beads/issues.jsonl
Due: none

feat: add run charter authority contract
  .specify/specs/delegated-autonomy-hierarchy-v1.md
  .specify/specs/run-charter-v1.md
  .specify/specs/run-v1.md
  apps/cockpit/src/routes/runs/$runId.tsx
  docs/glossary.md
  docs/spec/openapi/portarium-control-plane.v1.yaml
  src/domain/runs/index.ts
  src/domain/runs/run-charter-v1.test.ts
  src/domain/runs/run-charter-v1.ts
  src/domain/runs/run-v1.ts
  src/presentation/ops-cockpit/types.ts
Due: backend, cockpit

chore: close bead-1091
  .beads/issues.jsonl
Due: none

chore: start batch 11 beads
  .beads/issues.jsonl
Due: none

feat: add cited source artifact experiment
  .specify/specs/iteration-2-governed-experiment-suite-v1.md
  experiments/iteration-2/scenarios/source-to-artifact-citation-loop/README.md
  experiments/iteration-2/scenarios/source-to-artifact-citation-loop/results/.gitkeep
  experiments/iteration-2/scenarios/source-to-artifact-citation-loop/run.mjs
  experiments/iteration-2/suite.manifest.json
  scripts/integration/iteration-2-suite-manifest.test.ts
  scripts/integration/scenario-source-to-artifact-citation-loop.test.ts
Due: none

feat: add cited source artifact loop contract
  .specify/specs/trusted-source-ingestion-citation-research-dossier-loop-v1.md
  src/domain/approvals/cited-source-artifact-loop-v1.test.ts
  src/domain/approvals/cited-source-artifact-loop-v1.ts
  src/domain/approvals/index.ts
Due: backend

chore: close bead-1103
  .beads/issues.jsonl
Due: none

feat: add artifact-first approval packets
  .specify/specs/approval-packet-v1.md
  apps/cockpit/src/components/cockpit/approval-review-panel.test.tsx
  apps/cockpit/src/components/cockpit/approval-review-panel.tsx
  docs/spec/openapi/portarium-control-plane.v1.yaml
  src/application/commands/create-approval.test.ts
  src/application/commands/create-approval.ts
  src/application/contracts/application-command-query-schema.golden.json
  src/domain/approvals/approval-packet-v1.test.ts
  src/domain/approvals/approval-packet-v1.ts
  src/domain/approvals/approval-v1.test.ts
  src/domain/approvals/approval-v1.ts
  src/domain/approvals/index.ts
  src/presentation/ops-cockpit/types.commands.ts
  src/presentation/ops-cockpit/types.ts
  src/presentation/runtime/control-plane-handler.approvals.contract.test.ts
  src/presentation/runtime/control-plane-handler.approvals.ts
Due: backend, cockpit

chore: close bead-1105
  .beads/issues.jsonl
Due: none

feat: add self-use alpha evidence pack
  .specify/specs/software-first-autonomous-venture-proving-ground-v1.md
  docs/internal/governance/source-to-micro-saas-self-use-alpha.json
  docs/internal/governance/source-to-micro-saas-self-use-alpha.md
  scripts/governance/validate-self-use-alpha.mjs
  scripts/governance/validate-self-use-alpha.test.ts
Due: none

chore: close bead-1102
  .beads/issues.jsonl
Due: none

feat: add project portfolio cockpit surface
  apps/cockpit/src/hooks/queries/use-projects.ts
  apps/cockpit/src/lib/control-plane-client.test.ts
  apps/cockpit/src/lib/control-plane-client.ts
  apps/cockpit/src/lib/shell/navigation.tsx
  apps/cockpit/src/mocks/fixtures/projects.ts
  apps/cockpit/src/mocks/handlers.ts
  apps/cockpit/src/router.ts
  apps/cockpit/src/routes/page-load.test.tsx
  apps/cockpit/src/routes/projects/index.tsx
  apps/cockpit/src/routes/projects/projects.test.tsx
  scripts/ci/cockpit-consumed-endpoints.json
  src/domain/workspaces/index.ts
  src/domain/workspaces/project-portfolio-v1.test.ts
  src/domain/workspaces/project-portfolio-v1.ts
  src/presentation/ops-cockpit/types.ts
Due: backend, cockpit

chore: close bead-1100
  .beads/issues.jsonl
Due: none

feat: add governed pilot usefulness scorecard
  .specify/specs/governed-pilot-usefulness-scorecard-v1.md
  src/domain/policy/governed-pilot-usefulness-scorecard-v1.test.ts
  src/domain/policy/governed-pilot-usefulness-scorecard-v1.ts
  src/domain/policy/index.ts
Due: backend

chore: close bead-1066
  .beads/issues.jsonl
Due: none

chore: start bead-1104 bead-1067
  .beads/issues.jsonl
Due: none

docs: add pilot readiness decision report
  .beads/issues.jsonl
  docs/internal/governance/pilot-readiness-decision-report.json
  docs/internal/governance/pilot-readiness-decision-report.md
Due: none

feat: add software-first autonomy showcase
  .specify/specs/software-first-autonomous-venture-proving-ground-v1.md
  docs/internal/ui/cockpit/demo-machine/README.md
  examples/showcase/software-first-autonomy/README.md
  examples/showcase/software-first-autonomy/app.js
  examples/showcase/software-first-autonomy/index.html
  examples/showcase/software-first-autonomy/manifest.json
  examples/showcase/software-first-autonomy/showcase-manifest.schema.json
  examples/showcase/software-first-autonomy/software-first-autonomy.desktop.demo.yaml
  examples/showcase/software-first-autonomy/software-first-autonomy.mobile.demo.yaml
  examples/showcase/software-first-autonomy/story.json
  examples/showcase/software-first-autonomy/styles.css
  src/presentation/ops-cockpit/software-first-autonomy-showcase.test.ts
Due: none

chore: close bead-1104
  .beads/issues.jsonl
Due: none

chore: close bead-1067
  .beads/issues.jsonl
Due: none

chore: start bead-1149 bead-1150 bead-1151 bead-1152
  .beads/issues.jsonl
Due: none

feat: rerun micro-saas toolchain realism
  experiments/iteration-2/results/micro-saas-toolchain-redo/toolchain-realism-v3/content-machine-output.json
  experiments/iteration-2/results/micro-saas-toolchain-redo/toolchain-realism-v3/evidence-summary.json
  experiments/iteration-2/results/micro-saas-toolchain-redo/toolchain-realism-v3/external-effect-stubs.json
  experiments/iteration-2/results/micro-saas-toolchain-redo/toolchain-realism-v3/outcome.json
  experiments/iteration-2/results/micro-saas-toolchain-redo/toolchain-realism-v3/queue-metrics.json
  experiments/iteration-2/results/micro-saas-toolchain-redo/toolchain-realism-v3/report.md
  experiments/iteration-2/results/micro-saas-toolchain-redo/toolchain-realism-v3/tool-usage-evidence.json
  experiments/iteration-2/results/micro-saas-toolchain-redo/toolchain-realism-v3/toolchain-preflight.json
  experiments/iteration-2/scenarios/micro-saas-toolchain-redo/README.md
  experiments/iteration-2/scenarios/micro-saas-toolchain-redo/run.mjs
  experiments/iteration-2/scenarios/micro-saas-toolchain-redo/tools/content-machine-pilot.mjs
  experiments/shared/toolchain-preflight.js
  experiments/shared/toolchain-preflight.ts
  scripts/integration/toolchain-preflight.test.ts
Due: none

test: capture pilot live-browser boundary evidence
  experiments/iteration-2/results/production-like-pilot-rehearsal/pilot-rehearsal-v1/browser-qa-evidence.json
  experiments/iteration-2/results/production-like-pilot-rehearsal/pilot-rehearsal-v1/divergence-classification.json
  experiments/iteration-2/results/production-like-pilot-rehearsal/pilot-rehearsal-v1/evidence-summary.json
  experiments/iteration-2/results/production-like-pilot-rehearsal/pilot-rehearsal-v1/outcome.json
  experiments/iteration-2/results/production-like-pilot-rehearsal/pilot-rehearsal-v1/release-candidate-live-browser-evidence.json
  experiments/iteration-2/results/production-like-pilot-rehearsal/pilot-rehearsal-v1/report.md
Due: none

docs: add contained pilot verification sampling coverage
  docs/internal/governance/contained-pilot-verification-sampling-coverage.json
  docs/internal/governance/contained-pilot-verification-sampling-coverage.md
  docs/internal/governance/pilot-readiness-decision-report.json
  docs/internal/governance/pilot-readiness-decision-report.md
  scripts/governance/validate-verification-sampling-coverage.test.ts
Due: none

test: add plugin generated UI red-team evidence
  apps/cockpit/src/lib/extensions/plugin-generated-ui-pilot-red-team.test.ts
  docs/internal/governance/plugin-generated-ui-pilot-red-team.md
  docs/internal/review/artifacts/bead-1152/plugin-generated-ui-red-team/latest/index.json
  scripts/integration/scenario-plugin-generated-ui-red-team.test.ts
Due: cockpit

chore: close bead-1149
  .beads/issues.jsonl
Due: none

chore: close bead-1150
  .beads/issues.jsonl
Due: none

chore: close bead-1151
  .beads/issues.jsonl
Due: none

chore: close bead-1152
  .beads/issues.jsonl
Due: none

chore: start bead-1153
  .beads/issues.jsonl
Due: none

chore: add beads sync compatibility wrapper
  .beads/issues.jsonl
  .ci/gate-baseline.json
  AGENTS.md
  CLAUDE.md
  docs/internal/adr/ADR-0144-beads-sync-compatibility-wrapper.md
  package.json
  scripts/beads/bd-sync.mjs
  src/infrastructure/beads/bd-sync.test.ts
Due: none

chore: close bead-1153
  .beads/issues.jsonl
Due: none

Path conditions:
  backend: any of: src/, but not: src/**/*.test.ts, src/**/index.ts, src/infrastructure/migrations/cli.ts, src/infrastructure/observability/otel-setup.ts, apps/cockpit/src/**/*.test.tsx, apps/cockpit/src/**/*.stories.tsx, apps/cockpit/src/mocks/**
  cockpit: any of: apps/cockpit/src/, but not: src/**/*.test.ts, src/**/index.ts, src/infrastructure/migrations/cli.ts, src/infrastructure/observability/otel-setup.ts, apps/cockpit/src/**/*.test.tsx, apps/cockpit/src/**/*.stories.tsx, apps/cockpit/src/mocks/**
