Repository 45ck/Portarium: changes, and which Codecov flags are due for each by the changed paths.
All: backend, cockpit

codecov.yml:

# Codecov configuration
# https://docs.codecov.com/docs/codecovyml-reference
#
# Bead: bead-0825

coverage:
  status:
    project:
      default:
        target: auto # compare against base commit
        threshold: 1% # allow 1% drop without failing
        informational: true # don't block PRs on coverage changes (advisory only)
    patch:
      default:
        target: 70% # new code in PRs must be â‰¥70% covered
        informational: true

comment:
  layout: 'reach,diff,flags,tree'
  behavior: default
  require_changes: false

flags:
  backend:
    paths:
      - src/
    carryforward: true
  cockpit:
    paths:
      - apps/cockpit/src/
    carryforward: true

ignore:
  - 'src/**/*.test.ts'
  - 'src/**/index.ts'
  - 'src/infrastructure/migrations/cli.ts'
  - 'src/infrastructure/observability/otel-setup.ts'
  - 'apps/cockpit/src/**/*.test.tsx'
  - 'apps/cockpit/src/**/*.stories.tsx'
  - 'apps/cockpit/src/mocks/**'

chore: start bead-1154
  .beads/issues.jsonl
Due: none

docs: reconcile beads sync and pilot proof follow-ups
  .beads/issues.jsonl
  AGENTS.md
  AGENT_LOOP.md
  CLAUDE.md
  docs/explanation/adr-index.md
  docs/internal/governance/pilot-readiness-decision-report.json
  docs/internal/governance/pilot-readiness-decision-report.md
Due: none

chore: close bead-1154
  .beads/issues.jsonl
Due: none

feat(cockpit): harden extensions explorer state
  apps/cockpit/src/routes/explore/extensions.test.tsx
  apps/cockpit/src/routes/explore/extensions.tsx
  docs/internal/adr/ADR-0141-cockpit-portarium-plugin-extensibility.md
Due: cockpit

chore: close bead-1119
  .beads/issues.jsonl
Due: none

test(cockpit): stabilize extension explorer registry assertions
  apps/cockpit/src/routes/explore/extensions.test.tsx
  apps/cockpit/src/routes/explore/extensions.tsx
Due: cockpit

chore: start bead-1155
  .beads/issues.jsonl
Due: none

feat(cockpit): prepare live-stack release proof
  .ci/gate-baseline.json
  apps/cockpit/src/lib/cockpit-csp.test.ts
  apps/cockpit/src/lib/cockpit-csp.ts
  apps/cockpit/vite.config.ts
  docs/internal/governance/cockpit-live-release-gate.md
  docs/internal/qa/cockpit-live-agent-browser-checklist.md
  docs/internal/review/artifacts/bead-1155/live-stack/latest/index.json
  e2e/live-stack/cockpit-live-stack.spec.ts
  package.json
Due: cockpit

fix(cockpit): harden live-stack release proof
  apps/cockpit/src/components/cockpit/triage-card/request-changes-form.tsx
  apps/cockpit/src/components/cockpit/triage-card/triage-decision-area.test.tsx
  apps/cockpit/src/components/cockpit/triage-card/triage-decision-area.tsx
  apps/cockpit/src/lib/cockpit-csp.test.ts
  apps/cockpit/src/lib/cockpit-csp.ts
  apps/cockpit/vite.config.ts
  docs/internal/governance/cockpit-live-release-gate.md
  docs/internal/qa/cockpit-live-agent-browser-checklist.md
  docs/internal/review/artifacts/bead-1155/live-stack/latest/index.json
  e2e/live-stack/cockpit-live-stack.spec.ts
  scripts/qa/start-cockpit-live-e2e.mjs
Due: cockpit

fix(local-stack): repair Docker and live Cockpit smoke
  .cspell/project-words.txt
  docker-compose.local.yml
  docker-compose.yml
  docs/getting-started/local-dev.md
  docs/how-to/first-run-local-integrations.md
  docs/integration/demo-walkthrough.md
  docs/internal/ui/cockpit/lofi-v2-inbox-human-tasks.md
  docs/internal/ui/cockpit/lofi-v2-run-tier-visualization.md
  docs/internal/ui/cockpit/lofi-v2-work-item-owner-picker.md
  docs/internal/ui/cockpit/lofi-v2-workforce-people.md
  e2e/live-stack/cockpit-live-stack.spec.ts
  infra/docker/control-plane.Dockerfile
  infra/docker/sidecar.Dockerfile
  infra/docker/worker.Dockerfile
  infra/openfga/init.mjs
  infra/otel/collector-config.local.yaml
  infra/otel/tempo-config.yaml
  package.json
  reports/review/INSPECTION_RECORD.md
  scripts/assets/generate-cockpit-app-icons.mjs
  scripts/assets/generate-cockpit-assets.mjs
  scripts/db/init-local.mjs
  scripts/db/reset-local.mjs
  scripts/qa/run-cockpit-live-stack-smoke.mjs
  scripts/qa/start-cockpit-live-e2e.mjs
  scripts/seed/seed-cockpit-live.ts
  src/infrastructure/adapters/first-run-guide.test.ts
  src/infrastructure/migrations/default-migrations.ts
  src/presentation/runtime/cockpit-web-session.test.ts
  src/presentation/runtime/cockpit-web-session.ts
  src/presentation/runtime/control-plane-handler.bootstrap.ts
  src/presentation/runtime/control-plane-handler.runs.contract.test.ts
  src/presentation/runtime/control-plane-handler.security-headers.test.ts
  src/presentation/runtime/control-plane-handler.ts
  tsconfig.build.json
Due: backend

feat(cockpit): extend generic plugin host contract
  docs/explanation/adr-index.md
  docs/internal/adr/ADR-0145-generic-cockpit-plugin-host-control-plane.md
  docs/internal/index.md
  docs/internal/ui/cockpit/README.md
  docs/internal/ui/cockpit/generic-plugin-host-implementation-plan.md
  packages/cockpit-extension-sdk/src/conformance.test.ts
  packages/cockpit-extension-sdk/src/conformance.ts
  packages/cockpit-extension-sdk/src/index.ts
  packages/cockpit-extension-sdk/src/manifest-v1.ts
  packages/cockpit-extension-sdk/src/registration-v1.ts
Due: none

docs: plan VM-first engineering sandboxes
  .beads/issues.jsonl
  .specify/specs/engineering-sandbox-provider-v1.md
  docs/internal/adr/ADR-0146-vm-first-governed-engineering-sandboxes.md
  docs/internal/engineering-layer/README.md
  docs/internal/engineering-layer/build-plan.md
  docs/internal/engineering-layer/inspiration-validation-plan.md
  docs/internal/engineering-layer/system-architecture.md
  docs/internal/engineering-layer/vm-sandbox-execution-plan.md
Due: none

feat(cockpit): add generic local extension bridge
  .gitignore
  apps/cockpit/src/components/cockpit/extensions/external-route-components.test.tsx
  apps/cockpit/src/components/cockpit/extensions/external-route-components.tsx
  apps/cockpit/src/components/cockpit/extensions/external-route-data-renderer.tsx
  apps/cockpit/src/components/cockpit/extensions/external-route-host.tsx
  apps/cockpit/src/lib/extensions/installed.ts
  apps/cockpit/src/lib/extensions/local-install.test.ts
  apps/cockpit/src/lib/extensions/local-install.ts
  apps/cockpit/src/lib/extensions/registry.ts
  apps/cockpit/src/lib/extensions/types.ts
  apps/cockpit/src/vite-env.d.ts
  apps/cockpit/tsconfig.app.json
  apps/cockpit/vite.config.ts
  apps/cockpit/vitest.config.ts
  docs/explanation/adr-index.md
  docs/internal/adr/ADR-0146-cockpit-local-extension-install-bridge.md
  docs/internal/index.md
  docs/internal/ui/cockpit/README.md
  docs/internal/ui/cockpit/local-extension-install-bridge.md
Due: cockpit

docs(cockpit): add local extension readiness plan
  docs/internal/index.md
  docs/internal/ui/cockpit/README.md
  docs/internal/ui/cockpit/local-extension-readiness-plan.md
Due: none

fix(cockpit): add launch links for enabled extensions
  apps/cockpit/src/lib/shell/navigation.test.tsx
  apps/cockpit/src/routes/explore/extensions.test.tsx
  apps/cockpit/src/routes/explore/extensions.tsx
Due: cockpit

docs(cockpit): plan map workbench extension slots
  docs/internal/index.md
  docs/internal/ui/cockpit/README.md
  docs/internal/ui/cockpit/map-workbench-extension-slots-plan.md
Due: none

chore(beads): track map workbench implementation
  .beads/issues.jsonl
Due: none

docs(cockpit): record map workbench ADR
  docs/internal/adr/ADR-0147-cockpit-map-workbench-extension-slots.md
  docs/internal/ui/cockpit/map-workbench-extension-slots-plan.md
Due: none

feat(cockpit): add map workbench host skeleton
  .gitignore
  apps/cockpit/src/components/cockpit/map-host/desktop-map-workbench-layout.tsx
  apps/cockpit/src/components/cockpit/map-host/index.ts
  apps/cockpit/src/components/cockpit/map-host/map-workbench-shell.tsx
  apps/cockpit/src/components/cockpit/map-host/mobile-map-workbench-layout.tsx
  apps/cockpit/src/components/cockpit/map-host/selection-codec.test.ts
  apps/cockpit/src/components/cockpit/map-host/selection-codec.ts
  apps/cockpit/src/components/cockpit/map-host/types.ts
  docs/internal/review/bead-1166-map-workbench-test-matrix.md
Due: cockpit

feat(cockpit): render custom extension routes in map host
  apps/cockpit/src/components/cockpit/extensions/external-route-adapter.ts
  apps/cockpit/src/components/cockpit/extensions/external-route-components.test.tsx
  apps/cockpit/src/components/cockpit/extensions/external-route-components.tsx
  apps/cockpit/src/components/cockpit/extensions/external-route-host.tsx
  apps/cockpit/src/components/cockpit/map-host/map-workbench-shell.test.tsx
  apps/cockpit/src/components/cockpit/map-host/types.ts
  apps/cockpit/src/routes/external/$.tsx
  apps/cockpit/src/routes/external/installed-extension-routes.tsx
  docs/internal/ui/cockpit/map-workbench-extension-slots-plan.md
Due: cockpit

docs(engineering): add agent UI inspiration reviews
  docs/internal/engineering-layer/inspiration/README.md
  docs/internal/engineering-layer/inspiration/opencode.md
  docs/internal/engineering-layer/inspiration/t3-code.md
  docs/internal/engineering-layer/inspiration/vibe-kanban.md
Due: none

fix: stabilize cockpit live stack smoke
  .ci/gate-baseline.json
  .dockerignore
  apps/cockpit/src/routes/approvals/index.tsx
  docker-compose.local.yml
  docker-compose.yml
  docs/how-to/first-run-local-integrations.md
  e2e/live-stack/cockpit-live-stack.spec.ts
  e2e/live-stack/playwright.config.ts
  infra/docker/control-plane.Dockerfile
  infra/docker/worker.Dockerfile
  infra/otel/collector-local-config.yaml
  infra/otel/tempo-local-config.yaml
  scripts/qa/run-cockpit-live-stack-smoke.mjs
  scripts/qa/start-cockpit-live-e2e.mjs
  src/presentation/runtime/cockpit-web-session.test.ts
  src/presentation/runtime/cockpit-web-session.ts
Due: backend, cockpit

chore: allow post-rebase spell terms
  .ci/gate-baseline.json
  cspell.json
Due: none

chore: close bead-1155
  .beads/issues.jsonl
Due: none

test: run perf budgets outside coverage
  .ci/gate-baseline.json
  package.json
  src/application/commands/propose-agent-action.perf.test.ts
  src/infrastructure/sidecar/gateway-sidecar-perf-budget.test.ts
Due: none

test(cockpit): stabilize policy precedent rationale input
  apps/cockpit/src/components/cockpit/triage-modes/policy-precedent-mode.test.tsx
Due: none

fix(cockpit): allow storybook csp shell
  apps/cockpit/src/lib/cockpit-csp.test.ts
  apps/cockpit/src/lib/cockpit-csp.ts
  apps/cockpit/vite.config.ts
Due: cockpit

test(cockpit): stabilize coverage interaction timing
  apps/cockpit/src/components/cockpit/run-intervention-panel.test.tsx
  apps/cockpit/vitest.coverage.config.ts
Due: none

fix(cockpit): harden mock bootstrap timeout
  apps/cockpit/src/main.tsx
Due: cockpit

docs: format rebased engineering notes
  docs/internal/adr/ADR-0146-vm-first-governed-engineering-sandboxes.md
  docs/internal/adr/ADR-0147-cockpit-map-workbench-extension-slots.md
  docs/internal/engineering-layer/README.md
  docs/internal/engineering-layer/inspiration-validation-plan.md
  docs/internal/engineering-layer/inspiration/README.md
  docs/internal/engineering-layer/system-architecture.md
  docs/internal/engineering-layer/vm-sandbox-execution-plan.md
  docs/internal/review/bead-1166-map-workbench-test-matrix.md
Due: none

chore: allow engineering inspiration spell terms
  .cspell/project-words.txt
Due: none

test(cockpit): resolve extension sdk in coverage
  apps/cockpit/vitest.coverage.config.ts
Due: none

test(live-stack): tolerate transient read aborts
  e2e/live-stack/cockpit-live-stack.spec.ts
Due: none

feat(cockpit): add read-only map context panel
  apps/cockpit/src/components/cockpit/map-host/index.ts
  apps/cockpit/src/components/cockpit/map-host/map-workbench-shell.test.tsx
  apps/cockpit/src/components/cockpit/map-host/map-workbench-shell.tsx
  apps/cockpit/src/components/cockpit/map-host/read-only-map-host-panel.tsx
  apps/cockpit/src/components/cockpit/map-host/types.ts
Due: cockpit

chore: start bead-1156
  .beads/issues.jsonl
Due: none

docs(engineering-layer): plan hybrid Vibe Kanban Cockpit integration
  .beads/issues.jsonl
  docs/internal/adr/ADR-0148-cockpit-derives-from-vibe-kanban.md
  docs/internal/engineering-layer/agent-driven-backlog-vision.md
  docs/internal/engineering-layer/cockpit-vendor-architecture.md
  docs/internal/engineering-layer/inspiration/README.md
  docs/internal/engineering-layer/integration-build-plan.md
Due: none

docs: reconcile vm sandbox architecture
  .specify/specs/engineering-sandbox-provider-v1.md
  docs/glossary.md
  docs/internal/adr/ADR-0146-vm-first-governed-engineering-sandboxes.md
  docs/internal/engineering-layer/build-plan.md
  docs/internal/engineering-layer/system-architecture.md
  docs/internal/engineering-layer/vm-sandbox-execution-plan.md
Due: none

chore: close bead-1156
  .beads/issues.jsonl
Due: none

docs(engineering-layer): apply quality-review fixes to integration plan
  .beads/issues.jsonl
  docs/internal/adr/ADR-0148-cockpit-derives-from-vibe-kanban.md
  docs/internal/engineering-layer/agent-driven-backlog-vision.md
  docs/internal/engineering-layer/cockpit-vendor-architecture.md
  docs/internal/engineering-layer/integration-build-plan.md
Due: none

chore: start bead-0999
  .beads/issues.jsonl
Due: none
